<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아르바이트 상세페이지</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/alba/detail.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="wrap">
    <!--상단 서브배너-->
    <div class="sub-banner">
        <div class="sub-banner-inner">
            <div class="left-div">
                <span>모집중</span>
                <div class="left-div-title" th:text="${list.albaTitle}"></div>
                <div class="left-div-content" th:text="${list.albaTitleOne}"></div>
            </div>
            <div class="right-div-image">
                <img src="/image/alba/alba_banner.png">
            </div>
        </div>
    </div>

    <div class="content">
        <!--우측 고정 aside-->
        <div id="main_banner_inner3">
            <div id="main_banner_inner4">
                <div id="main_banner_flex_1"></div>
                <div id="main_banner_flex_2">
                    <input type="hidden" id="getAlbaId" th:value="${albaId}">
                    <section id="main_fixed">
                        <aside>
                            <div>
                                <article id="main_fixed_inner1">
                                    <div id="main_fixed_inner2" th:object="${list}">
                                        <div id="main_fixed_category">모집중</div>
                                        <div id="main_fixed_title" th:text="*{albaTitle}"></div>
                                        <div>
                                            <dl>
                                                <div class="main_fixed_dl">
                                                    <dt class="main_fixed_dl_dt">모집기간</dt>
                                                    <dd class="main_fixed_dl_dd" th:with="weekday=${#temporals.dayOfWeekNameShort(list.albaApplyEndDate)}" th:text=" '~' + ${#temporals.format(list.albaApplyEndDate,'YYYY.MM.dd(' +weekday + ')')}"></dd>
                                                </div>
                                                <div class="main_fixed_dl">
                                                    <dt class="main_fixed_dl_dt">작업날짜</dt>
                                                    <dd class="main_fixed_dl_dd" th:with="weekday=${#temporals.dayOfWeekNameShort(list.albaWorkDate)}" th:text="${#temporals.format(list.albaWorkDate,'YYYY.MM.dd(' +weekday + ')')}"></dd>
                                                </div>
                                                <div class="main_fixed_dl">
                                                    <dt class="main_fixed_dl_dt">모집인원</dt>
                                                    <dd class="main_fixed_dl_dd"th:text="*{albaApplyCount} + '/' + *{albaApplyTotalCount} + '명'"></dd>
                                                </div>
                                                <div class="main_fixed_dl">
                                                    <dt class="main_fixed_dl_dt">시급</dt>
                                                    <dd class="main_fixed_dl_dd" th:text="*{albaPrice} + '원'"></dd>
                                                </div>
                                            </dl>
                                        </div>
                                        <!--작성자가 아닌 사람이 해당 게시글에 접속했을 때-->

                                        <button id="main_fixed_button" th:if="${(memberType == 'USER' or memberType == 'MENTEE') and cancel==null }">
                                            <div/>지원하기<div/>
                                        </button>

                                        <!--지원한 게시글에 접근했을 때-->
                                        <button id="cancel" th:if="${(memberType == 'USER' or memberType == 'MENTEE') and cancel!=null }">
                                            <div/>지원 취소하기<div/>
                                        </button>

                                        <!--자신이 작성한 게시글에 접속했을 때 버튼 변경-->
                                        <button id="update_button" th:onclick="|location.href='@{/alba/update(albaId=${list.albaId})}'|" th:if="${memberType == 'FARMER' or memberType == 'MENTOR'}">
                                            <div/>수정하기<div/>
                                        </button>
                                        <button id="remove_button" th:if="${memberType == 'FARMER' or memberType == 'MENTOR'}">
                                            <div/>삭제하기<div/>
                                        </button>
                                        <button type="button" class="list_go_button" onclick="location.href='/alba/list'">
                                            <div/>목록으로<div/>
                                        </button>
                                    </div>
                                </article>
                            </div>
                        </aside>
                    </section>
                </div>
            </div>
        </div>

        <!--컨텐츠 아래 상세내용-->
        <div class="grid-fluid-second-col">
            <div class="grid-fluid-second-col-out">
                <div class="grid-container-out">
                    <div class="grid-container">
                        <!--첫 번째 컨텐츠(농장 큰틀 소개)-->
                        <div class="main-content">
                            <h2 class="title" th:text="${list.albaMainTitle}"></h2>
                            <p class="content" th:text="${list.albaMainContent}"></p>
                        </div>
                        <!--두 번째 컨텐츠(농장 장점 소개)-->
                        <div class="second-content">
                            <h2>저희 농장에서는<br>아래와 같은 장점이 있습니다.</h2>
                            <div class="step">
                                <p class="title" th:text="${list.albaStrongTitle1}"></p>
                                <p class="content" th:text="${list.albaStrongContent1}"></p>
                                <img src="https://cdn.comento.kr/images/edu/detail/edu-career-goodpoint-2.svg">
                            </div>
                            <div class="step">
                                <p class="title" th:text="${list.albaStrongTitle2}"></p>
                                <p class="content" th:text="${list.albaStrongContent2}"></p>
                                <img src="https://cdn.comento.kr/images/edu/detail/edu-career-goodpoint-1.svg">
                            </div>
                            <div class="step">
                                <p class="title" th:text="${list.albaStrongTitle3}"></p>
                                <p class="content" th:text="${list.albaStrongContent3}"></p>
                                <img src="https://cdn.comento.kr/images/edu/detail/edu-career-goodpoint-3.svg">
                            </div>
                        </div>
                    </div>

                    <!--중간 배너-->
                    <div class="middle-banner">
                        <div class="middle-banner-content-out">
                            <div class="middle-banner-content">
                                <p class="topText" th:text="${list.albaBannerTitle}"></p>
                                <p class="bottomText" th:text="${list.albaBannerOne}"><span></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="grid-container">
                        <!--세 번째 컨텐츠(농장주의 서술)-->
                        <div class="third-content">
                            <strong th:text="${list.albaTextTitle}"></strong>
                            <p th:text="${list.albaText}"></p>
                            <p th:text="'농장 위치 : ' + ${list.albaAddress}"></p>
                        </div>
                        <!--농장주의 간단한 프로파일-->
                        <div class="farmer-profile">
                            <!--프로필 아이콘(간단설명)-->
                            <div class="img-icon">
                                <img src="/image/alba/profile.png">
                                <h1 th:text="${list.memberName}"></h1>
                                <span><img src="/image/alba/mentoIcon.png">인증 멘토</span>
                            </div>
                            <!--프로필 상세설명-->
                            <div class="profile-content">
                                <p th:text="${list.albaProfileTitle1}"><strong></strong><br></p>
                                <p th:text="'-' + ${list.albaProfileContent1}"></p>

                                <p th:text="${list.albaProfileTitle2}"><strong></strong><br></p>
                                <p th:text="'-' + ${list.albaProfileContent2}"></p>
                            </div>
                        </div>
                    </div>

                    <!--지도 들어갈 위치-->
                    <div class="alba-location">
                        <div id="map" style="width:750px;height:350px;"></div>
                        <p>아르바이트 주소 : <span class="work-location" id="locations" th:text="${list.albaAddress}"></span></p>
                    </div>

                    <!--신청방법(고정)-->
                    <div class="last-comment">
                        <div class="last-comment-inner">
                            <h2><span>아르바이트 지원 방법을 알려드릴게요!</span></h2>
                            <p>1. 해당 아르바이트를 신청하기 위해서는 우측에 있는 지원하기 버튼을 클릭합니다.<br>
                                2. 클릭 후, 농장주의 이메일을 확인 후 아르바이트 지원서를 해당 이메일로 전송합니다.<br>
                                3. 전송 후 확인 버튼을 누르게 되면 아르바이트 지원이 정상적으로 처리됩니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--지원하기 모달창-->
<div id="modal" style="display: none;">
    <div id="modal-overlay">
        <div class="c-modal">
            <div class="m-wrap modalWrap">
                <input type="hidden" id="getMemberEmail" th:value="${list.memberEmail}">
<!--                <form method="post" th:action="@{/alba/apply(albaId=*{albaId})}" th:object="${list}" id="applyWrite">-->
<!--                <div class="m-title">아르바이트 지원하기</div>-->
<!--                    <div class="m-c-wrap" id="modal-wrap">-->
<!--                        <div class="m-c-title">화면에 출력된 이메일에 지원서를 전송한 후 "메일전송 완료" 버튼을 눌러주세요</div>-->
<!--                        <p>mesudal@naver.com</p>-->
<!--                    </div>-->
<!--                    <div class="applyBtnWrap">-->
<!--                        <button type="button" class="applyBtn">메일전송 완료</button>-->
<!--                        <button type="button" class="cancel">취소</button>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
<!--지원 완료-->
<div id="modalSuccess" style="display: none;">
    <div id="modalSuccess-overlay">
        <div class="c-modal">
            <div class="m-wrap">
                <div class="m-title">아르바이트에 지원해주셔서 감사합니다!</div>
                <form method="post">
                    <div class="m-c-wrap">
                        <div class="m-c-title">빠른 시일 내에 지원결과를 알려드리도록 하겠습니다.</div>
                    </div>
                    <div class="applyBtnWrap">
                        <button type="button" class="listBtn" onclick="location.href='/alba/list'">목록으로</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--지원 취소-->
<div id="cancelModal" style="display: none">
    <div id="modalCancel-overlay">
        <div class="c-modal">
            <div class="m-wrap cancelWrap">
<!--                <form method="post" th:action="@{/alba/applyCancel(albaId=${param.albaId})}" th:object="${list}" id="cancelWrite">-->
<!--                <div class="m-title" >아르바이트 지원 취소</div>-->
<!--                    <div class="m-c-wrap">-->
<!--                        <div class="m-c-title">신청한 아르바이트를 취소하시겠습니까?</div>-->
<!--                    </div>-->
<!--                    <div class="applyBtnWrap">-->
<!--                        <button type="button" class="cancelBtn">예</button>-->
<!--                        <button type="button" class="cancel">아니오</button>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>


<!--글 삭제-->
<div id="removeModal" style="display: none">
    <div id="removeCancel-overlay">
        <div class="c-modal">
            <div class="m-wrap">
                <div class="m-title">아르바이트 글 삭제</div>
                <div class="m-c-wrap">
                    <div class="m-c-title">작성된 아르바이트 게시글을 삭제하시겠습니까?</div>
                </div>
                <div class="applyBtnWrap">
                    <button type="button" class="applyBtn" th:onclick="|location.href='@{/alba/delete(albaId=${param.albaId})}'|">예</button>
                    <button type="button" class="cancel">아니오</button>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f55e971f1bb222a365c9e75eb0175b7e&libraries=services"></script>
<script src="/js/alba/detail.js"></script>
<script th:inline="javascript">

    var albaId = $("#getAlbaId").val();
    var memberEmail = $("#getMemberEmail").val();

    $("#main_fixed_button").on("click", function (){
        add(albaId);
    })

    function add(albaId) {
        console.log(memberEmail);
        let text = "";
        text += '<form id="applyWrite" method="post" action="/alba/apply?albaId=' + albaId + '">'
        text += '<div class="m-title">아르바이트 지원하기</div>'
        text += '<div class="m-c-wrap">'
        text += '<div class="m-c-title">화면에 출력된 이메일에 지원서를 전송한 후 "메일전송 완료" 버튼을 눌러주세요</div>'
        if (memberEmail){
            text += '<p>' + memberEmail +'</p>'
            text += '</div>'
            text += '<div class="applyBtnWrap">'
            text += '<button type="submit" id="submitBtn" class="applyBtn">메일전송 완료</button>'
        }else {
            text += '<p>이메일이 없습니다</p>'
            text += '</div>'
            text += '<div class="applyBtnWrap">'
            text += '<button type="button" class="cancel">나가기</button>'
        }
        text += '<button type="button" class="cancel">취소</button>'
        text += '</div>'
        text += '</form>'

        $("div.modalWrap").html(text);
    }

    $("#cancel").on("click", function (){
        cancel(albaId);
    })

    function cancel(apply){
        let text = "";
            text += '<form id="cancelWrite" method="post" action="/alba/applyCancel?albaId=' + apply + '">'
            text += '<div class="m-title">아르바이트 지원 취소</div>'
            text += '<div class="m-c-wrap">'
            text += '<div class="m-c-title">신청한 아르바이트를 취소하시겠습니까?</div>'
            text += '</div>'
            text += '<div class="applyBtnWrap">'
            text += '<button type="submit" class="cancelBtn">예</button>'
            text += '<button type="button" class="cancel">아니오</button>'
            text += '</div>'
            text += '</form>'

        $("div.cancelWrap").html(text);
    }

</script>
</html>