<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>아르바이트 목록</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/alba/list.css"/>
    <link rel="stylesheet" href="/css/alba/listRes.css"/>
    <link rel="stylesheet" href="/css/alba/paging.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/myPage/paging.css" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
</head>
<body>
    <div th:replace="/header/header.html :: header" class="header"/>

    <div id="wrap">
        <!--서브 배너-->
        <div id="sub_banner">
            <div class="sub_banner_content">
                <div class="left-content">
                    <h2>내가 좋아하고<br>잘할 수 있는 일 찾기</h2>
                    <p>3개의 일경험으로 찾는 진로</p>
                </div>
                <div class="right-content">
                    <img src="/image/alba/sub-banner.png">
                </div>
            </div>
        </div>

        <!--가장 인기 있는 아르바이트 목록(PC : 8개, Mobile : 4개)-->
        <div id="alba_list">
            <h2>곧! 아르바이트가 마감돼요</h2>
            <div class="alba_list_list" id="albaList">
<!--                아래부터 div 추가-->
<!--                <th:block th:each="list:${lists}">-->
<!--                <div class="alba_div" th:onclick="|location.href='@{/alba/detail(albaId=${list.albaId})}'|" th:object="${list}">-->
<!--                    <img th:src="@{/alba/display(fileName=*{albaImage})}" th:if="*{albaImage != null}">-->
<!--                    <div><span style="color: black" th:text="${list.albaApplyCount}"/>/<span style="color: black" th:text="${list.albaApplyTotalCount}"/>명 <span style="color: rgb(238, 126, 65)" >・ <span th:text="${list.albaPrice}"/>원</span></div>-->
<!--                    <p class="alba_title" th:text="*{albaTitle}"></p>-->
<!--                </div>-->
<!--                </th:block>-->
            </div>
        </div>

        <!--일반 아르바이트 목록-->
        <div id="normal_alba_list">
            <!--목록 위에 총 개수 + 필터 메뉴-->
            <div class="top-div">
                <h1>일반 채용정보</h1>
                <p id="countText"></p>
            </div>
            <div class="top-div-filter">
                <span id="recent-btn" style="color: #000000">최신순</span>
                <span id="pay-btn">시급순</span>
                <span id="deadline-btn">마감순</span>
            </div>

            <!--알바 찐 목록 list-->
            <div class="normal_alba_list">
                <!--th 부분-->
                <div id="list_th">
                    <span class="location">근무지</span>
                    <span class="title">공고제목</span>
                    <span class="workDay">근무날짜</span>
                    <span class="pay">급여</span>
                    <span class="registerDay">등록일</span>
                </div>
                <!--아래부터 리스트 쭉 출력해야함-->
                <div id="list-foreach">
<!--                <th:block th:each="recent:${recents}">-->
<!--                <div class="list_td"th:object="${recent}" >-->
<!--                    <div class="location"><p th:text="*{albaAddress}"></p></div>-->
<!--                    <div class="title"><a th:href="@{/alba/detail(albaId=${recent.albaId})}" th:text="*{albaTitle}"></a></div>-->
<!--                    <div class="workDay" th:text="${#temporals.format(recent.albaWorkDate,'yyyy년 MM월 dd일')}"></div>-->
<!--                    <div class="pay" >-->
<!--                        <p class="miniText">시급</p>-->
<!--                        <div th:text="*{albaPrice}"></div>-->
<!--                    </div>-->
<!--                    <div class="registerDay" th:text="${#temporals.format(recent.albaApplyStartDate,'yyyy년 MM월 dd일')}"></div>-->
<!--                </div>-->
<!--                </th:block>-->
                </div>
            <div id="writeBtn">
                <button type="button" onclick="location.href = `/alba/write`" th:if="${memberType == 'FARMER' or memberType == 'MENTOR'}">글쓰기</button>
            </div>

            <!--페이징 처리(PC : 10페이지까지, Mobile : 5페이지까지)-->

                <div id="paging" class="albas" style="margin-bottom: 100px;">
<!--                    <ul th:with="start=${(albas.number/maxPage)*maxPage + 1}, end=(${(albas.totalPages == 0) ? 1 : (start + (maxPage - 1) < albas.totalPages ? start + (maxPage - 1) : albas.totalPages)})">-->
<!--                        <li class="sidePageNum prev" th:if="${albas.pageable.pageNumber > 0}">-->
<!--                            <a th:href="@{/alba/list(page=${((albas.pageable.pageNumber/5)*5) - 1})}" class="page"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
<!--                        </li>-->
<!--                        <th:block  th:each="i: ${#numbers.sequence(start, end)}">-->
<!--                            <li>-->
<!--                                <a class="page" th:href="@{/alba/list(page=${i - 1})}" th:classappend="${i == albas.pageable.pageNumber + 1} ? 'selectPage' : '' " th:text="${i}">1</a>-->
<!--                            </li>-->
<!--                        </th:block >-->
<!--                        <li class="sidePageNum next" th:if="${end < albas.totalPages}">-->
<!--                            <a th:href="@{/alba/list(page=${end})}" class="page"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
        </div>
    </div>
    <footer th:replace="/footer/footer.html :: footer" class="footer"/>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/alba/list.js"></script>
<script th:inline="javascript">

    /*♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦*/
                            /*알바 메인 페이지*/
    /*♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦*/

    /*-----------------------------------------------------------*/
                            /*알바 8개 리스트*/
    /*-----------------------------------------------------------*/
    $(document).ready(function() {
        albaService.mainList({
        }, mainList);
    })

    function mainList(code){
        let text = "";
        code.forEach(function(java){
            text += '<div class="alba_div"><a href="/alba/detail?albaId=' + java.albaId + '">'
            if(java.albaImage != null) {
                text += '<img src="' + '/alba/display?fileName=' + java.albaImage + '">'
            }
            text += '<div>' + java.albaApplyCount + '/' + java.albaApplyTotalCount + '명' + '・' + '<span>' + java.albaPrice + '원' +'</span></div>'
            text += '<p class="alba_title" style="color: black">' + java.albaTitle + '</p>'
            text += '</a>'
            text += '</div>'
        })
        $("#albaList").html(text);
    }
    /*-----------------------------------------------------------*/
                            /*알바 게시글 수*/
    /*-----------------------------------------------------------*/
    $(document).ready(function() {
        albaService.countList({
        }, countList);
    })

    function countList(count){
        let text = '총' + '<span>' + count + '</span>' + '건'
        $("#countText").html(text);
    }
    /*-----------------------------------------------------------*/
                            /*메인 최신순*/
    /*-----------------------------------------------------------*/
    $(document).ready(function() {
        albaService.mainNewList({
            page: globalThis.page
        }, mainNewList);
    })

    function showMainNew(){
        albaService.mainNewList({
            page: globalThis.page
        }, mainNewList);
    }

    function mainNewList(alba) {
        console.log(alba);
        let text = "";
        alba.content.forEach(function (albas) {
            text += '<div class="list_td">'
            text += '<div class="location"><p>' + albas.albaAddress + '</p></div>'
            text += '<div class="title">'
            text += '<a href="/alba/detail?albaId=' + albas.albaId + '">' + albas.albaTitle + '</a></div>'

            let albaWorkDate = new Date(albas.albaWorkDate);
            let albaWorkYear = albaWorkDate.getFullYear();
            let albaWorkMonth = albaWorkDate.getMonth() + 1;
            let albaWorkDay = albaWorkDate.getDate();

            text += '<div class="workDay">' + albaWorkYear + '년' + albaWorkMonth + '월' + albaWorkDay + '일' + '</div>'
            text += '<div class="pay">'
            text += '<p class="miniText">시급</p>'
            text += '<div>' + albas.albaPrice + '</div>'
            text += '</div>'

            let albaStartDate = new Date(albas.albaApplyStartDate);
            let albaStartYear = albaStartDate.getFullYear();
            let albaStartMonth = albaStartDate.getMonth() + 1;
            let albaStartDay = albaStartDate.getDate();

            text += '<div class="registerDay">' + albaStartYear + '년' + albaStartMonth + '월' + albaStartDay + '일' + '</div>'
            text += '</div>'
        });

        $("#list-foreach").html(text);

        showMainNewPage(alba.totalElements);
    }

    globalThis.page = 1;

    function showMainNewPage(totalElements){
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="mainNewpage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage">` + i + `</code>`
                continue;
            }
            text += `<a class="mainNewpage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="mainNewpage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.mainNewpage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showMainNew();
    });

    /*-----------------------------------------------------------*/
                                /*최신순*/
    /*-----------------------------------------------------------*/
    $("#recent-btn").on("click", function() {
        globalThis.page = 1
        albaService.newList({
            page: globalThis.page
        }, newList);
        });

    function showNew(){
        albaService.newList({
            page: globalThis.page
        }, newList);
    }

    function newList(result) {
        console.log(result);
        let text = "";
        result.content.forEach(function (recent) {
            console.log(result);
            text += '<div class="list_td">'
            text += '<div class="location"><p>' + recent.albaAddress + '</p></div>'
            text += '<div class="title">'
            text += '<a href="/alba/detail?albaId=' + recent.albaId + '">' + recent.albaTitle + '</a></div>'

            let albaWorkDate = new Date(recent.albaWorkDate);
            let albaWorkYear = albaWorkDate.getFullYear();
            let albaWorkMonth = albaWorkDate.getMonth() + 1;
            let albaWorkDay = albaWorkDate.getDate();

            text += '<div class="workDay">' + albaWorkYear + '년' + albaWorkMonth + '월' + albaWorkDay + '일' + '</div>'
            text += '<div class="pay">'
            text += '<p class="miniText">시급</p>'
            text += '<div>' + recent.albaPrice + '</div>'
            text += '</div>'

            let albaStartDate = new Date(recent.albaApplyStartDate);
            let albaStartYear = albaStartDate.getFullYear();
            let albaStartMonth = albaStartDate.getMonth() + 1;
            let albaStartDay = albaStartDate.getDate();

            text += '<div class="registerDay">' + albaStartYear + '년' + albaStartMonth + '월' + albaStartDay + '일' + '</div>'
            text += '</div>'
        });

            $("#list-foreach").html(text);

            showNewPage(result.totalElements);
    }

    globalThis.page = 1;

    function showNewPage(totalElements){
        console.log("totalElements : " + totalElements);
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="newPage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage">` + i + `</code>`
                continue;
            }
            text += `<a class="newPage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="newPage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.newPage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showNew();
    });

    /*-----------------------------------------------------------*/
                                /*시급순*/
    /*-----------------------------------------------------------*/
    $("#pay-btn").on("click", function() {
        globalThis.page = 1
        albaService.payList({
            page: globalThis.page
        }, payList);
    });

    function showPay(){
        albaService.payList({
            page: globalThis.page
        }, payList);
    }

    function payList(albaDTO){
        console.log(albaDTO);
        let text = "";
        albaDTO.content.forEach(function(alba){
            text += '<div class="list_td">'
            text += '<div class="location"><p>' + alba.albaAddress + '</p></div>'
            text += '<div class="title">'
            text += '<a href= "/alba/detail?albaId=' + alba.albaId + '">' + alba.albaTitle + '</a></div>'

            let albaWorkDate = new Date(alba.albaWorkDate);
            let albaWorkYear = albaWorkDate.getFullYear();
            let albaWorkMonth = albaWorkDate.getMonth() + 1;
            let albaWorkDay = albaWorkDate.getDate();

            text += '<div class="workDay">' + albaWorkYear + '년' + albaWorkMonth + '월' + albaWorkDay + '일' + '</div>'
            text += '<div class="pay">'
            text += '<p class="miniText">시급</p>'
            text += '<div>' + alba.albaPrice + '</div>'
            text += '</div>'

            let albaStartDate = new Date(alba.albaApplyStartDate);
            let albaStartYear = albaStartDate.getFullYear();
            let albaStartMonth = albaStartDate.getMonth() + 1;
            let albaStartDay = albaStartDate.getDate();

            text += '<div class="registerDay">' + albaStartYear + '년' + albaStartMonth + '월' + albaStartDay + '일' + '</div>'
            text += '</div>'
        });
        $("#list-foreach").html(text);

        showPayPage(albaDTO.totalElements);
    }

    globalThis.page = 1;

    function showPayPage(totalElements){
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="payPage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage">` + i + `</code>`
                continue;
            }
            text += `<a class="payPage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="payPage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.payPage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showPay();
    });

    /*-----------------------------------------------------------*/
                                /*마감순*/
    /*-----------------------------------------------------------*/
    $("#deadline-btn").on("click", function() {
        globalThis.page = 1
        albaService.endList({
            page: globalThis.page
        }, endList);
        $("li .page").removeClass("selectPage");

    });

    function showEnd(){
        albaService.endList({
            page: globalThis.page
        }, endList);
    }

    function endList(list) {
        console.log(list);
        let text = "";
        list.content.forEach(function (job) {
            text += '<div class="list_td">'
            text += '<div class="location"><p>' + job.albaAddress + '</p></div>'
            text += '<div class="title">'
            text += '<a href="/alba/detail?albaId=' + job.albaId + '">' + job.albaTitle + '</a></div>'

            let albaWorkDate = new Date(job.albaWorkDate);
            let albaWorkYear = albaWorkDate.getFullYear();
            let albaWorkMonth = albaWorkDate.getMonth() + 1;
            let albaWorkDay = albaWorkDate.getDate();

            text += '<div class="workDay">' + albaWorkYear + '년' + albaWorkMonth + '월' + albaWorkDay + '일' + '</div>'
            text += '<div class="pay">'
            text += '<p class="miniText">시급</p>'
            text += '<div>' + job.albaPrice + '</div>'
            text += '</div>'

            let albaStartDate = new Date(job.albaApplyStartDate);
            let albaStartYear = albaStartDate.getFullYear();
            let albaStartMonth = albaStartDate.getMonth() + 1;
            let albaStartDay = albaStartDate.getDate();

            text += '<div class="registerDay">' + albaStartYear + '년' + albaStartMonth + '월' + albaStartDay + '일' + '</div>'
            text += '</div>'
        });

        $("#list-foreach").html(text);

        showEndPage(list.totalElements);
    }

    globalThis.page = 1;

    function showEndPage(totalElements){
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="endPage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage page">` + i + `</code>`
                continue;
            }
            text += `<a class="endPage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="endPage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.endPage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showEnd();
    });

</script>
</html>