<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common/font.css"> <!-- 폰트 -->
    <link rel="stylesheet" href="/css/admin/sideMenuList.css"> <!-- 사이드 메뉴 & 해더 -->
    <link rel="stylesheet" href="/css/admin/contents.css"> <!-- 컨텐츠 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/page.css"> <!-- 페이징 -->
    <link rel="stylesheet" href="/css/admin/noticeForm.css"> <!-- 검색 폼 & 테이블 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/notice.css"> <!-- 테이블 개별 스타일 -->
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <!-- 사이드 메뉴 -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/admin/side_menu.js"></script>
    <!-- 버튼 클릭 시 확인 알림창 -->
    <script src="/js/admin/check.js"></script>
    <title>관리자-문의하기 관리</title>
    <style>
        th.content{
            width:40%;
        }
    </style>
</head>

<body>

<div id="wrapper">
    <!-- 세로 메뉴바 -->
    <nav th:replace="/fix/side_menu.html :: sideMenu"></nav>
    <!-- 헤더 ~ 밑에 메인 컨텐츠 -->
    <div id="container">
        <!-- 헤더 -->
        <header>
            <span id="admin-header-title" class="short">문의하기 관리</span>
            <span id="admin-mode">관리자 모드</span>
            <span id="userCount">가입된 회원 수 총 <strong> 21343 </strong>명</span>
        </header>
        <div id="wrapContents">
        <!-- 컨텐츠 검색 부분 -->
        <div class="p-contents chart-no">

            <!-- 검색어 입력 폼 -->
            <form action="" name="searchForm" method="post">
                <div class="search-form">
                        <span class="s-form">
                            <select name="searchSelect">
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="all">제목 + 내용</option>
                                <option value="nickName">작성자</option>
                                <option value="askStatus">상태</option>
                            </select>
                        </span>
                    <span class="s-f-input">
                            <span class="search-input">
                                <input type="text" name="programSearch" placeholder="검색어를 입력하세요">
                            </span>
                        </span>
                    <button type="button" class="">
                        <img src="/image/admin/search.png">
                    </button>
                </div>
            </form>

        </div>

        <!-- 프로그램 리스트 출력 틀 -->
        <div class="p-contents contents-bottom">
                <span class="list-count">총
                    <span>2476</span>건
                </span>
            <table>
                <tr class="title">
                    <th class="num">문의번호</th>
                    <th class="title">제목</th>
                    <th class="content">내용</th>
                    <th class="id">작성자</th>
                    <th class="date">작성날짜</th>
                    <th class="askStatus">상태</th>
                </tr>
                <!-- ↓ 데이터 출력 -->
                <tr>
                    <td>1</td>
                    <td class="title" onclick="location.href='/admin/ask-detail'">첫 번째 문의하기</td>
                    <td class="content">첫 번째 문의하기입니다.</td>
                    <td>herd</td>
                    <td>2022-11-14 10:00</td>
                    <td class="askStatusOk">답변 완료</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="title" onclick="location.href='/admin/ask-detail'">두 번째 문의하기</td>
                    <td class="content">두 번째 문의하기입니다.</td>
                    <td>xogwan</td>
                    <td>2022-11-14 11:00</td>
                    <td class="askStatusWait">답변 대기</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="title" onclick="location.href='/admin/ask-detail'">세 번째 문의하기</td>
                    <td class="content">세 번째 문의하기입니다.</td>
                    <td>xorhks</td>
                    <td>2022-11-14 12:00</td>
                    <td class="askStatusOk">답변 완료</td>
                </tr>
            </table>

            <!-- 페이징 -->
            <div id="page">
                <div class="page_nation">
                    <a class="arrow pprev" href="#"></a>
                    <a class="arrow prev" href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a class="arrow next" href="#"></a>
                    <a class="arrow nnext" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<html>