<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common/font.css"> <!-- 폰트 -->
    <link rel="stylesheet" href="/css/admin/side_menu.css"> <!-- 사이드 메뉴 & 해더 -->
    <!-- 글 작성 폼 -->
    <link rel="stylesheet" href="/css/admin/bannerWrite.css">
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />

    <!-- 썸머노트 API -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- 사이드 메뉴 -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/admin/side_menu.js"></script>
    <!-- 버튼 클릭 시 확인 알림창 -->
    <script src="/js/admin/check.js"></script>
    <title>관리자-배너 수정</title>
</head>

<body style="background-color: #eee;">

<div id="wrapper">
    <!-- 세로 메뉴바 -->
    <nav th:replace="/fix/side_menu.html :: sideMenu"></nav>
    <!-- 헤더 ~ 밑에 메인 컨텐츠 -->
    <div id="container">
        <!-- 헤더 -->
        <header>
            <span id="admin-header-title">배너 수정</span>
            <span id="admin-mode">관리자 모드</span>
            <span id="userCount">가입된 회원 수 총 <strong th:text="${memberCounts}"></strong>명</span>
        </header>
        <div id="wrapContents">
            <!-- 메인화면 컨텐츠 -->
            <div id="write">
                <form th:action="@{/admin/banner/update}" th:object="${banner}" name="bannerForm" method="post" enctype="multipart/form-data">
                    <table>
                        <colgroup>
                            <col width="20%;">
                            <col width="80%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>배너번호</th>
                            <td>
                                <div class="title">
                                    <input type="hidden" name="page" th:value="${criteria.page}">
                                    <input type="hidden" name="searchText" th:value="${criteria.searchText}">
                                    <input type="hidden" name="keyword" th:value="${criteria.keyword}">
                                    <input th:field="*{bannerId}" class="bannerNumber" autocomplete="off" readonly>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>배너명</th>
                            <td>
                                <div class="title">
                                    <input th:field="*{bannerTitle}" class="bannerTitle" placeholder="배너명을 입력하세요" autocomplete="off">
                                </div>
                            </td>
                        </tr>
                        <tr style="background: #ffffff;">
                            <th>배너텍스트</th>
                            <td>
                                <div id="editor">
                                    <textarea th:field="*{bannerInfo}" class="summernote" placeholder="배너 내용을 입력하세요."></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr style="background: #ffffff; border-color: white; ">
                            <th>배너기간</th>
                            <td>
                                <div id="date" class="title">
                                <span class="dateSpan">
                                <input type="date" name="startDate" th:value="${startDate}" class="dateLeft" placeholder="배너기간을 입력하세요." autocomplete="off">
                                    <span class="wave">~</span>
                                <input type="date" name="endDate" th:value="${endDate}" class="dateRight" placeholder="배너기간을 입력하세요." autocomplete="off">
                                </span>
                                </div>
                            </td>
                        </tr>
                        <tr style="background: #ffffff; border:1px solid #e6e6e6;">
                            <th>배너상태</th>
                            <td>
                                <div class="title" style="height: 33px">
                                    <input type="text" name="bannerContent" class="bannerContent" style="display: none;">
                                    <select name="status" class="status" th:data-status="*{bannerStatus}" style="height: 33px; width: 11%; text-align: center; border: white; ">
                                        <option value="statusOk">사용</option>
                                        <option value="statusNo">사용안함</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr style="background: #ffffff;">
                            <th>첨부파일</th>
                            <td style="border: 1px solid #e6e6e6; position: relative;">
                                <div class="file">
                                    <label class="input-file-button" for="input-image">
                                    </label>
                                    <input type="file" name="image" id="input-image">
                                </div>
                                <div id="img-wrap">
                                    <img id="preview-image">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btns-group">
                        <input type="button" onclick="bBackList()" class="g-btn list" value="배너 목록">
                        <input type="button" class="g-btn submit b-submit" value="등록">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<!-- 썸머노트 -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="/js/admin/bannerFile.js"></script>
<script src="/js/admin/summerNoteBanner.js"></script>
<script src="/js/admin/write.js"></script>
<script th:inline="javascript">
    let queryString = [[${criteria.queryString}]];
    var msg = "글을 저장하지 않고 나가시겠습니까?";

    function bBackList() {
        var flag = confirm(msg);

        if (flag) {
            location.href="/admin/banner" + queryString;
        }
    }

    $(document).ready(function () {
        let $statusVal = $('select.status').attr('data-status');
        let status = $statusVal == "USING" ? "statusOk" : "statusNo";

        $('select.status option[value=' + status + ']').attr('selected', true);
    });
</script>
<html>