<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common/font.css"> <!-- 폰트 -->
    <link rel="stylesheet" href="/css/admin/sideMenuList.css"> <!-- 사이드 메뉴 & 해더 -->
    <link rel="stylesheet" href="/css/admin/contents.css"> <!-- 컨텐츠 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/page.css"> <!-- 페이징 -->
    <link rel="stylesheet" href="/css/admin/noticeForm.css"> <!-- 검색 폼 & 테이블 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/reply.css"> <!-- 테이블 개별 스타일 -->
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <!-- 사이드 메뉴 -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/admin/side_menu.js"></script>
    <title>관리자-멘토 리뷰 관리</title>
</head>

<body>

<div id="wrapper">
    <!-- 세로 메뉴바 -->
    <nav th:replace="/fix/side_menu.html :: sideMenu"></nav>
    <!-- 헤더 ~ 밑에 메인 컨텐츠 -->
    <div id="container">
        <!-- 헤더 -->
        <header>
            <span id="admin-header-title">멘토 리뷰 관리</span>
            <span id="admin-mode">관리자 모드</span>
            <span id="userCount">가입된 회원 수 총 <strong th:text="${memberCounts}"></strong>명</span>
        </header>
        <div id="wrapContents">
            <!-- 컨텐츠 검색 부분 -->
            <div class="p-contents chart-no">

                <!-- 검색어 입력 폼 -->
                <form th:action="@{/admin/review}" name="searchForm">
                    <div class="search-form">
                        <span class="s-form">
                        <select class="keywords" th:value="${param.keyword}" name="keyword">
                            <option value="w">작성자</option>
                            <option value="c">내용</option>
                        </select>
                        </span>
                        <span class="s-f-input">
                            <span class="search-input">
                                <input type="text" th:value="${param.searchText}" name="searchText" placeholder="검색어를 입력하세요.">
                            </span>
                        </span>
                        <button type="submit" class="searchBtn">
                            <img src="/image/admin/search.png">
                        </button>
                    </div>
                </form>
            </div>

            <!-- 프로그램 리스트 출력 틀 -->
            <div class="p-contents contents-bottom">
                    <span class="list-count">총
                        <span th:text="${reviewCounts}">2476</span>건
                    </span>

                <table>
                    <tr class="title">
                        <th class="num">리뷰번호</th>
                        <th class="content2">내용</th>
                        <th class="star">평점</th>
                        <th class="id2">작성자</th>
                        <th class="date">작성날짜</th>
                        <th class="boardNum">홍보글 번호</th>
                        <th class="delete"></th>
                    </tr>
                    <!-- ↓ 데이터 출력 -->
                    <th:block th:each="review:${reviews}">
                        <tr th:object="${review}">
                            <td th:text="*{reviewId}">1223</td>
                            <td class="content" th:text="*{reviewContent}"></td>
                            <td class="star-wrap">
                                <input type="hidden" class="star-score" th:value="*{reviewStar}">
                                <svg class="star_check" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>
                                <svg class="star_check" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>
                                <svg class="star_check" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>
                                <svg class="star_check" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>
                                <svg class="star_uncheck" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>
                            </td>
                            <td th:text="*{member.getMemberNickname}"></td>
                            <td th:text="*{#temporals.format(createdDate, 'yyyy.MM.dd HH:mm')}"></td>
                            <td th:text="*{mentorBoard.getMentorBoardId}"></td>
                            <td class="delete">
                                <form method="post" class="deleteForm" th:action="@{/admin/review/delete}">
                                    <input type="hidden" name="reviewId" th:value="*{reviewId}">
                                    <input type="hidden" name="page" th:value="${criteria.page}">
                                    <input type="hidden" name="searchText" th:value="${criteria.searchText}">
                                    <input type="hidden" name="keyword" th:value="${criteria.keyword}">
                                    <input type="button" value="삭제" class="deleteBtn">
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    <tr th:if="${data}">
                        <td colspan="7" style="height: 180px;">검색 결과가 없습니다.</td>
                    </tr>
                </table>

                <!-- 페이징 -->
                <div id="page" th:if="${!data}">
                    <div class="page_nation">
                        <th:block th:with="start=${(reviews.number/10)*10 + 1}, end=(${(resultCount == 0) ? 1 : ((start + 9) < resultCount ? (start + 9) : resultCount)})">
                            <th:block th:if="${reviews.pageable.pageNumber > 0}">
                                <a class="arrow pprev" th:href="@{/admin/review(page=0, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                <a class="arrow prev" th:href="@{/admin/review(page=${((reviews.pageable.pageNumber/10)*10) - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                            </th:block >

                            <th:block th:each="i: ${#numbers.sequence(start, end)}">
                                <a th:href="@{/admin/review(page=${i - 1}, searchText=${param.searchText}, keyword=${param.keyword})}" th:classappend="${i == reviews.pageable.pageNumber + 1} ? 'active' : '' " th:text="${i}">1</a>
                            </th:block>

                            <th:block th:if="${end < resultCount}">
                                <a class="arrow next" th:href="@{/admin/review(page=${end},searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                <a class="arrow nnext" th:href="@{/admin/review(page=${resultCount - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    let queryString = [[${criteria.queryString}]];

    const urlParams = new URL(location.href).searchParams;
    const keyword = urlParams.get('keyword');

    $(document).ready(function(){
        $(".star-score").each(function(index, item) {
            let text = "";
            let $wrap = $(this).closest('.star-wrap');
            let $star = $(this).val();

            for(let i=0; i<$star;i++){
                text += `<svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="star_check"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>`
            }

            for(let j=0;j<5-$star;j++){
                text += `<svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="star_uncheck"><path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>`
            }

            $wrap.html(text);
        });
    });

    // 검색 옵션
    if(keyword == null || keyword == "") {
        $(".keywords").val('w').prop("selected", true);
    } else {
        $(".keywords").val(keyword).prop("selected", true);
    }

    // 삭제 확인 알람
    var msg = "이 후기를 삭제 하시겠습니까?";

    $(".deleteBtn").on("click", function () {
        var flag = confirm(msg);

        if(flag){
            $(this).parent("form.deleteForm").submit();
        }
    });
</script>
</body>
<html>