<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common/font.css"> <!-- 폰트 -->
    <link rel="stylesheet" href="/css/admin/sideMenuList.css"> <!-- 사이드 메뉴 & 해더 -->
    <link rel="stylesheet" href="/css/admin/contents.css"> <!-- 컨텐츠 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/program_participant.css"> <!-- 테이블 개별 스타일 -->
    <link rel="stylesheet" href="/css/admin/form.css"> <!-- 검색 폼 & 테이블 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/page.css"> <!-- 페이징 -->
    <link rel="stylesheet" href="/css/admin/modal.css"> <!-- 페이징 -->
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <!-- 사이드 메뉴 -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/admin/side_menu.js"></script>
    <!-- 버튼 클릭 시 확인 알림창 -->
    <script src="/js/admin/check.js"></script>
    <title>관리자-멘토 관리</title>
</head>

<body>

<div id="wrapper">
    <!-- 세로 메뉴바 -->
    <nav th:replace="/fix/side_menu.html :: sideMenu"></nav>

    <!-- 헤더 ~ 밑에 메인 컨텐츠 -->
    <div id="container">
        <!-- 헤더 -->
        <header>
            <span id="admin-header-title">멘토 관리</span>
            <span id="admin-mode">관리자 모드</span>
            <span id="userCount">가입된 회원 수 총 <strong th:text="${memberCounts}"></strong>명</span>
        </header>
        <div id="wrapContents">
            <!-- 컨텐츠 검색 부분 -->
            <div class="p-contents">

                <!-- 검색어 입력 폼 -->
                <form th:action="@{/admin/mentor}" name="searchForm">
                    <div class="search-form">
                        <span class="s-form">
                            <select class="keywords" th:value="${param.keyword}" name="keyword">
                                <option value="n">멘토</option>
                                <option value="nn">닉네임</option>
                                <option value="l">지역</option>
                            </select>
                        </span>
                        <span class="s-f-input">
                            <span class="search-input">
                                <input type="text" th:value="${param.searchText}" name="searchText" placeholder="검색어를 입력하세요.">
                            </span>
                        </span>
                        <button type="submit">
                            <img src="/image/admin/search.png">
                        </button>
                    </div>
                </form>

            </div>

            <!-- 프로그램 리스트 출력 틀 -->
            <div class="p-contents contents-bottom">

                <span class="list-count">총
                    <span th:text="${mentorCounts}"></span>건
                </span>

                <table>
                    <tr class="title">
                        <th class="num">번호</th>
                        <th class="name">멘토</th>
                        <th class="nickName">닉네임</th>
                        <th class="programCount">진행하는 프로그램 수</th>
                        <th class="menteeCount">멘티수</th>
                        <th class="career">연차</th>
                        <th class="region">지역</th>
                    </tr>

                    <!-- ↓ 데이터 출력 -->
                    <th:block th:each="mentor :${mentors}">
                        <tr class="title" th:object="${mentor}">
                            <td class="num" th:text="*{mentorId}"></td>
                            <td class="name" th:text="*{memberName}"></td>
                            <td class="nickName" th:text="*{memberNickname}"></td>
                            <td class="programCount"><span th:text="*{programCount}"/>개</td>
                            <td class="menteeCount" ><button id="main_fixed_button"><span th:text="*{menteeCount}"/>명</button></td>
                            <td class="career" th:text="*{mentorYear}"></td>
                            <td class="region" th:text="*{memberLocation}"></td>
                        </tr>
                    </th:block>
                    <tr th:if="${data}">
                        <td colspan="7" style="height: 180px;">검색 결과가 없습니다.</td>
                    </tr>
                </table>

                <!-- 페이징 -->
                <div id="page" th:if="${!data}">
                    <div class="page_nation">
                        <th:block th:with="start=${(mentors.number/10)*10 + 1}, end=(${(resultCount == 0) ? 1 : ((start + 9) < resultCount ? (start + 9) : resultCount)})">
                            <th:block th:if="${mentors.pageable.pageNumber > 0}">
                                <a class="arrow pprev" th:href="@{/admin/mentor(page=0, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                <a class="arrow prev" th:href="@{/admin/mentor(page=${((mentors.pageable.pageNumber/10)*10) - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                            </th:block >
                            <th:block th:each="i: ${#numbers.sequence(start, end)}">
                                <a th:href="@{/admin/mentor(page=${i - 1}, searchText=${param.searchText}, keyword=${param.keyword})}" th:classappend="${i == mentors.pageable.pageNumber + 1} ? 'active' : '' " th:text="${i}">1</a>
                            </th:block>

                            <th:block th:if="${end < resultCount}">
                                <a class="arrow next" th:href="@{/admin/mentor(page=${end},searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                <a class="arrow nnext" th:href="@{/admin/mentor(page=${resultCount - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                
                <!--지원하기 모달창-->
                <div id="modal" style="display: none;">
                    <div id="modal-overlay">
                        <div class="c-modal">
                            <div class="m-wrap">
                                <div class="m-title">멘티 정보보기</div>
                                <form action="">
                                    <div class="m-c-wrap">
                                        <table style="margin-bottom: 0px;">
                                            <tr>
                                                <th class="name">이름</th>
                                                <th class="nickName">닉네임</th>
                                                <th class="phoneNumber">핸드폰 번호</th>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr><tr>
                                            <td class="name">연태관</td>
                                            <td class="nickName">herd</td>
                                            <td class="phoneNumber">010-2402-0324</td>
                                        </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                            <td class="name">연태관</td>
                                            <td class="nickName">herd</td>
                                            <td class="phoneNumber">010-2402-0324</td>
                                        </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr><tr>
                                            <td class="name">연태관</td>
                                            <td class="nickName">herd</td>
                                            <td class="phoneNumber">010-2402-0324</td>
                                        </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">김민혁</td>
                                                <td class="nickName">kmh</td>
                                                <td class="phoneNumber">010-9999-9999</td>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                            <tr>
                                                <td class="name">연태관</td>
                                                <td class="nickName">herd</td>
                                                <td class="phoneNumber">010-2402-0324</td>
                                            </tr>
                                            <tr>
                                                <td class="name">정호석</td>
                                                <td class="nickName">jhs</td>
                                                <td class="phoneNumber">010-2134-1234</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="applyBtnWrap">
                                        <button type="button" class="cancel">닫기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/modal.js"></script>
<script>
    const urlParams = new URL(location.href).searchParams;
    const keyword = urlParams.get('keyword');

    // 검색 옵션
    if(keyword == null || keyword == "") {
        $(".keywords").val('n').prop("selected", true);
    } else {
        $(".keywords").val(keyword).prop("selected", true);
    }
</script>
<html>