<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common/font.css"> <!-- 폰트 -->
    <link rel="stylesheet" href="/css/admin/sideMenuList.css"> <!-- 사이드 메뉴 & 해더 -->
    <link rel="stylesheet" href="/css/admin/contents.css"> <!-- 컨텐츠 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/user.css"> <!-- 테이블 개별 스타일 -->
    <link rel="stylesheet" href="/css/admin/form.css"> <!-- 검색 폼 & 테이블 공통 스타일 -->
    <link rel="stylesheet" href="/css/admin/page.css"> <!-- 페이징 -->
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <!-- 사이드 메뉴 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/admin/side_menu.js"></script>
    <!-- 버튼 클릭 시 확인 알림창 -->
    <script src="/js/admin/check.js"></script>
    <title>관리자-사용자 관리</title>
</head>

<body>

<div id="wrapper">
    <!-- 세로 메뉴바 -->
    <nav th:replace="/fix/side_menu.html :: sideMenu"></nav>

    <!-- 헤더 ~ 밑에 메인 컨텐츠 -->
    <div id="container">
        <!-- 헤더 -->
        <header>
            <span id="admin-header-title">사용자 관리</span>
            <span id="admin-mode">관리자 모드</span>
            <span id="userCount">가입된 회원 수 총 <strong th:text="${memberCounts}"></strong>명</span>
        </header>
        <div id="wrapContents">
                <!-- 컨텐츠 검색 부분 -->
                <div class="p-contents">

                    <!-- 검색어 입력 폼 -->
                    <form th:action="@{/admin/user}" name="searchForm">
                        <div class="search-form">
                                <span class="s-form">
                                    <select class="keywords" th:value="${param.keyword}" name="keyword">
                                        <option value="nn">닉네임</option>
                                        <option value="n">이름</option>
                                        <option value="p">연락처</option>
                                    </select>
                                </span>
                            <span class="s-f-input">
                                    <span class="search-input">
                                        <input type="text" th:value="${param.searchText}" name="searchText" placeholder="검색어를 입력하세요.">
                                    </span>
                                </span>
                            <button type="submit" class="searchBtn">
                                <img src="/image/admin/search.png">
                            </button>
                        </div>
                    </form>

                </div>

                <!-- 프로그램 리스트 출력 틀 -->
                <div class="p-contents contents-bottom">

                        <span class="list-count">총
                            <span class="countsM" th:text="${memberCounts}"></span>명
                        </span>

                    <table>
                        <tr class="title">
                            <th class="num">번호</th>
                            <th class="nickName">닉네임</th>
                            <th class="email">구분</th>
                            <th class="phone">연락처</th>
                            <th class="name">이름</th>
                            <th class="birth">생년월일</th>
                            <th class="address">지역</th>
                            <th class="delete"></th>
                        </tr>
                        <!-- ↓ 데이터 출력 -->
                        <th:block th:each="member:${members}">
                            <tr th:object="${member}">
                                <td th:text="*{memberId}"></td>
                                <td th:text="*{memberNickname}"></td>
                                <td th:text="*{memberType}"></td>
                                <td th:text="*{memberPhone}"></td>
                                <td th:text="*{memberName}"></td>
                                <td th:text="*{memberBirth}"></td>
                                <td th:text="*{memberLocation}"></td>
                                <td class="delete">
                                    <form method="post" class="deleteForm" th:action="@{/admin/user/delete}">
                                        <input type="hidden" name="memberId" th:value="*{memberId}">
                                        <input type="hidden" name="page" th:value="${criteria.page}">
                                        <input type="hidden" name="searchText" th:value="${criteria.searchText}">
                                        <input type="hidden" name="keyword" th:value="${criteria.keyword}">
                                        <input type="button" value="삭제" class="deleteBtn">
                                    </form>
                                </td>
                            </tr>
                        </th:block>
                        <tr th:if="${data}">
                            <td colspan="8" style="height: 180px;">검색 결과가 없습니다.</td>
                        </tr>
                    </table>

                    <!-- 페이징 -->
                    <div id="page" th:if="${!data}">
                        <div class="page_nation">
                            <th:block th:with="start=${(members.number/maxPage)*maxPage + 1}, end=(${(members.totalPages == 0) ? 1 : (start + (maxPage - 1) < members.totalPages ? start + (maxPage - 1) : members.totalPages)})">
                                <th:block th:if="${members.pageable.pageNumber > 0}">
                                    <a class="arrow pprev" th:href="@{/admin/user(page=0, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                    <a class="arrow prev" th:href="@{/admin/user(page=${((members.pageable.pageNumber/10)*10) - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                </th:block >

                                <th:block  th:each="i: ${#numbers.sequence(start, end)}">
                                    <a th:href="@{/admin/user(page=${i - 1}, searchText=${param.searchText}, keyword=${param.keyword})}" th:classappend="${i == members.pageable.pageNumber + 1} ? 'active' : '' " th:text="${i}">1</a>
                                </th:block >

                                <th:block th:if="${end < members.totalPages}">
                                    <a class="arrow next" th:href="@{/admin/user(page=${end},searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                    <a class="arrow nnext" th:href="@{/admin/user(page=${members.totalPages - 1}, searchText=${param.searchText}, keyword=${param.keyword})}"></a>
                                </th:block>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    let queryString = [[${criteria.queryString}]];

    const urlParams = new URL(location.href).searchParams;
    const keyword = urlParams.get('keyword');

    // 검색 옵션
    if(keyword == null || keyword == "") {
        $(".keywords").val('nn').prop("selected", true);
    } else {
        $(".keywords").val(keyword).prop("selected", true);
    }

    // 삭제 확인 알람
    var msg = "삭제 하시겠습니까?";

    $(".deleteBtn").on("click", function () {
        var flag = confirm(msg);

        if(flag){
            $(this).parent("form.deleteForm").submit();
        }
    });

</script>
<html>