<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/community/detail.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <section class="detail-wrap max">

        <div class="w-wrap" th:object="${list}">
<!--            <input type="hidden" th:object="${reply}">-->
            <article>
                <div class="top-wrap">
                    <div class="commu-nickname" th:text="*{memberNickName}">
                        <hr>
                        <span class="q-nickname">농장주</span>
                    </div>
                    <!-- 작성자일때 -->
                    <div class="drop-option-wrap">
                        <div class="drop-option">
                            <button type="button">
                                <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" style="fill: rgb(148, 155, 160);"><circle data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg>
                            </button>
                        </div>
                        <div class="drop-option-menu q-modify" style="display: none;">
                            <a th:href="@{/community/update(boardId=${param.boardId})}">
                                <div class="o-m-wrap">
                                    <img src="/image/community/modify.png">
                                    수정하기
                                </div>
                            </a>
                            <hr>
                            <a th:href="@{/community/delete(boardId=${param.boardId})}">
                            <div class="o-m-wrap q-delete">
                                <img src="/image/community/delete.png">
                                삭제하기
                            </div>
                            </a>
                        </div>
                    </div>
                    <!--------------->
                </div>
                <h2 id="q-title" th:text="*{boardTitle}"></h2>
                <p class="commu-content" th:text="*{boardContent}">
                </p>
<!--                <div id="files">-->
<!--                    <div class="file">-->
<!--                        <span class="f-img"><img src="/image/community/clip.png"></span>-->
<!--                        <span class="f-title">JPA_신난다.jpg</span>-->
<!--                        <span class="f-size">[1.63MB]</span>-->
<!--                    </div>-->
<!--                </div>-->
                <p class="commu-date" th:text="*{#temporals.format(updatedDate, 'yyyy.MM.dd HH:mm')}"></p>
            </article>
        </div>
    </section>
    <section id="write-reply" class="detail-wrap gray">
        <div class="max">
            <div class="w-wrap white-wrap margin32">
                <div id="re-before">
                    <div class="reply-input">
                        댓글을 입력하시겠습니까?
                    </div>
                    <button class="r-input">댓글 입력하기</button>
                </div>
                <div id="re-after" style="display: none;">
                    <div id="reply-form">
                        <textarea name="replyContent" id="re-register" class="reply-input" placeholder="댓글을 입력하시겠습니까?"></textarea>
                    </div>
                    <button class="reply-btn reply-register">댓글 추가하기</button>
                </div>
            </div>
        </div>
    </section>
    <section class="detail-wrap gray">
        <div class="max">
            <div class="w-wrap">
                <div id="re--wrap">
                    <div id="re-count-wrap">
                        댓글
                        <span>0</span>
                    </div>
                    <!-- 댓글이 없을 때 -->
<!--                    <div id="re-none-wrap">-->
<!--                        <div id="re-none">등록된 댓글이 없습니다.</div>-->
<!--                    </div>-->
                    <!------------------>
                    <!-- 댓글이 있을 때 -->
                    <div id="reply-lists">
                        <article class="re-list-wrap">
                            <div class="top-wrap">
                                <div class="commu-nickname re-nick">

                                    <!-- 댓글 작성자 일 때 -->
                                    <span class="writer">게시글 작성자</span>
                                    <!-------------------->
                                    <hr>
                                    <span class="q-nickname">일반</span>
                                </div>

                                <input type="hidden" th:value="${sessionMemberId}" name="session" id="sessionMember">
                                <input type="hidden" th:value="${list.memberId}" id="listMember">

                                <!-- 댓글 작성자 일 때 -->
                                <div class="drop-option-wrap">
                                    <div class="drop-option">
                                        <div>
                                            <button class="getLoginId" style="display: none;">
                                                <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" style="fill: rgb(148, 155, 160);"><circle data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="drop-option-menu" style="display: none;">
                                        <div class="o-m-wrap re-modify">
                                            <img src="/image/community/modify.png">
                                            수정하기
                                        </div>
                                        <hr>
                                        <div class="o-m-wrap re-delete">
                                            <img src="/image/community/delete.png">
                                            삭제하기
                                        </div>
                                    </div>
                                </div>
                                <!--------------->
                                <div class="modify-group" style="display: none;">
                                    <button type="button" class="re-btn m-save">수정</button>
                                    <button type="button" class="re-btn m-cancel">취소</button>
                                </div>
                            </div>
                            <p class="commu-content re-content">저두요...</p>
                            <p class="commu-date">2022.11.20</p>
                        </article>
                    </div>
                    <!------------------>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/community/detail.js"></script>
<script src="/js/community/link.js"></script>
<script src="/js/community/reply.js"></script>

<script th:inline="javascript">
    let boardId = [[${list.boardId}]];

    // replyService.replyAdd({
    //     replyContent: 'module test',
    //     boardId: boardId
    // }, replyAdd)
    //
    // function replyAdd(result) {
    //     alert(result);
    // }

    // replyService.getList(boardId, getList);
    //
    // function getList(replies){
    //     console.log(replies);
    // }

    // replyService.replyUpdate({
    //     replyId: 38,
    //     replyContent: '요호호호'
    // }, replyUpdate);
    //
    // function replyUpdate(text) {
    //     alert(text);
    // }

    // replyService.remove(38, remove);
    //
    // function remove(text) {
    //     alert(text);
    // }



    show();


    $(".reply-btn").on("click", function(){
        replyService.replyAdd({
            replyContent: $("textarea[name=replyContent]").val(),
            boardId: boardId
        }, function () {
            show();
            replyService.getTotal(boardId, getTotal)
        });
        $("textarea[name=replyContent]").val("");
    });







    getTotal(
        replyService.getTotal(boardId, getTotal)
    );

    // remove(
    //     replyService.remove(boardId, remove)
    // );



    function show(){
        replyService.getList(boardId, getList);

    }


    $(".detail-wrap").on("click", ".re-delete",function () {
        let number = $(this).closest(".drop-option-wrap").prev().find(".writer").attr('id');
        replyService.remove(number, show);
        setTimeout(()=>{
            getTotal(
                replyService.getTotal(boardId, getTotal)
            );
        },200);

    });

    $(".detail-wrap").on("click", ".re-delete",function () {
        let number = $(this).closest(".drop-option-wrap").prev().find(".q-nickname").attr('id');
        replyService.remove(number, show);
        setTimeout(()=>{
            getTotal(
                replyService.getTotal(boardId, getTotal)
            );
        },200);

    });



    $(".detail-wrap").on("click", ".re-delete",function () {
        refreshPage();
    });



    $(".detail-wrap").on("click", ".reply-btn", function () {
       refreshPage();
    })


    function replyAdd(result) {
        let text = "";
        result(reply => {
                text += `<section class="detail-wrap gray">`
                text += `<div class="max">`
                text += `<div class="w-wrap white-wrap margin32">`
                text += `<div id="re-before">`
                text += `<div class="reply-input">`
                text += `</div>`
                text += `<button class="r-input">댓글 입력하기</button>`
                text += `</div>`
                text += `<div id="re-after" style="display: none;">`
                text += `<div id="reply-form">`
                text += ` <textarea name="replyContent" id="re-register" class="reply-input" placeholder="댓글을 입력하시겠습니까?"></textarea>`
                text += `</div>`
                text += `<button class="reply-btn reply-register">댓글 추가하기</button>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</section>`
        })
        $("#write-reply").html(text);
    }



    function getTotal(reply) {
        let text = "";

        text += `<div id="re-count-wrap">`
        text += `댓글 `
        text += `<span>`+reply+`</span>`
        text += `</div>`

        $("#re-count-wrap").html(text);
    }




    function getList(replyDTO) {
        let text = "";
        replyDTO.forEach(reply => {
            text += `<div id="reply-lists">`
            text += `<article class="re-list-wrap">`
            text += `<div class="top-wrap">`
            text += `<div class="commu-nickname re-nick">` + reply.memberNickName + ``
            if(reply.memberId == $("#listMember").val()){
                text += `<span class="writer" id="`+ reply.replyId +`">게시글 작성자</span>`
            }
            if(reply.memberId != $("#listMember").val()) {
                text += `<hr>`
                text += `<span class="q-nickname" id="`+ reply.replyId +`">일반</span>`
            }
            text += `</div>`
            if(reply.memberId == $("#sessionMember").val()) {
                text += `<div class="drop-option-wrap" id="replyBtn">`
                text += `<div class="drop-option">`
                text += `<button>`
                text += `<svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" style="fill: rgb(148, 155, 160);"><circle data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg>`
                text += `</button>`
                text += `</div>`
                text += `<div class="drop-option-menu" style="display: none">`
                // text += `<div class="o-m-wrap re-modify">`
                // text += `<img src="/image/community/modify.png">`
                // text += `수정하기`
                // text += `</div>`
                // text += `<hr>`
                // }
                text += `<div class="o-m-wrap re-delete">`
                text += `<img src="/image/community/delete.png">`
                text += `삭제하기`
                text += `</div>`
                text += `</div>`
                text += `</div>`
            }
            text += `<div class="modify-group" style="display: none;">`
            text += `<button type="button" class="re-btn m-save">수정</button>>`
            text += `<button type="button" class="re-btn m-cancel">취소</button>`
            text += `</div>`
            text += `</div>`
            text += `<p class="commu-content re-content">`+ reply.replyContent +`</p>`
            text += `<p class="commu-date">`+ replyService.timeForToday(reply.updateDate) +`</p>`
            text += `</article>`
            text += `</div>`
        })
        $("#reply-lists").html(text);
    }




    //보드 수정, 삭제 도시락 버튼 세션에 따라 show, hide 하기
    if($("#sessionMember").val() == $("#listMember").val()){
        $(".drop-option-wrap").show();
    }else{
        $(".drop-option-wrap").hide();
    }


    // 새로고침 할 때마다 적용이 되서 새로고침 할 수 있는 메소드 하나 만듬
    function refreshPage() {
    window.location.reload();
}



</script>
</html>