<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/main/mainRes.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <title>너와 농부싶어</title>
</head>
<body>
    <div th:replace="/header/header.html :: header" class="header"/>
    <div id="wrap">
        <!--헤더 삽입-->

        <!--메인 배너 Swiper-->
        <div class="main_banner">

            <div class="swiper mySwiper1">

                <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-color: rgb(120 157 200);" th:each=" banner:${banners}">
                            <div>
                                <p class="banner-info" th:utext="${banner.bannerInfo}"></p>
                            </div>
                            <img th:src="@{/admin/banner/display?fileName=} + ${banner.bannerRealname}" >
                        </div>
                </div>
                <div class="buttonTest">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper-pagination"></div>

            </div>

        </div>

        <!--두 번째 배너-->
        <div class="sub_banner">
            <div class="sub_banner_inner">
                <h1>농촌 노하우 전수는 멘토와 함께!</h1>
                <!--멘토 슬라이드 배너-->
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each=" mentor,i:${mentorList}">
                            <!--대표 이미지 영역-->
                            <div class="imgDiv"><a th:href="@{/mento/detail?mentorBoardId=} + ${mentor.mentorBoardId}"><img th:src="@{/mentofile/display?fileName=} + *{mentor.files[0].fileUploadPath} + '/'+ *{mentor.files[0].fileUuid}  + '_' + *{mentor.files[0].fileName}" ></a></div>
                            <div class="textDiv">
                                <p th:text="*{mentor.memberNickName}"></p>
                                <h3 th:text="*{mentor.mentorTitle}"></h3>
                                <div class="mentor_info_caption">
                                    <div class="mentor_star">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                            <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                        </svg>
<!--                                        <input type="hidden" th:each=" score:${mentor.reviews}" th:value="${score.reviewStar}">-->
<!--                                        -->
<!--                                        <th:block th:each=" avg:${mentor.reviews}"><span class="mentor_star_span" th:text="${avg}"></span></th:block>-->
<!--                                        <th:block th:each=" count:${mentor.reviews}"><div class="mentor_star_avg" th:text="${count}"></div></th:block>-->
<!--                                        <th:block th:each=" avg:${mentorBoardAvg}"><span class="mentor_star_span" th:text="${avg}"></span></th:block>-->
<!--                                        <th:block th:each=" count:${mentorBoardTotalCount}"><div class="mentor_star_avg" th:text="${count}"></div></th:block>-->
                                            <span class="mentor_star_span" th:text="${mentorBoardAvg[i.index]}"></span>
                                            <div class="mentor_star_avg" th:text=" '(' + ${mentorBoardTotalCount[i.index]} + ')'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button next2"></div>
                <div class="swiper-button prev2"></div>
            </div>
        </div>

        <!--광고 이미지-->
        <div id="middleImg">
            <img src="/image/main/middle-banner2.png">
        </div>

        <input type="hidden" class="boardCount" th:each="boardReply:${boardReplys}"  th:value="${boardReply}">

        <!--커뮤니티 슬라이더-->
        <div id="communitySlide">
            <div id="communitySlide_inner">
                <h1>커뮤니티에서 지금 만나요</h1>
                <!--커뮤니티 슬라이더-->
                <div class="swiper mySwiper3">
                    <div class="swiper-wrapper">
                        <th:block th:each=" board:${boards}">
                            <div class="swiper-slide" >
                                <div class="swiper-slide-inner">
                                    <div class="slideContent" th:object="${board}">
                                        <span class="viewTopIcon"><p>최신순</p></span>
                                        <h2 class="communityTitle" th:text="*{boardTitle}"></h2>
                                        <p class="communityContent" th:text="*{boardContent}"></p>
                                        <div><span class="replyIcon" ><img src="/image/main/reply.png"><span class="resultReplyCount"></span></span></div>
                                        <hr>
<!--                                        <div th:each="reply:${replies}" th:if="${reply.boardId == board.boardId} and ${replyStat.current}"  class="communityComment">-->
<!--                                                <input type="hidden" class="nicknameValue" th:value="${reply.memberNickName}">-->
<!--                                                <div class="nickNameCircle nicknameFirst" style="background-color: #F0D780;"></div>-->
<!--                                                <div class="nickName"><strong th:text="${reply.memberNickName}"></strong></div>-->
<!--                                                <div class="communityReply" th:text="${reply.replyContent}"></div>-->
<!--                                        </div>-->
                                        <th:block th:each="replys:${board.replies}">
                                        <div class="communityComment">
                                              <input type="hidden" class="nicknameValue" th:value="${replys.memberNickName}">
                                              <div class="nickNameCircle nicknameFirst" style="background-color: #F0D780;"></div>
                                              <div class="nickName"><strong th:text="${replys.memberNickName}"></strong></div>
                                              <div class="communityReply" th:text="${replys.replyContent}"></div>
                                        </div>
                                        </th:block>
                                            <div class="moreBtn" onclick="location.href='/community/community'">
                                                <button type="button">+ 더보기</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="swiper-button next3"></div>
                <div class="swiper-button prev3"></div>
            </div>
        </div>


        <!--소카 대표메뉴-->
        <div id="socaMenu">
            <div id="socaMenu-inner">
                <h1>너와농부싶어! 공지사항이에요</h1>
                <div class="menuList" th:each="notice:${notices}">
                    <a th:href="@{/notice/detail?noticeId=} + ${notice.noticeId}">
                        <div class="menuList-menu">
                            <!--<img src="/image/main/FAQ.png">-->
                            <span th:text="*{notice.noticeTitle}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <!--프로그램 목록(조회순)-->
        <div id="programMenu">
            <div id="programMenu-inner">
                <h1>지금 가장 인기있는 프로그램이에요</h1>
                <!--슬라이드 배너-->
                <div class="swiper mySwiper4">  
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="program:${programs}">
                            <div class="imgDiv" >
                                <a th:href="@{/program/detail?programId=} + ${program.programId}"><img th:src="@{/file/display?fileName=} + *{program.files[0].fileUploadPath} + '/'+ *{program.files[0].fileUuid}  + '_' + *{program.files[0].fileName}" ></a>
<!--                                if(list.programType == 'ONLY_MENTEE'){-->
<!--                                text += '<span class="list-point-m">멘토 전용</span>'-->
<!--                                }-->
                                <div th:if="${#strings.equals(program.programType,'ONLY_MENTEE')}">
                                    <p>멘티전용</p>
                                </div>
                            </div>
                            <div class="textDiv">
                                <p><span th:text="${program.programLocation}"/> ・ <span style="color: rgb(238, 126, 65)" th:text="|${program.programPrice}원|"></span></p>
                                <h3 th:text="${program.programTitle}"></h3>
                                <p class="dateInfo" th:text="|${#temporals.format(program.programApplyStartDate, 'MM월 dd일')} 접수 시작|"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button next4"></div>
                <div class="swiper-button prev4"></div>
            </div>
        </div>


        <!--두 번째 소카 대표메뉴-->
        <div id="socaMenu2">
            <div id="socaMenu2-inner">
                <h1>사람들이 즐겨찾는 메뉴</h1>
                <div class="menuList">
                    <div class="menuList-menu" onclick="location.href='/mento/list'">
                        <img src="/image/main/mento.png">
                        <span>멘토 목록</span>
                    </div>
                    <div class="menuList-menu" onclick="location.href='/alba/list'">
                        <img src="/image/main/alba.png">
                        <span>아르바이트 목록</span>
                    </div>
                    <div class="menuList-menu" onclick="location.href='/information/step'">
                        <img src="/image/main/step.png">
                        <span>단계별 테스트</span>
                    </div>
                    <div class="menuList-menu" onclick="location.href='/information/ready'">
                        <img src="/image/main/ready.png">
                        <span>준비도 테스트</span>
                    </div>
                </div>
            </div>
        </div>


        <!--아르바이트 목록(마감순)-->
        <div id="albaMenu">
            <div id="albaMenu-inner">
                <h1>곧! 아르바이트가 마감돼요</h1>
                <!--슬라이드 배너-->
                <div class="swiper mySwiper5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="alba:${albas}">
                            <div class="imgDiv" >
                                <a th:href="@{/alba/detail?albaId=} + ${alba.albaId}"><img th:src="@{/alba/display?fileName=} + *{alba.albaImage}" ></a>
                            </div>
                            <div class="textDiv">
                                <p><span th:text="${alba.albaApplyCount}"/>/<span th:text="${alba.albaApplyTotalCount}"/>명 <span style="color: rgb(238, 126, 65)" >・ 시급: <span th:text="${alba.albaPrice}"/>원</span></p>
                                <h3 th:text="${alba.albaMainTitle}"></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button next5"></div>
                <div class="swiper-button prev5"></div>
            </div>
        </div>


       <!--푸터 삽입-->
        <footer th:replace="/footer/footer.html :: footer" class="footer"/>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/main/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>

    // 헤더 검색창 없애기
    $(".search_form").css("visibility", "hidden");
</script>
</html>