<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/community.css" />
    <link rel="stylesheet" href="/css/myPage/list.css" />
    <link rel="stylesheet" href="/css/myPage/paging.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <div class="wrap-w" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents minus-p">
                    <div class="c-header">
                        <div class="c-title">
                            <div>내 아르바이트</div>
                            <!-- 농장주일 때 -->
                            <button class="s-button l-writeBtn" th:onclick="'location.href=\''+ @{/alba/write} + '\''" th:if="${session.memberType == 'FARMER' or session.memberType == 'MENTOR'}">
                                <svg data-v-bd9f2bcc="" data-v-79e0399f="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" data-v-ace7c8aa="" style="fill: rgb(255, 255, 255);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V13.5C8.5 13.7761 8.27614 14 8 14C7.72386 14 7.5 13.7761 7.5 13.5V2.5C7.5 2.22386 7.72386 2 8 2Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 8.27614 13.7761 8.5 13.5 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L13.5 7.5C13.7761 7.5 14 7.72386 14 8Z"></path></svg>
                                아르바이트 만들기
                            </button>
                            <!---->
                        </div>
                        <div class="content">
                            <!-- 농장주 - 아르바이트 내역 없을 경우 -->
                            <div id="empty"></div>
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap">-->
<!--                                    너와농부싶어와 함께하는 아르바이트를 확인해보세요!-->
<!--                                    <button class="sendPage-btn" th:onclick="'location.href=\''+ @{/alba/list} + '\''">아르바이트 보러 가기</button>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- 농장주 - 아르바이트 내역 없을 경우 -->
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap" style="line-height: 25px;">-->
<!--                                    아르바이트 목록이 없어요.<br>-->
<!--                                    지금 아르바이트를 개설해 보세요!-->
<!--                                </div>-->
<!--                            </div>-->
                            <!------------------------>
                            <div id="c-w-wrap" class="f-column" >
                                <!-- 일반 유저 - 내가 신청한 알바 -->
                                <th:block  th:if="${session.memberType == 'USER' or session.memberType == 'MENTEE'}">
                                <div th:replace="/myPage/albaContent.html :: userAlbas"/>
                                </th:block>
                                <!------------------->

                                <!-- 농장주 - 내가 만든 알바 -->
                                <th:block  th:if="${session.memberType == 'FARMER' or session.memberType == 'MENTOR'}">
                                <div th:replace="/myPage/albaContent.html :: farmerAlbas"/>
                                </th:block>
                                <!------------------->
                            </div>
                            <!------------------------>
                        </div>
                        <div id="paging" style="margin-bottom: 100px;">
                            <!--                    <ul th:with="start=${(albas.number/maxPage)*maxPage + 1}, end=(${(albas.totalPages == 0) ? 1 : (start + (maxPage - 1) < albas.totalPages ? start + (maxPage - 1) : albas.totalPages)})">-->
                            <!--                        <li class="sidePageNum prev" th:if="${albas.pageable.pageNumber > 0}">-->
                            <!--                            <a th:href="@{/alba/list(page=${((albas.pageable.pageNumber/5)*5) - 1})}" class="page"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
                            <!--                        </li>-->
                            <!--                        <th:block  th:each="i: ${#numbers.sequence(start, end)}">-->
                            <!--                            <li>-->
                            <!--                                <a class="page" th:href="@{/alba/list(page=${i - 1})}" th:classappend="${i == albas.pageable.pageNumber + 1} ? 'selectPage' : '' " th:text="${i}">1</a>-->
                            <!--                            </li>-->
                            <!--                        </th:block >-->
                            <!--                        <li class="sidePageNum next" th:if="${end < albas.totalPages}">-->
                            <!--                            <a th:href="@{/alba/list(page=${end})}" class="page"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
                            <!--                        </li>-->
                            <!--                    </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
<!-- 알람 모달창 -->
<div class="overlay-l alam-wrap" style="display: none">
    <div id="alam">
        <p>정말 삭제하시겠어요?</p>
        <p>한번 삭제된 아르바이트 공고 글은 복구할 수 없습니다.</p>
        <form action="/mypage/alba/delete" method="post" id="delete-Alba">
            <div id="alam-btn-group">
                <button class="a-ok" id="alba-delete-btn">확인</button>
                <button type="button" class="a-no">취소</button>
                <input hidden name="albaIdString" id="albaIdString">
            </div>
        </form>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/myPageRest.js"></script>
<script src="/js/myPage/list.js"></script>
<script th:inline="javascript">
    $("div.menu-a").removeClass('menu-select');
    $("#alba").addClass('menu-select');

    // 농장주일 때 글 삭제 모달 알람
    function removeCheck(albaId){
        event.stopImmediatePropagation();
        $("#albaIdString").attr("value",albaId);
        $(".alam-wrap").show();
    };

    // 알바 삭제 버튼 클릭 시
    $("#alba-delete-btn").on("click" , function () {
        $("#delete-Alba").submit();
    })

    //삭제 취소 시 모달 사라짐
    $(".a-no").on("click", function(){
        $(".alam-wrap").hide();
    });


    function viewDetail(albaId) {
        console.log("??"+albaId);
        location.href = "/alba/detail?albaId=" + albaId;
    }

    $("#c-w-wrap").on("click", ".commu", function(){
        // var n1 = $("input[name=abId1]").val();
        var n = this.classList[2];
        console.log(n);
        viewDetail(n);
    })

    $("#c-w-wrap").on("click", ".c-user", function(){
        // var n1 = $("input[name=abId2]").val();
        var n = this.classList[2];
        viewDetail(n);
    })
//----------------------------------------
    let memberId = [[${member.memberId}]];
    let memberType = [[${member.memberType}]];
    globalThis.page = 1;

    if(memberType == 'FARMER' || memberType == 'MENTOR'){
        $(document).ready(function () {
            myPageService.getAbList({
                page: globalThis.page
            }, getList);
        })
    }else{
        $(document).ready(function () {
            myPageService.getApplyAbList({
                page: globalThis.page
            }, getApplyList);
        })
    }

//내가 등록한 알바 목록

    function showNew(){
        myPageService.getAbList({
            page: globalThis.page
        }, getList);
    }

    function getList(albas){
        let text = "";

        if(albas.content.length == 0){
            text += '<div id="content-wrap">'
            text += '<div class="n-c-wrap" style="line-height: 25px;">'
            text += '아르바이트 목록이 없어요.<br>'
            text += '지금 아르바이트를 개설해 보세요!'
            text += '</div>'
            text += '</div>'
            $("div#empty").html(text);
            return;
        }

        albas.content.forEach(function (albaDTO) {
            nowDate = new Date();
            nowDateDTO1 = albaDTO.albaApplyStartDate;
            nowDateDTO2 = albaDTO.albaApplyEndDate;
            startDate = new Date(nowDateDTO1);
            endDate = new Date(nowDateDTO2);

            text += '<div class="alba-list" th:object="${albaDTO}">'
            var number = albaDTO.albaId;
            text += "<div class='commu c-link "+albaDTO.albaId+"'>"
            text += '<input type="hidden" name="abId1" value="'+number+'">'
            text += '<div class="c-top-wrap">'
            text += '<div class="t-s-wrap">'
            let date = new Date(albaDTO.albaWorkDate);
            let year = date.getFullYear();
            let month = date.getMonth()+1;
            let day = date.getDate();
            text += '<div class="c-address">'+ year + '.' + month + '.' + day +'</div><div class="c-address>">・</div>'
            text += '<div class="c-address">' + albaDTO.albaAddress +'</div><div class="c-address>">・</div>'
            text += '<div class="c-pay">시급 ' + albaDTO.albaPrice +'원</div>'
            text += '</div>'
            text += '<div class="applied-cancel a-c-color">'
            text += '<a href="/alba/update?albaId='+number+'"><div class="a-c-btn2" style="margin-bottom: 1px;">수정하기</div></a>'
            text += '<a href="javascript:void(0);" onclick="javascript:removeCheck('+number+');"><div class="a-c-btn2">삭제하기</div></a>'
            text += '<a href="/mypage/alba/apply?albaId='+number+'"><div class="a-c-btn2">신청자 목록</div></a>'
            text += '</div>'
            text += '<img src="/image/myPage/option.png" class="l-menuBtn l-m-btn">'
            text += '</div>'
            text += '<div class="c-group">'
            text += '<div class="c-g-title">' + albaDTO.albaTitle +'</div>'
            text += '</div>'
            text += '<div class="commu-group">'
            if(nowDate > startDate){
                text += '<div class="c-status">모집 중</div>'
            }else if(endDate > nowDate){
                text += '<div class="c-status c-end">마감</div>'
            }
            text += '</div>'
            text += '</div>'
            text += '</div>'
        })
        $("div#alba-list").html(text);

        showNewPage(albas.totalElements);
    }

    function showNewPage(totalElements){
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="payPage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage">` + i + `</code>`
                continue;
            }
            text += `<a class="payPage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="payPage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.payPage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showNew();
    });

//내가 신청한 알바 목록

    function showNewApply(){
        myPageService.getApplyAbList({
            page: globalThis.page
        }, getApplyList);
    }

    function getApplyList(albas){
        let text = "";
        console.log("들어옴1");
        console.log(albas.totalElements);
        console.log(albas.content);
        console.log(albas);

        if(albas.content.length == 0){
            text += '<div id="content-wrap">'
            text += "<div class='n-c-wrap'>";
            text += "너와농부싶어와 함께하는 아르바이트를 확인해보세요!";
            text += `<button class='sendPage-btn' onclick="location.href='/alba/list'">아르바이트 보러 가기</button>`;
            text += "</div>";
            text += "</div>";
            $("div#empty").html(text);
            return;
        }

        albas.content.forEach(function (albaDTO) {
            console.log("들어옴2");
            console.log(albaDTO);
            text += '<div class="alba-list" >'
            var number = albaDTO.albaId;
            text += "<div class='commu c-link "+albaDTO.albaId+" c-user'>"
            text += '<input type="hidden" name="abId2" value="'+number+'">'
            text += '<div class="c-top-wrap">'
            text += '<div class="t-s-wrap">'
            let date = new Date(albaDTO.albaWorkDate);
            let year = date.getFullYear();
            let month = date.getMonth()+1;
            let day = date.getDate();
            text += '<div class="c-address">'+ year + '.' + month + '.' + day +'</div><div class="c-address>">・</div>'
            text += '<div class="c-address">' + albaDTO.albaAddress +'</div><div class="c-address>">・</div>'
            text += '<div class="c-pay">시급 ' + albaDTO.albaPrice +'원</div>'
            text += '</div>'
            text += '</div>'
            text += '<div class="c-group">'
            text += '<div class="c-g-title">' + albaDTO.albaMainTitle +'</div>'
            text += '</div>'
            text += '<div class="commu-group">'
            if(albaDTO.memberStatus == 'WAITING'){
                text += '<div class="c-status c-wait">대기</div>'
            }else if(albaDTO.memberStatus == 'CONFIRM'){
                text += '<div class="c-status c-accept">수락</div>'
            }else{
                text += '<div class="c-status c-refuse">거절</div>'
            }
            text += '</div>'
            text += '</div>'
            text += '</div>'
        })
        $("div#alba-apply-list").html(text);

        showNewApplyPage(albas.totalElements);
    }


    function showNewApplyPage(totalElements){
        let endNumber = Math.ceil(globalThis.page / 5) * 5;
        let startNumber = endNumber - 4;
        let realEnd = Math.ceil(totalElements/ 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd ;

        let text = "";

        text += '<ul>'
        text += '<li className="sidePageNum prev">'
        if(prev){
            text += `<a class="payPage" href="` + (startNumber - 1) + `"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="fill: #3c4144; margin-top: 4px; transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '<li>'
        for (let i=startNumber; i<=endNumber; i++){
            if(globalThis.page == i){
                text += `<code class="selectPage">` + i + `</code>`
                continue;
            }
            text += `<a class="payPage" href="`+ i + `"><code>` + i + `</code></a>`
        }
        text += '</li>'
        if(next){
            text += `<li class="sidePageNum next"><a class="payPage" href="` + (endNumber + 1) + `"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a></li>`
        }
        text += '</ul>'

        $("#paging").html(text);
    }

    $("div#paging").on("click", "a.payPage", function(e){
        console.log("들어옴?");
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        showNewApply();
    });

</script>
</html>