<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/community.css" />
    <link rel="stylesheet" href="/css/myPage/list.css" />
    <link rel="stylesheet" href="/css/myPage/paging.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <div class="wrap-w" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents minus-p">
                    <div class="c-header">
                        <div class="c-title">
                            <div>내 아르바이트</div>
                            <!-- 농장주일 때 -->
                            <button class="s-button l-writeBtn" th:onclick="'location.href=\''+ @{/alba/write} + '\''">
                                <svg data-v-bd9f2bcc="" data-v-79e0399f="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" data-v-ace7c8aa="" style="fill: rgb(255, 255, 255);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V13.5C8.5 13.7761 8.27614 14 8 14C7.72386 14 7.5 13.7761 7.5 13.5V2.5C7.5 2.22386 7.72386 2 8 2Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 8.27614 13.7761 8.5 13.5 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L13.5 7.5C13.7761 7.5 14 7.72386 14 8Z"></path></svg>
                                아르바이트 만들기
                            </button>
                            <!---->
                        </div>
                        <div class="content">
                            <!-- 농장주 - 아르바이트 내역 없을 경우 -->
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap">-->
<!--                                    너와농부싶어와 함께하는 아르바이트를 확인해보세요!-->
<!--                                    <button class="sendPage-btn" th:onclick="'location.href=\''+ @{/alba/list} + '\''">아르바이트 보러 가기</button>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- 농장주 - 아르바이트 내역 없을 경우 -->
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap" style="line-height: 25px;">-->
<!--                                    아르바이트 목록이 없어요.<br>-->
<!--                                    지금 아르바이트를 개설해 보세요!-->
<!--                                </div>-->
<!--                            </div>-->
                            <!------------------------>
                            <div id="c-w-wrap" class="f-column" >
                                <!-- 일반 유저 - 내가 신청한 프로그램 -->
                                <th:block  th:if="${session.memberType == 'USER' or session.memberType == 'MENTEE'}">
                                <div th:replace="/myPage/albaContent.html :: userAlbas"/>
                                </th:block>
                                <!------------------->

                                <!-- 농장주 - 내가 만든 프로그렘 -->
                                <th:block  th:if="${session.memberType == 'FARMER' or session.memberType == 'MENTOR'}">
                                <div th:replace="/myPage/albaContent.html :: farmerAlbas"/>
                                </th:block>
                                <!------------------->
                            </div>
                            <!------------------------>
                        </div>

                        <div id="paging">
                            <ul>
                                <li class="sidePageNum prev">
                                    <a href="" class="page"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>
                                </li>
                                <li><a href="" class="page selectPage">1</a></li>
                                <li><a href="" class="page">2</a></li>
                                <li><a href="" class="page">3</a></li>
                                <li><a href="" class="page">4</a></li>
                                <li><a href="" class="page">5</a></li>
                                <li class="sidePageNum next">
                                    <a href="" class="page"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
<!-- 알람 모달창 -->
<div class="overlay-l alam-wrap" style="display: none">
    <div id="alam">
        <p>정말 삭제하시겠어요?</p>
        <p>한번 삭제된 공고 글은 복구할 수 없습니다.</p>
        <div id="alam-btn-group">
            <button class="a-ok">확인</button>
            <button type="button" class="a-no">취소</button>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/list.js"></script>
<script th:inline="javascript">
    $("div.menu-a").removeClass('menu-select');
    $("#alba").addClass('menu-select');

    // 농장주일 때 글 삭제 모달 알람
    function removeCheck(){
        event.stopImmediatePropagation();
        $(".alam-wrap").show();
    };

    $(".a-no").on("click", function(){
        $(".alam-wrap").hide();
    });


    function viewDetail(albaId) {
        console.log("??");
        location.href = "/alba/detail?albaId=" + albaId;
    }
</script>
</html>