<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/mentoring.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div class="fake-header"></div>
<div id="main">
    <div id="main-tab" class="wrap-w" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents">
                    <div class="c-header">
                        <div class="c-title">
                            <!-- 멘티일 때-->
                            <div th:if="${session.memberType == 'MENTEE'}">멘토 목록</div>
                            <!-- 멘토일 때 -->
                            <div th:if="${session.memberType == 'MENTOR'}">멘티 관리</div>
                            <!----------->
                        </div>

                        <!-- 멘티일 때 -->
                        <th:block th:if="${session.memberType == 'MENTEE'}">
                        <div th:replace="/myPage/mentoringContent.html :: mentoringMentee"></div>
                        </th:block>
                        <!----------->

                        <!-- 멘토일 때 -->
                        <th:block  th:if="${session.memberType == 'MENTOR'}">
                        <div th:replace="/myPage/mentoringContent.html :: mentoringMentor"></div>
                        </th:block>
                        <!----------->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/myPageRest.js"></script>
<script th:inline="javascript">
    /*멘티일 때 멘토 삭제*/
    $("div#mentorList").on("click", "button.refuse", function(){
        console.log("들어오니?")

        let mentorMenteeId = this.classList[1];
        mentorDelete(mentorMenteeId, this);
        console.log(mentorMenteeId)
        console.log(this)
    });

    function mentorDelete(mentorMenteeId, btn){
        $.ajax({
            url: "/mypage/mentor/delete",
            type : "post",
            data : {mentorMenteeId: mentorMenteeId},
            success : function () {
                $(btn).parent().parent().parent("div.delete").css("display", "none");

            }
        });
    }
//---------------------------------------------
    /*멘토일 때 멘티 삭제*/
    $("div#mentee-list").on("click", "button.delete", function(){
        console.log("들어오니?")
        let mentorMenteeId = this.classList[2];
        menteeDelete(mentorMenteeId, this);
        console.log(mentorMenteeId)
        console.log(this)
    });


    function menteeDelete(mentorMenteeId, btn){
        $.ajax({
            url: "/mypage/mentee/delete",
            type : "post",
            data : {mentorMenteeId: mentorMenteeId},
            success : function () {
                console.log("success")
                $(btn).parent().parent().parent("div.confirm").css("display", "none");

            }
        });
    }

    //-------------------------------

    $("div.menu-a").removeClass('menu-select');
    $("#mentoring").addClass('menu-select');


    //탭 이동
    $("button#list").on("click", function(){
        moveList('mentee-list');
    });

    function moveList(tab){
        console.log("리스트")
        $(".myInfo").css('height', '0px');
        $(".myInfo").css('padding', '0');
        $('.infoBtn>svg').css("transform", "rotate(180deg)");

        $(".menu-tab button").removeClass('active');
        $("button." + tab).addClass('active');
        $("div.waiting").hide();
        $("div.confirm").show();
        $("#" + tab).show();

        console.log($("input[name=status]").val());
        myPageService.getMenteeListConfirm({
            status: $("input[name=status]").val()
        }, getConfirmList);
    };


    $("button#apply").on("click", function(){
        moveApply('mentee-apply');
    });

    function moveApply(tab){
        console.log("신청")
        $(".myInfo").css('height', '0px');
        $(".myInfo").css('padding', '0');
        $('.infoBtn>svg').css("transform", "rotate(180deg)");

        $(".menu-tab button").removeClass('active');
        $("button." + tab).addClass('active');
        $("div.confirm").hide();
        $("div.waiting").show();
        $("#" + tab).show();

        console.log($("input[name=applyStatus]").val());
        myPageService.getMenteeListOther({
            status: $("input[name=applyStatus]").val()
        }, getOtherList);
    };



    //--------------------------------------------

    let memberId = [[${member.memberId}]];
    console.log(memberId);
    let memberType = [[${member.memberType}]];

    //멘티일 때 멘토리스트
    if(memberType == 'MENTEE'){
        $(document).ready(function () {
            myPageService.getMentorList({
                memberId: memberId
            }, getList);
        })
    }else{
        $(document).ready(function () {
            myPageService.getMenteeListConfirm({
                status: "CONFIRM"
            }, getConfirmList);
        })
    }
//-------------------------------------------------------------------
    //멘토리스트

    globalThis.page = 1;

    function getList(mentors) {
        console.log(mentors)
        let text = "";

        if (mentors.length == 0) {
            console.log("여기잇니?");
            text += '<div class="m-none">매칭된 멘토가 없습니다.</div>';
            $("div#mentorList").html(text);
            return;
        }

        for (var i = 0; i < mentors.length; i++) {
            console.log(mentors[i])
            if (mentors[i].menteeStatus == 'CONFIRM') {
                text += `<div class="m-l-wrap m-l-link delete" >`
                text += '<div class="m-l">'
                text += '<div class="name" >'
                text += '<span>멘토</span>' + mentors[i].mentorNickName + '</div>'
                text += '<div class="m-l-side">'
                let date = new Date(mentors[i].updateDate);
                console.log(mentors[i].updateDate);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                text += '<div class="m-s-date">' + year + "." + month + "." + day + '</div>'
                var number = mentors[i].mentorMenteeId;
                console.log(number);
                text += '<input type="hidden" name="mentorMenteeId" value="' + number + '">'
                text += '<button type="button" class="refuse" onclick="location.href=\'/mento/chatting\'">채팅</button>'
                text += "<button type='button' class='refuse " + mentors[i].mentorMenteeId + "' >삭제</button>"
                text += '</div>'
                text += '</div>'
                text += '</div>'
                // mentors.forEach(function (mentorDTO) {
                //     if(mentorDTO.menteeStatus == 'CONFIRM'){
                //         console.log(mentorDTO)
                //         text += `<div class="m-l-wrap m-l-link delete" >`
                //         text += '<div class="m-l">'
                //         text += '<div class="name" >'
                //         text += '<span>멘토</span>' + mentorDTO.mentorNickName + '</div>'
                //         text += '<div class="m-l-side">'
                //         let date = new Date(mentorDTO.updateDate);
                //         console.log(mentorDTO.updateDate);
                //         let year = date.getFullYear();
                //         let month = date.getMonth() + 1;
                //         let day = date.getDate();
                //         text += '<div class="m-s-date">' + year + "." + month + "." + day + '</div>'
                //         var number = mentorDTO.mentorMenteeId;
                //         console.log(number);
                //         text += '<input type="hidden" name="mentorMenteeId" value="'+number+'">'
                //         text += '<button type="button" class="refuse" onclick="location.href=\'/mento/chatting\'">채팅</button>'
                //         text += '<button type="button" class="refuse" th:id="mentorMenteeId" th:data-mentorMenteeId="${mentorDTO.mentorMenteeId}">삭제</button>'
                //         text += '</div>'
                //         text += '</div>'
                //         text += '</div>'
                //     }

                // })
            }
            $("div#mentorList").html(text);
        }
    }

//-------------------------------------------
    //confirm 멘토리스트
    function getConfirmList(mentees) {
        console.log(mentees)
        let text = "";

        if (mentees.length == 0) {
            console.log("여기잇니?");
            text += '<div class="m-none m-or-none"> 매칭된 멘티가 없습니다.</div>'
            $("div#mentee-list").html(text);
            return;
        }

        for(var i = 0; i < mentees.length; i++){
            console.log(mentees[i]);
                if (mentees[i].menteeStatus == 'CONFIRM') {
                    text += '<div class="m-l-wrap m-l-link confirm" >'
                    text += '<div class="m-l">'
                    text += '<div class="name"><span>멘티</span>' + mentees[i].menteeNickName + '</div>'
                    text += '<div class="m-l-side">'
                    let date = new Date(mentees[i].updateDate);
                    console.log(mentees[i].updateDate);
                    let year = date.getFullYear();
                    let month = date.getMonth() + 1;
                    let day = date.getDate();
                    text += '<div class="m-s-date">' + year + "." + month + "." + day + '</div>'
                    var number = mentees[i].mentorMenteeId;
                    text += '<input type="hidden" name="mentorMenteeId" value="' + number + '">'
                    text += '<button type="button" class="refuse" onclick="location.href=\'/mento/chatting\'">채팅</button>'
                    text += "<button type='button' class='refuse delete " + mentees[i].mentorMenteeId + "' >삭제</button>"
                    text += '</div>'
                    text += '</div>'
                    text += '</div>'
            }
        // mentees.forEach(function (menteeDTO) {
        //     if (menteeDTO.menteeStatus == 'CONFIRM') {
        //         console.log("컨펌2")
        //         console.log(menteeDTO)
        //         text += '<div class="m-l-wrap m-l-link confirm" >'
        //         text += '<div class="m-l">'
        //         text += '<div class="name"><span>멘티</span>' + menteeDTO.menteeNickName + '</div>'
        //         text += '<div class="m-l-side">'
        //         let date = new Date(menteeDTO.updateDate);
        //         console.log(menteeDTO.updateDate);
        //         let year = date.getFullYear();
        //         let month = date.getMonth() + 1;
        //         let day = date.getDate();
        //         text += '<div class="m-s-date">' + year + "." + month + "." + day + '</div>'
        //         var number = menteeDTO.mentorMenteeId;
        //         text += '<input type="hidden" name="mentorMenteeId" value="' + number + '">'
        //         text += '<button type="button" class="refuse" onclick="location.href=\'/mento/chatting\'">채팅</button>'
        //         text += '<button type="button" class="refuse delete" >삭제</button>'
        //         text += '</div>'
        //         text += '</div>'
        //         text += '</div>'
        //     }

        }
        // mentees.forEach(function (menteeDTO) {
        //     if (menteeDTO.menteeStatus == 'WAITING') {
        //         console.log("웨이팅2")
        //         console.log(menteeDTO)
        //
        //         text += '<div class="m-l-wrap">'
        //         text += '<div class="m-l">'
        //         text += '<div class="name">' + menteeDTO.menteeNickName + '</div>'
        //         text += '<div class="m-l-side">'
        //         text += '<button class="infoBtn">한 줄 소개'
        //         text += '<svg data-v-bd9f2bcc="" data-v-6e28c8f5="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="my-page-aside-menu-toggle ml-4 c-application c-icon click-passive" data-v-1d2e44b5="" style="fill: rgb(118, 125, 130);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>'
        //         text += '</button>'
        //         text += '<button class="accept">수락</button>'
        //         text += '<button type="button" class="refuse">거절</button>'
        //         text += '</div>'
        //         text += '</div>'
        //         text += '<div class="myInfo">' + menteeDTO.menteeComment + '</div>'
        //         text += '</div>'
        //
        //     }
        //
        // })
        $("div#mentee-list").html(text);
    }

    //other 멘티리스트
    function getOtherList(mentees) {
        console.log(mentees)
        let text = "";

        if (mentees.length == 0) {
            console.log("여기잇니?");
            text += '<div class="m-none m-or-none">신청한 멘티가 없습니다.</div>'
            $("div#mentee-list").html(text);
            return;
        }

        for(var i = 0; i < mentees.length; i++){
            console.log(mentees[i]);
            console.log(mentees.length);
                text += '<div class="m-l-wrap waiting">'
                text += '<div class="m-l">'
                text += '<div class="name"><span>닉네임</span>' + mentees[i].menteeNickName + '</div>'
                text += '<div class="m-l-side">'
                text += '<button class="infoBtn">한 줄 소개'
                text += '<svg data-v-bd9f2bcc="" data-v-6e28c8f5="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="my-page-aside-menu-toggle ml-4 c-application c-icon click-passive" data-v-1d2e44b5="" style="fill: rgb(118, 125, 130);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>'
                text += '</button>'
                text += "<button type='button' class='accept " + mentees[i].menteeId + " m-accept " + mentees[i].mentorMenteeId + "' >수락</button>"
                text += "<button type='button' class='refuse " + mentees[i].menteeId + " m-refuse " + mentees[i].mentorMenteeId + "' >거절</button>"
                var numberMM = mentees[i].mentorMenteeId;
                console.log("numberMM" + numberMM)
                text += '<input type="hidden" name="mentorMenteeId" value="' + numberMM + '">'
                var number = mentees[i].menteeId;
                console.log("number" +number)
                text += '<input type="hidden" name="menteeId" value="' + number + '">'
                text += '</div>'
                text += '<div class="info" style="display: none; line-height: 50px; color: rgb(118, 125, 130);">거절</div>'
                text += '</div>'
                text += '<div class="myInfo">' + mentees[i].menteeComment + '</div>'
                text += '</div>'
            }
                // mentees.forEach(function (menteeDTO) {
                //     if (menteeDTO.menteeStatus != 'CONFIRM') {
                //         console.log("웨이팅2")
                //         console.log(menteeDTO)
                //
                //         text += '<div class="m-l-wrap waiting" th:object="${menteeDTO}">'
                //         text += '<div class="m-l">'
                //         text += '<div class="name"><span>닉네임</span>' + menteeDTO.menteeNickName + '</div>'
                //         if (menteeDTO.menteeStatus == 'REJECT'){
                //             text += '<div class="m-l-side" style="display: none;">'
                //             text += '<button class="infoBtn">한 줄 소개'
                //             text += '<svg data-v-bd9f2bcc="" data-v-6e28c8f5="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="my-page-aside-menu-toggle ml-4 c-application c-icon click-passive" data-v-1d2e44b5="" style="fill: rgb(118, 125, 130);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>'
                //             text += '</button>'
                //             text += '<button class="accept m-accept" >수락</button>'
                //             text += '<button type="button" class="refuse m-refuse" >거절</button>'
                //             text += '</div>'
                //             text += '<div class="info" style="line-height: 50px; color: rgb(118, 125, 130);">거절</div>'
                //         }else{
                //             text += '<div class="m-l-side">'
                //             text += '<button class="infoBtn">한 줄 소개'
                //             text += '<svg data-v-bd9f2bcc="" data-v-6e28c8f5="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="my-page-aside-menu-toggle ml-4 c-application c-icon click-passive" data-v-1d2e44b5="" style="fill: rgb(118, 125, 130);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>'
                //             text += '</button>'
                //             text += '<button class="accept m-accept" th:id="mentorMenteeId" th:data-mentorMenteeId="${menteeDTO.mentorMenteeId}">수락</button>'
                //             text += '<button type="button" class="refuse m-refuse" th:id="mentorMenteeId" th:data-mentorMenteeId="${menteeDTO.mentorMenteeId}">거절</button>'
                //             var numberMM = menteeDTO.mentorMenteeId;
                //             console.log("numberMM" + numberMM)
                //             text += '<input type="hidden" name="mentorMenteeId" value="' + numberMM + '">'
                //             var number = menteeDTO.menteeId;
                //             console.log("number" +number)
                //             text += '<input type="hidden" name="menteeId" value="' + number + '">'
                //             text += '</div>'
                //             text += '<div class="info" style="display: none; line-height: 50px; color: rgb(118, 125, 130);">거절</div>'
                //         }
                //         text += '</div>'
                //         text += '<div class="myInfo">' + menteeDTO.menteeComment + '</div>'
                //         text += '</div>'
                //
                //     }
                // })
        $("div#mentee-list").html(text);

    }

    //----------------------------------------
    //멘티수락
    $("div#mentee-list").on("click", "button.m-accept", function(){
        console.log(this)
        let mentorMenteeId = this.classList[3];
        let menteeId = this.classList[1];
        console.log(mentorMenteeId)
        console.log(menteeId)

        confirm(mentorMenteeId, menteeId, this);

    });

    function confirm (mentorMenteeId, menteeId, btn){

        $.ajax({
            url: "/mypage/mentee/confirm",
            type : "post",
            data : {mentorMenteeId: mentorMenteeId,
                menteeId:menteeId},
            success : function () {
                console.log("success")
                console.log(btn);
                $(btn).parent().parent("div.m-l").css("display", "none");

                //$(btn).parent().parent().siblings().children().children().children("div.status-ok").html("수락");
            }
        });
    }

    //----------------------------------------
    //멘티거절
    $("div#mentee-list").on("click", "button.m-refuse", function(){
        let mentorMenteeId = this.classList[3];
        let menteeId = this.classList[1];
        reject(mentorMenteeId, this);

    });

    function reject (mentorMenteeId, btn){

        $.ajax({
            url: "/mypage/mentee/reject",
            type : "post",
            data : {mentorMenteeId: mentorMenteeId},
            success : function () {
                $(btn).parent().parent("div.m-l").css("display", "none");
                //$(btn).parent().parent().parent("div.waiting").css("display", "none");
                // $(btn).parent("div.m-l-side").css("display", "none");
                // $(btn).parent().next().css("display", "block");
            }
        });
    }


</script>
</html>