<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- 일반 유저 - 내가 신청한 프로그램 -->
    <div class="f-wrap" id="pg-apply-list" th:fragment="userPrograms">
<!--    <div class="list-wrap" >-->
<!--        <div class="myProgram f-column select-l" th:onclick="'location.href=\''+ @{/program/detail} + '\''">-->
<!--            <div class="list-img">-->
<!--                <img src="https://cdn.comento.kr/images/pt/tmp/prefix_4gTSmjheRr.png" class="program-img">-->
<!--            </div>-->
<!--            <div class="list-text-wrap">-->
<!--                <div class="list-text">-->
<!--                    <div class="l-text starting l-d-ing">수강예정</div>-->
<!--                    <div class="l-m-c">∙</div>-->
<!--                    <div class="l-text l-address">지역</div>-->
<!--                </div>-->
<!--                <div class="l-a-cancel l-text"><a th:href="@{/mypage/program/cancel}">신청 취소</a></div>-->
<!--&lt;!&ndash;                <div class="l-a-cancel l-text" style="color: #ff4d4d">취소 완료</div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="list-title">백엔드 개발자도 서버 · 인프라 관리를 할 수 있는 DevOps 실무 특강</div>-->
<!--        </div>-->
<!--        <div class="start-day">2022.11.17 시작</div>-->
    </div>


    <!------------------->

    <!-- 농장주 - 내가 만든 프로그램 -->
    <div class="f-wrap" id="pg-list" th:fragment="farmerPrograms">
    <!--<div class="list-wrap"  th:object="${programDTO}">-->
        <!--<div class="myProgram f-column select-l" th:onclick="|javascript:viewDetail(${program.programId})|">
            <div class="list-img">
                <div class="only-mentor">
                    <span class="only-mentor">멘티전용</span>
                </div>
                <img src="https://cdn.comento.kr/images/pt/tmp/prefix_4gTSmjheRr.png" class="program-img">
                <div class="applied-cancel">
                    <a th:href="@{/program/update(programId=${program.programId})}"><div class="a-c-btn" style="margin-bottom: 1px;">수정하기</div></a>
                    <a href="javascript:void(0);" th:data-parameter1="${program.programId}"  onclick="javascript:removeCheck(this.getAttribute('data-parameter1'));"><div class="a-c-btn">삭제하기</div></a>
                    <a th:href="@{/mypage/program/apply}"><div class="a-c-btn">신청자 목록</div></a>
                </div>
                <img src="/image/myPage/option.png" class="l-menuBtn l-m-btn">
            </div>
            <div class="list-text">
                <div class="l-text l-ing">진행 중</div>
                <div class="l-m-c">∙</div>
                <div class="l-text" th:text="${program.programLocation}"></div>
                <div class="l-m-c">∙</div>
                <div class="l-text l-price" th:text="${program.programPrice}"></div>
            </div>
            <div class="list-title" th:text="${program.programTitle}"></div>
        </div>
        <div class="start-day" th:text="|${#temporals.format(program.programApplyStartDate, 'yyyy.MM.dd')} 접수 시작|"></div>
   </div> -->
    </div>

    <!------------------->
</body>
</html>