                <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/community.css" />
    <link rel="stylesheet" href="/css/myPage/list.css" />
    <link rel="stylesheet" href="/css/myPage/paging.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <div class="wrap-w" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents">
                    <div class="c-header">
                        <div class="c-title">
                            <div>내 프로그램</div>
                            <!-- 농장주 일 때-->
                            <button class="s-button l-writeBtn" th:onclick="'location.href=\''+ @{/program/register} + '\''" th:if="${session.memberType == 'FARMER' or session.memberType == 'MENTOR'}">
                                <svg data-v-bd9f2bcc="" data-v-79e0399f="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" data-v-ace7c8aa="" style="fill: rgb(255, 255, 255);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V13.5C8.5 13.7761 8.27614 14 8 14C7.72386 14 7.5 13.7761 7.5 13.5V2.5C7.5 2.22386 7.72386 2 8 2Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 8.27614 13.7761 8.5 13.5 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L13.5 7.5C13.7761 7.5 14 7.72386 14 8Z"></path></svg>
                                프로그램 만들기
                            </button>
                            <!---------------->
                        </div>
                        <div class="content">
                            <!-- 일반인 : 프로그램 내역이 없을 경우 -->
                            <div id="empty">
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap">-->
<!--                                    너와농부싶어와 함께하는 프로그램을 확인해보세요!-->
<!--                                    <button class="sendPage-btn" th:onclick="'location.href=\''+ @{/program/list} + '\''">프로그램 보러 가기</button>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!------------------------>
                            <!-- 농장주 : 프로그램 내역이 없을 경우 -->
                            <!--<div id="content-wrap">-->
<!--                                <div class="n-c-wrap" style="line-height: 25px;">-->
<!--                                    프로그램 목록이 없어요.<br>-->
<!--                                    지금 프로그램을 개설해 보세요!-->
<!--                                </div>-->
                            </div>
                            <!------------------------>

                            <div id="c-w-wrap">
                                <div id="ls-wrap" class="f-column" >
                                    <!--<div class="f-wrap" id="pg-list">-->
                                        <input class="types"  type="hidden" th:value="${session.memberType}">
                                        <!-- 일반 유저 - 내가 신청한 프로그램 -->
                                        <th:block  th:if="${session.memberType == 'USER' or session.memberType == 'MENTEE'}">
                                        <div th:replace="/myPage/programContent.html :: userPrograms"/>
                                        </th:block>
                                        <!------------------->

                                        <!-- 농장주 - 내가 만든 프로그램 -->

                                        <th:block  th:if="${session.memberType == 'FARMER' or session.memberType == 'MENTOR'}">
                                            <div th:replace="/myPage/programContent.html :: farmerPrograms"/>
                                        </th:block>
                                        <!------------------->

                                    <!--</div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="paging" style="margin-bottom: 100px;">
                        <!--                    <ul th:with="start=${(albas.number/maxPage)*maxPage + 1}, end=(${(albas.totalPages == 0) ? 1 : (start + (maxPage - 1) < albas.totalPages ? start + (maxPage - 1) : albas.totalPages)})">-->
                        <!--                        <li class="sidePageNum prev" th:if="${albas.pageable.pageNumber > 0}">-->
                        <!--                            <a th:href="@{/alba/list(page=${((albas.pageable.pageNumber/5)*5) - 1})}" class="page"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
                        <!--                        </li>-->
                        <!--                        <th:block  th:each="i: ${#numbers.sequence(start, end)}">-->
                        <!--                            <li>-->
                        <!--                                <a class="page" th:href="@{/alba/list(page=${i - 1})}" th:classappend="${i == albas.pageable.pageNumber + 1} ? 'selectPage' : '' " th:text="${i}">1</a>-->
                        <!--                            </li>-->
                        <!--                        </th:block >-->
                        <!--                        <li class="sidePageNum next" th:if="${end < albas.totalPages}">-->
                        <!--                            <a th:href="@{/alba/list(page=${end})}" class="page"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>-->
                        <!--                        </li>-->
                        <!--                    </ul>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>

<!-- 농장주 : 글 삭제 확인 모달창 -->
<div class="overlay-l alam-wrap" style="display: none">
    <div id="alam">
        <p>정말 삭제하시겠어요?</p>
        <p>한번 삭제된 프로그램은 복구할 수 없습니다.</p>
        <form action="/program/delete" method="post" id="delete-Program">
            <div id="alam-btn-group">
                <button class="a-ok" id="program-delete-btn">확인</button>
                <button type="button" class="a-no">취소</button>
                <input hidden name="programIdString" id="programIdString">
            </div>
        </form>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/myPageRest.js"></script>
<script src="/js/myPage/list.js"></script>
<script th:inline="javascript">


    $("div.menu-a").removeClass('menu-select');
    $("#program").addClass('menu-select');

    // 농장주일 때 글 삭제 모달 알람
    function removeCheck(programId){
        event.stopImmediatePropagation();
        $("#prgramIdString").attr("value",programId);
        $(".alam-wrap").show();
    };


    // 프로그램 삭제 버튼 클릭 시
    $("#program-delete-btn").on("click" , function () {
        // let programId;
        // programId = $("programIdResult").val();
        // location.href = "/program/delete?programId=" + programId;

        $("#delete-Program").submit();
    })

    //삭제 취소 버튼 클릭 시
    $(".a-no").on("click", function(){
        $(".alam-wrap").hide();
        return;
    });

    //상세페이지 이동
    function viewDetail(programId) {
        console.log("??");
        location.href = "/program/detail?programId=" + programId;
    }

$("#ls-wrap").on("click", ".myProgram", function(){
    let programId = this.classList[3];
    viewDetail(programId);
})
//-------------------------------------------------

    let memberId = [[${member.memberId}]];
    let memberType = [[${member.memberType}]];

    if(memberType == 'FARMER' || memberType == 'MENTOR'){
    $(document).ready(function () {
        myPageService.getPgList({
            memberId: memberId
        }, getList);
    })
    }else{
        $(document).ready(function () {
            myPageService.getApplyPgList({
                memberId: memberId
            }, getApplyList);
        })
    }

    globalThis.page = 1;

    //내가 등록한 프로그램 목록
    function getList(programs){
        console.log("함수사용"+programs);

        console.log("타입"+$("input.types").val());
        let text = "";

        if(programs.length == 0){
            text += "<div class='n-c-wrap' style='line-height: 25px;'>";
            text += "프로그램 목록이 없어요.<br>";
            text += "지금 프로그램을 개설해 보세요!";
            text += "</div>";
            $("#empty").html(text);
            return;
        }

        programs.forEach(function (programDTO) {
            if(programDTO.programPrice == 0){
                programDTO.programPrice = "무료"
            }
            nowDate = new Date();
            nowDateDTO = programDTO.programApplyStartDate;
            startDate = new Date(nowDateDTO);

            text += '<div class="list-wrap"  th:object="${programDTO}">'
            var number = programDTO.programId;
            text += "<div class='myProgram f-column select-l "+programDTO.programId+"'>"
            text += '<input type="hidden" name="pgId" value="'+number+'">'
            text += '<div class="list-img">'
            text += '<div class="only-mentor">'
            if(programDTO.programType == 'ONLY_MENTEE'){
                text += '<span class="only-mentor">멘티 전용</span>'
            }
            text += '</div>'
            if(nowDate > startDate){
                text += '<img class="pg-image" src=' + '/file/display?fileName=' + programDTO.files[0].fileUploadPath + '/s_' + programDTO.files[0].fileUuid + '_' + programDTO.files[0].fileName + '>'
            }else{
                text += '<img class="pg-image" src="/image/program/pgnotimage.gif">'
            }
            text += '<div class="applied-cancel">'
            text += '<a href="/program/update?programId='+ number + '">'
            text += '<div class="a-c-btn" style="margin-bottom: 1px;">수정하기</div></a>'
            text += '<a href="javascript:void(0);" onclick="javascript:removeCheck('+number+');">'
            text += '<div class="a-c-btn">삭제하기</div></a>'
            text += '<a href="/mypage/program/apply?programId='+ number + '">'
            text += '<div class="a-c-btn">신청자 목록</div></a>'
            text += '</div>'
            text += '<img src="/image/myPage/option.png" class="l-menuBtn l-m-btn">'
            text += '</div>'
            text += '<div class="list-text">'
            text += '<div class="l-text l-ing">진행 중</div>'
            text += '<div class="l-m-c">∙</div>'
            text += '<div class="l-text">' + programDTO.programLocation +'</div>'
            text += '<div class="l-m-c">∙</div>'
            text += '<div class="l-text">' + programDTO.programPrice + '</div>'
            text += '</div>'
            text += '<div class="list-title">' + programDTO.programTitle +'</div>'
            text += '</div>'
            let date = new Date(programDTO.programWorkDate);
            let month = date.getMonth()+1;
            let day = date.getDate();
            text += '<div class="start-day">'+ month + '월' + day  + '일 시작'   +'</div>'
            text += '</div>'
            text += '</div>'
        })
        $("div#pg-list").html(text);
    }

    //내가 신청한 프로그램 목록
    function getApplyList(programs){
        console.log("함수사용"+programs);

        console.log("타입"+$("input.types").val());
        let text = "";

        if(programs.length == 0){
            text += '<div class="n-c-wrap">';
            text += '너와농부싶어와 함께하는 프로그램을 확인해보세요!';
            text += `<button class="sendPage-btn" onclick="location.href='/program/list'">프로그램 보러 가기</button>`;
            text += '</div>';
            $("#empty").html(text);
            return;
        }

        programs.forEach(function (programDTO) {

            if(programDTO.programPrice == 0){
                programDTO.programPrice = "무료"
            }
            nowDate = new Date();
            nowDateDTO = programDTO.programApplyStartDate;
            startDate = new Date(nowDateDTO);

            text += '<div class="list-wrap"  th:object="${programDTO}">'
            var number = programDTO.programId;
            text += "<div class='myProgram f-column select-l "+programDTO.programId+"'>"
            text += '<input type="hidden" name="pgId" value="'+number+'">'
            text += '<div class="list-img">'
            text += '<div class="only-mentor">'
            if(programDTO.programType == 'ONLY_MENTEE'){
                text += '<span class="only-mentor">멘티 전용</span>'
            }
            text += '</div>'
            if(nowDate > startDate){
                text += '<img class="pg-image" src=' + '/file/display?fileName=' + programDTO.files[0].fileUploadPath + '/s_' + programDTO.files[0].fileUuid + '_' + programDTO.files[0].fileName + '>'
            }else{
                text += '<img class="pg-image" src="/image/program/pgnotimage.gif">'
            }

            text += '</div>'
            text += '<div class="list-text-wrap">'
            text += '<div class="list-text">'
            if(nowDate > startDate){
                text += '<div class="l-text starting l-d-ing">수강완료</div>'
            }else{
                text += '<div class="l-text starting l-d-ing">수강예정</div>'
            }

            text += '<div class="l-m-c">∙</div>'
            text += '<div class="l-text l-address">' + programDTO.programLocation +'</div>'
            text += '</div>'
            console.log(programDTO.programApplyId)
            var applyNumber = programDTO.programApplyId;
            if(programDTO.programStatus == 'PAY_SUCCEED'){
                text += '<div class="l-a-cancel l-text"><a href="/mypage/program/cancel?programApplyId='+applyNumber+'">신청 취소</a></div>'
            }else{
                text += '<div class="l-a-cancel l-text" style="color: #ff4d4d">취소 완료</div>'
            }
            text += '</div>'
            text += '<div class="list-title">' + programDTO.programTitle +'</div>'
            text += '</div>'
            let date = new Date(programDTO.programWorkDate);
            let month = date.getMonth()+1;
            let day = date.getDate();
            text += '<div class="start-day">'+ month + '월 ' + day  + '일 시작'   +'</div>'
            text += '</div>'
        })
        $("div#pg-apply-list").html(text);
    }
</script>
</html>