<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <div class="header_container">
            <div class="header_item">
                <div class="header_nav">
                    <!--로고-->
                    <div class="logo">
                        <a href="/main">
                            <img src="/image/header/logo.png" width="105px" height="45px" style="margin-bottom: 17px">
                        </a>
                    </div>
                    <!--대카 메뉴-->
                    <ul class="nav_ul">
                        <!--필요에 따라 스킬업 부분 텍스트 바꿔서 li a 태그 안에 div 삽입 시 오른쪽에 미니 글자 나옴-->
                        <li><a th:href="@{/mento/intro}">멘토</a></li>
                        <li><a th:href="@{/program/list}">프로그램</a></li>
                        <li><a th:href="@{/alba/list}">아르바이트</a></li>
                        <li><a th:href="@{/community/community}">커뮤니티</a></li>
                        <li><a th:href="@{/information/policy}">정보마당</a></li>
                        <div class="m_font">스킬업!</div>
                    </ul>

                    <!--오른쪽 메뉴-->
                    <aside>
                        <!--오른쪽 메뉴(로그인 전)-->
                        <ul class="nav_right" th:if="${session.memberId == null}">
                            <li><a th:href="@{/register/}">가입/로그인</a></li>
                            <!--검색 부분-->
                            <form action="" th:action class="searchForm">
                                <div class="search_form">
                                    <input class="search_keyword" name="searchText" th:value="${param.searchText}" autocomplete="off" type="text" placeholder="검색어를 입력하세요.">
                                    <button type="submit" class="search_img"/>
                                </div>
                            </form>
                        </ul>

                        <!--오른쪽 메뉴(로그인 후)-->
                        <ul class="nav_right_after" th:if="${session.memberId != null}">
                            <li>
                                <div class="noti-button-container">
                                    <div class="c-application c-badge--container absolute">
                                        <button type="button" class="c-application c-icon-button medium"
                                                style="opacity: 1;">
                                            <!--알림이 있는 경우 빨간 원 표시-->
                                            <span class="alarm-red" style="display: none"></span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
                                                 xmlns="http://www.w3.org/2000/svg" class="c-application c-icon"
                                                 style="fill: rgb(148, 155, 160);">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M6.88889 13.9814L6.41315 16.5H17.5869L17.1111 13.9814V9.61111C17.1111 6.78832 14.8228 4.5 12 4.5C9.17722 4.5 6.88889 6.78832 6.88889 9.61111V13.9814ZM4.88889 13.7941L4.22395 17.3144C4.10764 17.9302 4.57989 18.5 5.20658 18.5H18.7934C19.4201 18.5 19.8924 17.9302 19.7761 17.3144L19.1111 13.7941V9.61111C19.1111 5.68375 15.9274 2.5 12 2.5C8.07265 2.5 4.88889 5.68375 4.88889 9.61111V13.7941Z"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M11 18.5C11 19.0523 11.4477 19.5 12 19.5C12.5523 19.5 13 19.0523 13 18.5H15C15 20.1569 13.6569 21.5 12 21.5C10.3431 21.5 9 20.1569 9 18.5H11Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="">
                                    <div class="c-application c-badge--container absolute">
                                        <button type="button" class="c-application c-icon-button c-pointer medium"
                                                style="opacity: 1;">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
                                                 xmlns="http://www.w3.org/2000/svg" class="c-application c-icon"
                                                 style="fill: rgb(148, 155, 160);">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M18 5H6V18.1643L10.3939 15.3791C11.3744 14.7575 12.6256 14.7575 13.6061 15.3791L18 18.1643V5ZM6 3C4.89543 3 4 3.89543 4 5V19.9821C4 20.7704 4.86958 21.2488 5.53538 20.8267L11.4646 17.0683C11.7915 16.8611 12.2085 16.8611 12.5354 17.0683L18.4646 20.8267C19.1304 21.2488 20 20.7704 20 19.9821V5C20 3.89543 19.1046 3 18 3H6Z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li class="myPageBtn">
                                <div class="v-popover c-application popover-container">
                                    <div class="trigger" style="display: inline-block;">
                                        <button type="button" class="c-application c-icon-button medium"
                                                style="opacity: 1;">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
                                                 xmlns="http://www.w3.org/2000/svg" class="c-application c-icon"
                                                 style="fill: rgb(148, 155, 160);">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M12 9C13.1046 9 14 8.10457 14 7C14 5.89543 13.1046 5 12 5C10.8954 5 10 5.89543 10 7C10 8.10457 10.8954 9 12 9ZM12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M16.7098 16.6703L16.5547 16.4376C15.5394 14.9147 13.8303 14 12 14C10.1697 14 8.46055 14.9147 7.44529 16.4376L7.29018 16.6703C6.62629 17.6661 7.34016 19 8.53701 19H15.463C16.6598 19 17.3737 17.6661 16.7098 16.6703ZM12 12C9.50102 12 7.16738 13.2489 5.78119 15.3282L5.62608 15.5609C4.07611 17.8858 5.74277 21 8.53701 21H15.463C18.2572 21 19.9239 17.8858 18.3739 15.5609L18.2188 15.3282C16.8326 13.2489 14.499 12 12 12Z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <!--마이페이지 버튼 클릭 시 나올 서브메뉴-->
                                <div class="sub-menu" style="visibility: hidden; border: 1px solid rgb(250 250 250);">
                                    <ul>
                                        <li style="display: block; margin-left: 5px;"><div><span class="mypageLink"/><a th:href="@{/mypage/setting}">마이페이지</a></div></li><hr>
                                        <li style="display: block; margin-left: 5px;"><div><span class="commuLink"/><a th:href="@{/mypage/community}">커뮤니티 활동</a></div></li><hr>
                                        <li style="display: block; margin-left: 5px;"><div><span class="chatLink"/><a th:href="@{/mento/chatting}">채팅방</a></div></li><hr>
                                        <li style="display: block; margin-left: 5px;">
                                            <div th:if="${#strings.endsWith(session.oauthId,'k')}">
                                                <span class="logout"/>
                                                <a th:href="@{https://kauth.kakao.com/oauth/logout?client_id=b6c8cc415d06296f3dad49e498e431cc&logout_redirect_uri=http://localhost:5555/login/logoutkakao}">로그아웃</a>
                                            </div>
                                            <div th:if="${#strings.endsWith(session.oauthId,'n')}">
                                                <span class="logout"/>
                                                <a th:href="@{/login/logoutnaver}">로그아웃</a>
                                            </div>
                                            <div th:if="${#strings.endsWith(session.oauthId,'g')}">
                                                <span class="logout"/>
                                                <a onclick="location.href='https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:5555/login/logoutgoogle'">로그아웃</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <!--검색 부분-->
                            <form action="" th:action class="searchForm">
                                <div class="search_form">
                                    <input class="search_keyword" name="searchText" th:value="${param.searchText}" autocomplete="off" type="text" placeholder="검색어를 입력하세요.">
                                    <button type="submit" class="search_img"/>
                                </div>
                            </form>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>

        <!--알림창-->
        <div class="mask"></div>
        <div class="alarm">
            <div class="top-div">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="mr-4 c-application c-icon" style="fill: rgb(60, 65, 68); display: none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.21913 11.3753C3.92696 11.7405 3.92696 12.2595 4.21913 12.6247L8.21913 17.6247C8.56414 18.056 9.19343 18.1259 9.62469 17.7809C10.056 17.4359 10.1259 16.8066 9.78087 16.3753L6.28062 12L9.78087 7.6247C10.1259 7.19344 10.056 6.56415 9.62469 6.21914C9.19343 5.87413 8.56414 5.94405 8.21913 6.37531L4.21913 11.3753Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20 12C20 11.4477 19.5523 11 19 11H6C5.44771 11 5 11.4477 5 12C5 12.5523 5.44771 13 6 13H19C19.5523 13 20 12.5523 20 12Z"></path></svg>
                <p>알림</p>
                <span></span>
            </div>
            <div class="alarm-div">
                <!--================-->
                <!--여기서부터 알림 출력-->
                <!--================-->
            </div>
        </div>


        <!--서브헤더 틀 영역(서브헤더 필요시 div.wrap에 margin-top:114px로 변경 필요
            header.css 가장 상단에 있으니 참고
        -->
        <div id="sub_header" style="display: none">
            <div class="menuList">
                <ul>
                    <li><button class="on" type="button">테스트1</button></li>
                    <li><button class="off" type="button">테스트2</button></li>
                    <li><button class="off" type="button">테스트3</button></li>
                    <li><button class="off" type="button">테스트4</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fake-header" style="position: relative; height: 69px;"></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/_nuxt/20d360a.js" defer></script>
<script src="/_nuxt/f25e4a8.js" defer></script>
<script src="/_nuxt/1f39a1a.js" defer></script>
<script src="/_nuxt/0164a78.js" defer></script>
<script src="/_nuxt/64d0606.js" defer></script>
<script src="/_nuxt/c4d3092.js" defer></script>
<script src="/_nuxt/acc4646.js" defer></script>
<script src="/_nuxt/7cd88df.js" defer></script>
</html>