<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/notice/detail.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <div id="notice-wrap">
        <div id="n-wrap">
            <div id="n-w-wrap" th:object="${notice}">
                <div id="notice-title" th:text="*{noticeTitle}"></div>
                <div id="notice-profile">
                    <div class="p-name">너와농부싶어 운영자</div>
                    <div class="p-img"><img src="/image/header/favicon.png"></div>
                </div>
                <div id="notice-content">
                    <pre th:utext="*{noticeContent}"></pre>
                </div>
                <div id="notice-date" th:text="*{#temporals.format(createdDate, 'yyyy.MM.dd HH:mm')}"></div>
                <div id="files">
                    <th:block th:each="file:*{noticeFiles}">
                        <a th:href="@{/notice/file/download(fileName=${file.fileUploadPath + '/' + file.fileUuid + '_' + file.fileName})}">
                            <div class="file">
                                <span class="f-img"><img src="/image/admin/imageCheck.png" th:if="${file.fileImageCheck}" style="height: 18px;"></span>
                                <span class="f-img"><img src="/image/community/clip.png" th:unless="${file.fileImageCheck}"></span>
                                <span class="f-title" th:text="${file.fileName}"></span>
                                <span class="f-size" th:text="${'[' + file.fileSize / 1024 + 'KB]'}"></span>
                            </div>
                        </a>
                    </th:block>
                </div>
            </div>
            <div id="list-btn">
                <button type="button" class="back-list" onclick="backList();">목록</button>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/community/link.js"></script>
<script th:inline="javascript">
    let queryString = [[${criteria.noticeQueryString}]];
    function backList() {
        location.href='/notice' + queryString;
    }

    // 헤더 검색창 없애기
    $(".search_form").css("visibility", "hidden");

    //서브헤더 소카 이름
    $('div.menuList ul li:nth-child(1)').children().attr("class", "off");
    $('div.menuList ul li:nth-child(2)').children().attr("class", "on");
</script>
</html>