@charset "UTF-8";

body, button {
    margin: 0;
    vertical-align: baseline;
    font-family: "Pretendard";

    word-break: keep-all;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

div.flex {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#main-grid{
    padding-top: 0!important;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.c-new-row{
    display: flex;
    flex-wrap: wrap;
}

.c-new-col{
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pg-opening-header-container{
    background-color: rgb(255, 255, 255);
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.opening-header{
    display: flex;
    align-items: center;
    padding: 16px 24px 16px 40px;
    border-bottom: 1px solid #eaecee;
    justify-content: space-between;
}

.opening-header-left{
    display: flex!important;
    align-items: center;
}

.left-title{
    color: rgb(60, 65, 68);
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    word-break: keep-all;
    word-wrap: break-word;
}

.header-button1{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #47c88052;
    color: #47c880;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
}

.header-button2{
    margin-left: 12px;
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #f3f4f5;
    color: #767d82;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
}

#c-overlay{
    display: none;
    z-index: 9998;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#c-overlay-2{
    display: none;
    z-index: 9998;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#c-overlay-3{
    display: none;
    z-index: 9998;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.register-modal{
    max-height: 640px;
    width: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.modal-wrapper{
    padding: 32px 0;
}

.modal-title-wrapper{
    padding: 8px 32px 16px;
}
.modal-title{
    color: rgb(4, 5, 5);
    text-align: left;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

.modal-content-wrapper{
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
}

.modal-content1{
    color: rgb(60, 65, 68);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.modal-content2{
    color: rgb(60, 65, 68);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.exit-modal-action-container{
    width: 100%;
    margin-top: 24px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}

.button-1{
    flex: 1 1 0;
    background-color: transparent;
    border: 1px solid #47c880;
    color: #47c880;
    height: 48px;
    padding: 0 14px;
    min-width: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 600;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
    text-transform: none;
}

.button-2{
    flex: 1 1 0;
    height: 48px;
    padding: 0 14px;
    min-width: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-top: 0;
    background-color: #47c880;
    color: #fff;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
    text-transform: none;
}
.opening-progress-bar-background{
    height: 2px;
    background-color: #eaecee;
    overflow: hidden;
    width: 100%;
}

.opening-progress-bar{
    width: 0%;
    background-color: #47c880;
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .5s;
}



.opening-footer-container{
    background-color: #FFFFFF;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.opening-footer{
    padding: 16px 24px;
    border-top: 1px solid #eaecee;
    display: flex!important;
    align-items: center;
    justify-content: flex-end;

}

.footer-prev{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #f3f4f5;
    color: #767d82;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-right: 12px;
}

.footer-img-prev{
    width: 8px;
    height: 13px;
    margin-right: 2px;
}

.footer-next{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #47c880;
    color: #fff;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.footer-img-next{
    padding-top: 2.5px;
    width: 10px;
    height: 14px;
    margin-left: 3px;
}

button[type="button"]:disabled {
    color: #9ba1a47d;
    background: #fcfcfc;
    cursor: not-allowed;
}

.opening-side-box{
    background-color: rgb(255, 255, 255);
    padding: 28px 0px 0px 40px;
    top: 56px;
    min-width: 240px;
    min-height: 1000px;
    position: fixed;
    left: 0;
    display: block;
}

.side-box-step-container{
    display: flex!important;
    flex-direction: column;
}

.side-box-step{
    padding: 8px 4px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #adb3b8;
    border-radius: 12px;
    display: flex!important;
    align-items: center;
}

.side-box-title{
    color: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
}

.pick{
    color: #202325!important;
    font-weight: 500!important;
}

.opening-body-container{
    background-color: inherit;
    padding: 69px 16px 80px;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.target-row{
    padding-top: 36px;
}

.profile-title-section{
    margin-bottom: 40px;
}

.profile-title{
    color: rgb(32, 35, 37);
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 4px!important;
}

.point-title{
    color: #47c880;
}

.profile-subtitle{
    color: rgb(148, 155, 160);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c-new-col section+section{
    margin-top: 32px;
}

.title-example-container{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.mb-12{
    margin-bottom: 12px!important;
}

.section-body{
    color: rgb(89, 95, 99);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px!important;
}

.body-caption{
    color: rgb(148, 155, 160);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 2px!important;
}

.example-chip{
    border: 1px solid #eaecee;
    color: #949ba0;
    padding: 4.5px 10px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    height: 24px;
    font-weight: 400;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.opening-short-input{
    max-width: 260px;
}

.c-text-field{
    border-radius: 4px;
    position: relative;
}

.field-input-wrapper{
    position: relative;
}

.c-text-field-input{
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    transition: all .2s ease;
    overflow: visible;
}

.c-text-field-input::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.select-chip{
    pointer-events: auto;
    padding: 5px 12px!important;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    font-weight: 400;
    color: #595f63;
    border: 1px solid #f3f4f5;
    background-color: #f3f4f5;
    cursor: pointer;
    border-radius: 15px!important;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.c-chip+.c-chip{
    margin-left: 10px;
}

.quill-editor{
    border-radius: 4px;
    border: 1px solid #e1e4e6;
    color: #000;
}

.ql-container{
    border-top: 0;
    border: none;
    padding: 19px 16px;
    font-size: 16px;
}

.ql-editor{
    min-height: auto;
    overflow-y: auto;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    width: 100%;
}

.ql-editor::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.ql-editor-text::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.ql-editor-text{
    min-height: auto;
    overflow-y: hidden;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    width: 100%;
    resize: none;
}

.opening-guide-container{
    top: 105px;
    width: 353px;
    position: fixed;
    right: 24px;
    overflow: auto;
    max-height: calc(100vh - 174px);
}

.pg-opening-guide{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eaecee;
    margin-bottom: 12px;
    transition: all .3s ease-in-out;
    padding: 20px;
    background-color: #fff;
}

.guide-title-container{
    display: flex!important;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.guide-title-container-wrapper{
    display: flex!important;
    align-items: center;
}

.example{
    color: rgb(31 98 61);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}

.vertical-line{
    border-color: rgb(234, 236, 238);
    border-style: solid;
    border-left: 1px;
    width: 0;
    height: inherit;
    align-self: stretch;
    max-height: 14px;
    margin-top: 6px;
    margin-left: 8px!important;
    margin-right: 8px!important;
    box-sizing: content-box;
    overflow: visible;
}

.example-target{
    color: rgb(4, 5, 5);
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}

.arrow-icon{
    width: 13px;
}

.guide-content{
    margin-top: 12px;
    display: none;
}

.guide-chip-container>.opening-select-chip+.opening-select-chip{
    margin-left:8px;
}

.opening-select-chip{
    padding: 5px 12px!important;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 15px!important;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: #595f63;
    border: 1px solid #f3f4f5;
    background-color: #f3f4f5;
}

.active{
    background-color: #47c88052!important;
    color: #47c880!important;
}

.guide-img{
    margin-top: 12px;
    width: 311px;
    height: auto;
}


.opining-input-group> *+*{
    margin-top: 12px;
}


.c-text-field-input2{
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 95.5%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    transition: all .2s ease;
}

.c-text-field-input2::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.input-length{
    color: rgb(89, 95, 99);
    font-weight: 400;
    display: flex!important;
    justify-content: flex-end;
    margin-top: 2px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    word-wrap: break-word;
}

.length-wrapper{
    margin-right: 0!important;
    word-break: keep-all;
    word-wrap: break-word;
}

.c-caption1{
    color: rgb(89, 95, 99);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: break-word;
}

.c-caption2{
    color: rgb(148, 155, 160);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: break-word;
}

.ql-container2{
    padding: 10px 16px;
}

.ql-container-textarea{
    padding: 16px;
}

.textarea-editor{
    min-height: 132px;
    overflow-y: auto;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-family: Pretendard;
    resize: none;
    border: none;
    width: 100%;
}


.textarea-editor::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}



.upload{
    width: 20px;
}

.upload-margin{
    margin-left: 18px;
}

.c-callout-information{
    background-color: #fcfcfc;
    padding: 8px;
    border-radius: 6px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
}

.c-callout-wrapper{
    display: inline-flex;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.align-center{
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.c-callout-message{
    margin-left: 7px;
    color: rgb(89, 95, 99);
    word-break: keep-all;
    white-space: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

.curriculum-write-input-container{
    margin-bottom: 12px;
    align-items: center;
}

.curriculum-write-input-title{
    color: #595F63;
    width: 60px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.curriculum-write-input-body{
    margin-left: 12px;
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half{
    width: 40%;
}

input {
    font-size: 16px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    font-family: Pretendard;
}

@media only screen and (min-width: 768px) {
    .c-new-row {
        margin-right: -12px;
        margin-left: -12px;
    }

    .c-new-col{
        padding-right: 12px;
        padding-left: 12px;
    }

    .new-col-log-12{
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .opening-body-container{
        max-width: 1140px;
    }

    .target-col{
        margin-left: 8.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .ql-editor{
        max-height: 500px;
    }

    .textarea-editor{
        max-height: 500px;
    }

    .register-modal{
        min-width: 337px;
        max-width: 420px;
    }

    .modal-content-wrapper{
        max-height: 511px;
    }
}



















@charset "UTF-8";

body, button {
    margin: 0;
    vertical-align: baseline;
    font-family: "Pretendard";

    word-break: keep-all;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

div.flex {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#main-grid{
    padding-top: 0!important;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.c-new-row{
    display: flex;
    flex-wrap: wrap;
}

.c-new-col{
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pg-opening-header-container{
    background-color: rgb(255, 255, 255);
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.opening-header{
    display: flex;
    align-items: center;
    padding: 16px 24px 16px 40px;
    border-bottom: 1px solid #eaecee;
    justify-content: space-between;
}

.opening-header-left{
    display: flex!important;
    align-items: center;
}

.left-title{
    color: rgb(60, 65, 68);
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    word-break: keep-all;
    word-wrap: break-word;
}

.header-button1{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #47c88052;
    color: #47c880;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
}

.header-button2{
    margin-left: 12px;
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #f3f4f5;
    color: #767d82;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
}

#c-overlay{
    display: none;
    z-index: 9998;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.register-modal{
    max-height: 640px;
    width: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.modal-wrapper{
    padding: 32px 0;
}

.modal-title-wrapper{
    padding: 8px 32px 16px;
}
.modal-title{
    color: rgb(4, 5, 5);
    text-align: left;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

.modal-content-wrapper{
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
}

.modal-content{
    color: rgb(60, 65, 68);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.exit-modal-action-container{
    width: 100%;
    margin-top: 24px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}

.button-1{
    flex: 1 1 0;
    background-color: transparent;
    border: 1px solid #47c880;
    color: #47c880;
    height: 48px;
    padding: 0 14px;
    min-width: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 600;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
    text-transform: none;
}

.button-2{
    flex: 1 1 0;
    height: 48px;
    padding: 0 14px;
    min-width: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-top: 0;
    background-color: #47c880;
    color: #fff;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
    text-transform: none;
}

.button-ok{
    flex: 1 1 0;
    height: 48px;
    padding: 0 14px;
    min-width: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-top: 0;
    background-color: #47c880;
    color: #fff;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: button;
    text-transform: none;
}
.opening-progress-bar-background{
    height: 2px;
    background-color: #eaecee;
    overflow: hidden;
    width: 100%;
}

.opening-progress-bar{
    width: 0%;
    background-color: #47c880;
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .5s;
}



.opening-footer-container{
    background-color: #FFFFFF;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.opening-footer{
    padding: 16px 24px;
    border-top: 1px solid #eaecee;
    display: flex!important;
    align-items: center;
    justify-content: flex-end;

}

.footer-prev{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #f3f4f5;
    color: #767d82;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-right: 12px;
}

.footer-img-prev{
    width: 8px;
    height: 13px;
    margin-right: 2px;
}


.footer-next{
    height: 36px;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #47c880;
    color: #fff;
    border: none;
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.footer-img-next{
    padding-top: 2.5px;
    width: 10px;
    height: 14px;
    margin-left: 3px;
    padding-bottom: 3px;
}

.opening-side-box{
    background-color: rgb(255, 255, 255);
    padding: 28px 0px 0px 40px;
    top: 56px;
    min-width: 240px;
    min-height: 1000px;
    position: fixed;
    left: 0;
    display: block;
}

.side-box-step-container{
    display: flex!important;
    flex-direction: column;
}

.side-box-step{
    padding: 8px 4px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #adb3b8;
    border-radius: 12px;
    display: flex!important;
    align-items: center;
}

.side-box-title{
    color: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
}

.pick{
    color: #202325!important;
    font-weight: 500!important;
}

.opening-body-container{
    background-color: inherit;
    padding: 69px 16px 80px;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.target-row{
    padding-top: 36px;
}

.profile-title-section{
    margin-bottom: 40px;
}

.profile-title{
    color: rgb(32, 35, 37);
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 4px!important;
}

.point-title{
    color: #47c880;
}

.profile-subtitle{
    color: rgb(148, 155, 160);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c-new-col section+section{
    margin-top: 32px;
}

.title-example-container{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.mb-12{
    margin-bottom: 12px!important;
}

.section-body{
    color: rgb(89, 95, 99);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px!important;
}

.body-caption{
    color: rgb(148, 155, 160);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 2px!important;
}

.example-chip{
    border: 1px solid #eaecee;
    color: #949ba0;
    padding: 4.5px 10px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    height: 24px;
    font-weight: 400;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.opening-short-input{
    max-width: 260px;
}

.c-text-field{
    border-radius: 4px;
    position: relative;
}

.field-input-wrapper{
    position: relative;
}

.c-text-field-input{
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    transition: all .2s ease;
    overflow: visible;
}

.c-text-field-input::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.selected-c-chip{
    border: 1px solid #ffffff!important;
    background-color: #47c88052!important;
    color: #47c880!important;
}

.select-chip{
    pointer-events: auto;
    padding: 5px 12px!important;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    font-weight: 400;
    color: #595f63;
    border: 1px solid #f3f4f5;
    background-color: #f3f4f5;
    cursor: pointer;
    border-radius: 15px!important;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.c-chip+.c-chip{
    margin-left: 10px;
}

.quill-editor{
    border-radius: 4px;
    border: 1px solid #e1e4e6;
    color: #000;
}

.ql-container{
    border-top: 0;
    border: none;
    padding: 19px 16px;
    font-size: 16px;
}

.ql-editor{
    min-height: auto;
    overflow-y: auto;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    width: 100%;
}

.ql-editor::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.ql-editor-text::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.ql-editor-text{
    font-family: Pretendard;
    min-height: auto;
    overflow-y: hidden;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    width: 100%;
    resize: none;
}

.opening-guide-container{
    top: 105px;
    width: 353px;
    position: fixed;
    right: 24px;
    overflow: auto;
    max-height: calc(100vh - 174px);
}

.pg-opening-guide{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eaecee;
    margin-bottom: 12px;
    transition: all .3s ease-in-out;
    padding: 20px;
    background-color: #fff;
}

.guide-title-container{
    display: flex!important;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.guide-title-container-wrapper{
    display: flex!important;
    align-items: center;
}

.example{
    color: rgb(31 98 61);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}

.vertical-line{
    border-color: rgb(234, 236, 238);
    border-style: solid;
    border-left: 1px;
    width: 0;
    height: inherit;
    align-self: stretch;
    max-height: 14px;
    margin-top: 6px;
    margin-left: 8px!important;
    margin-right: 8px!important;
    box-sizing: content-box;
    overflow: visible;
}

.example-target{
    color: rgb(4, 5, 5);
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}

.arrow-icon{
    width: 13px;
}

.guide-content{
    margin-top: 12px;
    display: none;
}

.guide-chip-container>.opening-select-chip+.opening-select-chip{
    margin-left:8px;
}

.opening-select-chip{
    padding: 5px 12px!important;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 15px!important;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: #595f63;
    border: 1px solid #f3f4f5;
    background-color: #f3f4f5;
}

.active{
    background-color: #47c88052!important;
    color: #47c880!important;
}

.guide-img{
    margin-top: 12px;
    width: 311px;
    height: auto;
}


.opining-input-group> *+*{
    margin-top: 12px;
}


.c-text-field-input2{
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 95.5%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    transition: all .2s ease;
}

.c-text-field-input2::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.input-length{
    color: rgb(89, 95, 99);
    font-weight: 400;
    display: flex!important;
    justify-content: flex-end;
    margin-top: 2px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    word-wrap: break-word;
}

.length-wrapper{
    margin-right: 0!important;
    word-break: keep-all;
    word-wrap: break-word;
}

.c-caption1{
    color: rgb(89, 95, 99);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: break-word;
}

.c-caption2{
    color: rgb(148, 155, 160);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: break-word;
}

.ql-container2{
    padding: 10px 16px;
}

.ql-container-textarea{
    padding: 16px;
}

.textarea-editor{
    min-height: 132px;
    overflow-y: auto;
    padding: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-family: Pretendard;
    resize: none;
    border: none;
    width: 100%;
}


.textarea-editor::placeholder{
    color: #cfd4d7;
    font-size: 16px;
    font-family: Pretendard;
}

.upload{
    width: 20px;
}

.upload-margin{
    margin-left: 18px;
}

.c-callout-information{
    background-color: #fcfcfc;
    padding: 8px;
    border-radius: 6px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
}

.c-callout-information-2{
    background-color: #fcfcfc;
    padding: 8px;
    border-radius: 6px;
    display: block;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
}

#file-content{
    display: inline-flex;
}

#deleteBtn{
    display: inline-flex;
    float: right;
    display: none;
    width: 15px;
}

.c-callout-wrapper{
    display: inline-flex;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.align-center{
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.c-callout-message{
    margin-left: 7px;
    color: rgb(89, 95, 99);
    word-break: keep-all;
    white-space: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

.curriculum-write-input-container{
    margin-bottom: 12px;
    align-items: center;
}

.curriculum-write-input-title{
    color: #595F63;
    width: 60px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.curriculum-write-input-body{
    margin-left: 12px;
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half{
    width: 40%;
}

input {
    font-size: 16px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    font-family: Pretendard;
}

.uploadResult ul li{
    position: relative;
    display: inline-block;
}
.uploadResult ul li span{
    position: absolute;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .c-new-row {
        margin-right: -12px;
        margin-left: -12px;
    }

    .c-new-col{
        padding-right: 12px;
        padding-left: 12px;
    }

    .new-col-log-12{
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .opening-body-container{
        max-width: 1140px;
    }

    .target-col{
        margin-left: 8.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .ql-editor{
        max-height: 500px;
    }

    .textarea-editor{
        max-height: 500px;
    }

    .register-modal{
        min-width: 337px;
        max-width: 420px;
    }

    .modal-content-wrapper{
        max-height: 511px;
    }
}



















