<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>농작물 정보</title>
    <link rel="stylesheet" href="/css/information/policy.css">
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png"/>
    <link rel="stylesheet" href="/css/myPage/paging.css" />

</head>
<body>

    <!--헤더-->
    <div th:replace="/header/header.html :: header" class="header"></div>

<!--    <div id="wrap" style="margin-top: 44px !important;">-->
    <div class="grid-fluid">
        <div class="grid-fluid-row">
            <div class="banner-background"></div>
            <div class="grid-container">
                <div class="grid-container-row">
                    <div class="grid-container-col">
                        <section class="pg-detail-banner">
                            <div class="banner-title-container">
                                <span class="pg-detail-banner-chip">정보</span>
                                <div class="pg-detail-banner-title">농작물 정보</div>
                                <div class="pg-detail-banner-headline">농작물에 대해서 궁금한 점</div>
                            </div>
                            <div class="banner-image-container">
                                <img class="pg-detail-banner-image" src="/image/information/readyTest.png">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="c-application c-new-col" id="faq" sid="guest" style="background: #fafafa;">
        <div class="faq faq-container">
            <div class="c-application c-new-grid container" style="background: inherit;"></div>
            <div class="c-application c-new-row">
                <div class="c-application c-new-col" style="margin-bottom: -415px">
                    <div class="c-application c-new-col footerMargin">
                        <div class="faq faq-board">
                            <ul class="clearfix" th:each="crop:${crops}" th:if="${!data}">
                                <li class="faq-board-list" th:object="${crop}">
                                    <p class="faq-board-list-cont faq-board-list-question lh">
                                        <span class="text-primary">[<th:block th:text="*{cropKeyword}"/>]</span>
                                        <span class="p-title" th:text="*{cropTitle}"></span>
                                        <img class="rotate" src="/image/information/arrow.png" style="position: absolute; right: 40px;">
                                    </p>
                                    <div class="active1" style="display: none;">
                                        <img th:src="@{/admin/cropimg/display(fileName=*{cropImage})}" style="width: 150px" th:if="*{cropImage != null}">
                                        <pre class="faq-board-list-answer" th:utext="*{cropContent}"></pre>
                                    </div>
                                </li>
                            </ul>
                            <th:block th:if="${data}">
                                <div class="data-none">
                                    검색 결과가 없습니다.
                                </div>
                            </th:block>
                        </div>

                        <!--페이징-->
                        <th:block th:if="${!data}">
                            <div id="paging" style="margin-bottom: 100px;">
                                <ul th:with="start=${(crops.number/maxPage)*maxPage + 1}, end=(${(crops.totalPages == 0) ? 1 : (start + (maxPage - 1) < crops.totalPages ? start + (maxPage - 1) : crops.totalPages)})">
                                    <li class="sidePageNum prev" th:if="${crops.pageable.pageNumber > 0}">
                                        <a th:href="@{/information/crops(page=${((crops.pageable.pageNumber/5)*5) - 1}, searchText=${param.searchText})}" class="page"><svg width="16" height="16" class="sidePageDisabled" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(270deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>
                                    </li>
                                    <th:block  th:each="i: ${#numbers.sequence(start, end)}">
                                        <li>
                                            <a class="page" th:href="@{/information/crops(page=${i - 1}, searchText=${param.searchText})}" th:classappend="${i == crops.pageable.pageNumber + 1} ? 'selectPage' : '' " th:text="${i}">1</a>
                                        </li>
                                    </th:block >
                                    <li class="sidePageNum next" th:if="${end < crops.totalPages}">
                                        <a th:href="@{/information/crops(page=${end}, searchText=${param.searchText})}" class="page"><svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(90deg);" data-v-bd9f2bcc="" data-v-30c80689=""><path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z" data-v-bd9f2bcc=""></path></svg></a>
                                    </li>
                                </ul>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>

        <!--푸터-->
        <footer th:replace="/footer/footer.html :: footer"></footer>
    </div>
<!--    </div>-->

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    $(".searchForm").attr("action", "/information/crops");

    $('p.faq-board-list-question').on('click', function () {
        let $img = $(this).children("img");

        if (!($img.hasClass("down"))) {
            $img.addClass("down");
            $(this).next().show();
        } else {
            $img.removeClass("down");
            $(this).next().hide();
        }
    })

</script>
<script src="/js/information/cropInformation.js"></script>
<script src="/js/header/header.js"></script>
</html>