@charset "utf-8";

div.contents-bottom {
    position: relative;
}

div#container .chart-no {
    margin-top: 95px;
}

th.num { width: 6%; }
th.title { width: 23%; }
th.content { width: 29%; }
th.id { width: 12%; }
th.file-check { width: 7%; }
th.hourCost { width: 10%; }
th.work-date { width: 10%; }
th.date { width: 10%; }
th.hits { width:  7%; }
th.statusOk { width:  7%; }
th.revise, th.delete { width: 6%; }

td.revise, td.delete { padding: 0 0.3vw; }

td.revise input[type="button"]:hover { background: #e1e2e4;}
td.delete input[type="button"] { background: red; color: white;}
td.askStatus{color:red;}
td.status{color: red;}
td.payStatusCancel {color: red;}
td.payStatusOk {color: green;}

div#write {
    position: absolute;
    right: 15px;
    bottom: 20px;
}

div#write input[type="button"] {
    width: 120px;
    height: 30px;
    background: #747474;
    border: 0;
    cursor: pointer;
    line-height: 1px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}