@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Pretendard;
}

.more-btn{
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
}


.selected-header {
    color: #040505!important;
    font-weight: 600!important;
}
#main_grid {
    padding-top: 0 !important;
    overflow-x: hidden;
}

#main_grid_inner1 {
    margin-right: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
}

#grid_main {
    width: 100%;
    display: block;
}

#section_banner {
    background-color: #ED766F;
    cursor: pointer;
}

#banner_container {
    background-color: inherit;
    max-width: 1140px;
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

#banner_container_inner1 {
    margin-right: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
}

#banner_container_inner2 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#banner_container_inner3 {
    --align-items: flex-start;
    --justify-content: center;
    --wrapper-margin: 0px;
    height: 390px;
    position: relative;
    display: grid;
}

#banner_background1 {
    grid-area: 1/-1;
    height: 100%;
}

#banner_background1_1 {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.banner_picture {
    max-width: 100%;
    display: inline-block;
}

#banner_background2 {
    display: flex !important;
    flex-direction: column;
    align-items: start;
    grid-area: 1/-1;
    justify-content: center;
}

#banner_wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: start;
}

#banner_image {
    width: var(--optimized-image-width);
    max-width: 100%;
    margin-bottom: 10px !important;
}

#banner_text {
    color: #040505;
    font-size: 42px;
    line-height: 51px;
    font-weight: 600;
    letter-spacing: -.02em;
}

#section_list {
    padding: 80px 0;
    width: 100%;
}

#mentor_list_wrap {
    margin-top: 0;
    width: 100%;
}

#mentor_text {
    max-width: 1140px;
    background-color: inherit;
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

#mentor_text_inner1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

#mentor_text_inner2 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#mentor_text_inner3 {
    margin-bottom: 24px;
}

#mentor_text_flex {
    align-items: center;
    display: flex;
}

#mentor_text_1_1 {
    font-size: 26px;
    line-height: 33px;
    font-weight: 600;
    color: inherit;
}

#mentor_text_2 {
    color: inherit;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#mentor_write_button{
    border-color: #47c880;
    background-color: #47c880;
    color: #fff;
    width: 130px;
    height: 44px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
#mentor_write_button:hover{
    background-color: #357e55;
}

#mentor_list {
    background-color: inherit;
    max-width: 1140px;
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

#mentor_list_flex {
    margin-right: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#mentor_list_flex_inner1 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
    width: 100%;
}

#mentor_list_flex_inner2 {
    padding: 0;
    background-color: inherit;
    margin-bottom: -32px;
    position: relative;
    width: 100%;
}

#mentor_list_flex_inner3 {
    margin-right: -12px;
    margin-left: -12px;
    flex-wrap: wrap;
    display: flex;
}

.mentor_info {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.mentor_info_inner1 {
    --card-width: 100%;
    --background-color: white;
    --title-height: 50px;
    --border-radius: 10px;
    padding-bottom: 12px;
    background-color: var(--background-color);
    border-radius: 4px;
    width: var(--card-width);
    min-width: 152px;
    cursor: pointer;
}

.mentor_info_inner2 {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
}

.mentor_info_image {
    width: var(--optimized-image-width);
    max-width: 100%;
    display: inline-block;
    --optimized-image-width: 100%;
    --optimized-image-aspect-ratio: 259 / 300;
    --optimized-image-fallback-ratio: 115.83%;
}
.mentor_info_inner3{
    margin-top: 12px;
    width: 100%;
}
.mentor_info_subTitle{
    display: flex!important;
    align-items: center;
}
.mentor_info_subTitle2{
    color: #3C4144;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.mentor_info_title{
    margin-top: 4px!important;
}
.mentor_info_title2{
    color: #040505;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}
.mentor_info_caption{
    display: flex!important;
    align-items: center;
    margin-top: 8px!important;
}
.mentor_info_caption2{
    color: #ADB3B8;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}
.mentor_star{
    display: flex!important;
    -webkit-box-align: center;
    align-items: center;
}
.mentor_star_inner1{
    fill: rgb(255, 215, 0);
    cursor: auto;
    background: transparent!important;
    overflow: hidden;
    margin-right: 2px!important;
    box-sizing: border-box;
    outline: none;
    width: 12px;
    height: 12px;
}
.mentor_star_span{
    color: rgb(89, 95, 99);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.mentor_star_avg{
    color: rgb(89, 95, 99);
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    margin-left: 2px!important;
}