<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mento/intro.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png"/>
    <link rel="shortcut icon" href="/image/header/favicon.png"/>
    <title>멘토소개 페이지</title>
</head>
<body>
<!--헤더 삽입-->
<div th:replace="/header/header.html :: header" class="header"/>

<!--body-->
<div id="main_wrap">
    <div id="main_content">
        <div id="intro_flex">
            <div id="mentor_intro">
                <div id="intro_content">
                    <div id="content_inner1">
                        <div id="inner1_text1">
                            <div class="" style="color:#202325;text-align:left;">성공적인 영농정착까지</div>
                        </div>
                        <div id="inner1_text2">다양한 경험의 멘토와<br>귀농귀촌 함께해요</div>
                    </div>
                        <div id="content_inner2">
                            <form action="/mento/list">
                                <input type="submit" id="content_button" value="멘토 목록 보기">
                            </form>
                        </div>
                </div>
            </div>
            <img src="/image/mento/mento3.png" width="489px" height="390px">
        </div>
        <div id="main_content0">
            <div id="main_content0_inner">
                <div id="main_content0_inner2">
                    <div id="main_content0_title">
                        추천 멘토 목록
                    </div>
                    <div id="main_content0_lists">
                        <div id="main_content0_lists_flex">
                            <th:block  th:each="list,i:${lists}">
                                <div class="mentor_info">
<!--                                    <input type="hidden" th:value="${mentorDTO}" name="mentorInfo" id="mentorInfo">-->
                                    <a th:href="@{/mento/detail(mentorBoardId=*{list.mentorBoardId})}">
                                        <article class="mentor_info_inner1">
                                            <div class="mentor_info_inner2">
                                                <picture class="mentor_info_image" style=";">
<!--                                                    <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">-->
                                                    <img th:src="@{/mentofile/display?fileName=} + *{list.files[0].fileUploadPath} + '/'+ *{list.files[0].fileUuid}  + '_' + *{list.files[0].fileName}" + width="259" height="300">
                                                </picture>
                                            </div>
                                            <div class="mentor_info_inner3">
                                                <div class="mentor_info_subTitle">
                                                    <div class="mentor_info_subTitle2" th:text="*{list.memberNickName}"></div>
                                                </div>
                                                <div class="mentor_info_title">
                                                    <div class="mentor_info_title2" th:text="*{list.mentorTitle}"></div>
                                                </div>
                                                <div class="mentor_info_caption">
                                                    <div class="mentor_star">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                            <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                        </svg>
                                                        <span class="mentor_star_span" th:text="${mentorBoardAvg[i.index]}"></span>
                                                        <div class="mentor_star_avg" th:text=" '(' + ${mentorBoardTotalCount[i.index]} + ')'"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </a>
                                </div>
                            </th:block>

<!--                            <div class="mentor_info">-->
<!--                                <a href="/mento/detail">-->
<!--                                    <article class="mentor_info_inner1">-->
<!--                                        <div class="mentor_info_inner2">-->
<!--                                            <picture class="mentor_info_image" style=";">-->
<!--                                                <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75"-->
<!--                                                        type="image/webp">-->
<!--                                                <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt=""-->
<!--                                                     width="259" height="300">-->
<!--                                            </picture>-->
<!--                                        </div>-->
<!--                                        <div class="mentor_info_inner3">-->
<!--                                            <div class="mentor_info_subTitle">-->
<!--                                                <div class="mentor_info_subTitle2">닉네임</div>-->
<!--                                            </div>-->
<!--                                            <div class="mentor_info_title">-->
<!--                                                <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>-->
<!--                                            </div>-->
<!--                                            <div class="mentor_info_caption">-->
<!--                                                <div class="mentor_star">-->
<!--                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="black"-->
<!--                                                         xmlns="http://www.w3.org/2000/svg" element="span"-->
<!--                                                         class="mentor_star_inner1">-->
<!--                                                        <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>-->
<!--                                                    </svg>-->
<!--                                                    <span class="mentor_star_span">4.9</span>-->
<!--                                                    <div class="mentor_star_avg">(221)</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </article>-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div id="main_content0_button">
                        <div id="main_content0_button_flex">
                            <div id="main_content0_button_flex1">
                                <form action="/mento/list">
                                    <input type="submit" id="main_content0_button_button" value="멘토 목록 보기">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main_content1">
            <div id="content1_top">
                <div id="content1_top_1">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                         class="c-application c-icon" style="fill:#FFFFFF;">
                        <path d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                    </svg>
                </div>
                <div id="content1_top_2">각종 분야 멘토들의<br>후기들을 확인해보세요</div>
            </div>
        </div>
        <div id="main_content2">
            <div id="content2_divide">
                <div id="content2_left">
                    <div id="content2_left_box">
                        <div id="content2_left_box_inner1">
                            <div id="left_box_avg">4.8</div>
                            <div id="left_box_max">/5.0</div>
                        </div>
                        <div id="content2_left_box_inner2">
                            <div id="ratings">
                                <div id="empty-stars"></div>
                                <div id="full-stars"></div>
                            </div>
                            <div id="ratings_count">
                                (147)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content2_right">
                    <div id="content2_right_box">

                        <!--배너 시작-->
                        <div class="content2_right_box_inner1 swiper mySwiper">
                            <div class="content2_right_box_inner2 swiper-wrapper">
                                <div class="swiper-slide">
                                    <div data-v-77cc2419="" data-v-1d8d6f66="" class="mb-24"
                                         style="margin-bottom: 24px">
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                    </div>
                                    <div class="swiper_inner1" style="color: rgb(32, 35, 37);">
                                        청년귀농에 대해서 알게 되었고, 귀농을 확신하는 과정에 <br>큰 도움이
                                        되었습니다.
                                    </div>
                                    <div class="swiper_inner2" style="color: rgb(60, 65, 68);">
                                        특히 무조건적으로 '귀농이 좋다'라는 식의 치우침 없이
                                        어려운 점과 좋은 점 이야기 들을 수 있었던 것이 가장 좋았습니다.<br><br>
                                        멘토님의 철저한 강의준비와, 직무 노하우, 빠삭한 귀농의 현 상황들을 아낌없이 전달해주셔서 매우 만족했습니다.<br><br>
                                        매번 과제에 대한 꼼꼼한 피드백, 그리고 항상 그 이상의 무언가를 가져갈 수 있었어요.
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div data-v-77cc2419="" data-v-1d8d6f66="" class="mb-24"
                                         style="margin-bottom: 24px">
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                    </div>
                                    <div
                                            class="swiper_inner1" style="color: rgb(32, 35, 37);">
                                        재배할 품목 선정에 대하여 <br>큰 도움이
                                        되었습니다.
                                    </div>
                                    <div class="swiper_inner2" style="color: rgb(60, 65, 68);">
                                        어떤 것을 재배를 할지 고민이 정말로 많았었는데 그에 대한 답을 해주셨습니다!
                                        <br><br>
                                        멘토님의 품목선정과, 재배 노하우 등을 알게 되어서 너무 좋았습니다!<br><br>
                                        덕분에 농사에 관해서 많은 것들을 배웠습니다! 정말로 감사합니다!
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div data-v-77cc2419="" data-v-1d8d6f66="" class="mb-24"
                                         style="margin-bottom: 24px">
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                    </div>
                                    <div
                                            class="swiper_inner1" style="color: rgb(32, 35, 37);">
                                        실패 할 수 있었던 농사에서 <br>큰 성공을 거두었습니다!
                                    </div>
                                    <div class="swiper_inner2" style="color: rgb(60, 65, 68);">
                                        멘토님 덕분에 성공을 할 수 있었습니다!<br><br>
                                        제가 어떤 방식으로 농사를 진행하고있는지 철저한 분석을 통해 잘못된 부분을 지적해주시고<br><br>
                                        다시 올바른 행동을 할 수 있도록 도움을 주셨습니다! 너무 감사드립니다!
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div data-v-77cc2419="" data-v-1d8d6f66="" class="mb-24"
                                         style="margin-bottom: 24px">
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                        <svg data-v-bd9f2bcc="" data-v-77cc2419="" width="28" height="28"
                                             viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="c-application c-icon" data-v-1d8d6f66=""
                                             style="fill: rgb(255, 215, 0);">
                                            <path data-v-bd9f2bcc=""
                                                  d="M13.0952 2.42274C13.4555 1.65714 14.5445 1.65714 14.9048 2.42274L18 9L25.0826 9.76985C25.9246 9.86137 26.2787 10.8928 25.6704 11.4822L20.75 16.25L21.9098 23.7889C22.0413 24.6433 21.0999 25.2507 20.3756 24.7788L14 20.625L7.62443 24.7788C6.90011 25.2507 5.95872 24.6433 6.09017 23.7889L7.25 16.25L2.32957 11.4821C1.72132 10.8928 2.07539 9.86137 2.9174 9.76985L10 9L13.0952 2.42274Z"></path>
                                        </svg>
                                    </div>
                                    <div class="swiper_inner1" style="color: rgb(32, 35, 37);">
                                        여러분들도 멘토시스템 꼭 이용해보세요! <br>큰 도움이
                                        될 것입니다!
                                    </div>
                                    <div class="swiper_inner2" style="color: rgb(60, 65, 68);">
                                        귀농을 하게되고 정말로 많이 막막했습니다. 하지만 우연히 너와농부싶어 사이트를 찾게되었습니다.<br><br>
                                        그 안에서 멘토 시스템을 이용하였고 멘토님과 1대1 채팅과 다른 연락을 통해서 귀농에 대한 지식들을 얻을 수 있었습니다.<br><br>
                                        마냥 막막하기만 했던 저에게 큰 힘이 되어 주셔서 정말로 감사드립니다!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <svg data-v-bd9f2bcc="" data-v-7355d542="" width="24" height="24" viewBox="0 0 24 24" fill="black"
                         xmlns="http://www.w3.org/2000/svg" id="prev_svg" class="swiper-button-prev"
                         style="fill: rgb(32, 35, 37);transform: rotate(-90deg); left: 510px;" tabIndex="0"
                         role="button"
                         aria-label="Previous slide">
                        <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
                              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z"></path>
                    </svg>
                    <svg data-v-bd9f2bcc="" data-v-7355d542="" width="24" height="24" viewBox="0 0 24 24" fill="black"
                         xmlns="http://www.w3.org/2000/svg" id="next_svg" class="swiper-button-next"
                         style="fill: rgb(32, 35, 37); transform: rotate(90deg);" tabIndex="0" role="button"
                         aria-label="Next slide">
                        <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
                              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z"></path>
                    </svg>
                    <div data-v-7355d542="" slot="pagination"
                         class="swiper-pagination swiper-pagination-outside swiper-indicator-dark swiper-pagination-clickable swiper-pagination-bullets">
                        <button class="swiper-pagination-bullet" role="button" aria-label="Go to slide 1"></button>
                        <button class="swiper-pagination-bullet" role="button" aria-label="Go to slide 2"></button>
                        <button class="swiper-pagination-bullet" role="button" aria-label="Go to slide 3"></button>
                        <button class="swiper-pagination-bullet" role="button" aria-label="Go to slide 4"></button>
                    </div>

                </div>

                <!--동영상 배너 위 텍스트 부분-->
                <div id="content2_bottom">
                    <div class="c-application c-typography c-body2" style="color:#595F63;text-align:center; margin-top: 60px">
                        실제 멘티들의 생생한 동영상 후기
                        <div class="mt-12">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" style="fill:#767D82;transform:rotate(180deg);">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!--동영상 배너 시작-->
                    <div id="mentor_media">
                        <div style="position: relative">
                            <div id="media_container" class="swiper mySwiper1">
                                <div id="swiper_media" class="swiper-wrapper">
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_HkMvN4CbpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="z-index: 2"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/M8xq5aWNFyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="z-index: 2"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/7DZWIMX94_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="z-index: 2"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/QcWjg9BwY0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="z-index: 2"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/KQQUBaStiak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="z-index: 2"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 542px; margin-right: 24px;">
                                        <div class="swiper_slide_padding">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/BGIi8iWNpLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div class="slide_size"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--배너 왼쪽 오른쪽 화살표-->
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black" id="media_prev" class="media_button swiper-button-prev1" role="button">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z" data-v-bd9f2bcc=""></path>
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="black" id="media_next" class="media_button swiper-button-next1" role="button">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z" data-v-bd9f2bcc=""></path>
                            </svg>
                            <!--<div data-v-7355d542="" slot="pagination"
                                 class="swiper-pagination1 swiper-pagination1-outside swiper-indicator-dark swiper-pagination1-clickable swiper-pagination1-bullets">
                                <button class="swiper-pagination-bullet" role="button"
                                        aria-label="Go to slide 1"></button>
                                <button class="swiper-pagination-bullet" role="button"
                                        aria-label="Go to slide 2"></button>
                                <button
                                        class="swiper-pagination-bullet" role="button"
                                        aria-label="Go to slide 3"></button>
                                <button
                                        class="swiper-pagination-bullet" role="button"
                                        aria-label="Go to slide 4"></button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main_content3">
    <div id="content3_inner1">
        <div>
            <div id="content3_main">
                <div id="content3_main_inner1">
                    <div id="content3_main_inner2">
                        <div id="content3_text">
                            <div id="text_icon">
                                <picture class="min-img" style="display: inline-block; --optimized-image-width:40px; --optimized-image-aspect-ratio:40 / 40; --optimized-image-fallback-ratio:100%;">
                                    <source srcset="https://cdn.comento.kr/images/icon/icon-writing-fill.svg?s=80x80&amp;q=75" type="image/webp">
                                    <img src="https://cdn.comento.kr/images/icon/icon-writing-fill.svg" alt="" width="40" height="40" loading="lazy">
                                </picture>
                            </div>
                            <div id="content3_text_inner1">다양한 경험을 가지고 있는 멘토들의<br>프로그램과 노하우를 확인해보세요!</div></div>
                        <div id="content3_images">
                            <div id="content3_images_flex">
                                <div class="image_flex">
                                    <div class="image_flex_inner">
                                        <div class="image_flex_inner1">
                                            <picture class="inner2_image" style="display: inline-block; --optimized-image-width:100%; --optimized-image-aspect-ratio:305 / 202; --optimized-image-fallback-ratio:66.2295%; margin-bottom: 15px;">
                                                <source srcset="/image/mento/mento6.jpg" type="image/webp">
                                                <img src="/image/mento/mento6.jpg" alt="" width="305" height="202" loading="lazy"></picture>
                                            <div class="inner2_text">멘토링이 필요한 이유</div>
                                            <p class="inner2_text2" style="color: rgb(60, 65, 68); text-align: center;">귀농귀촌할 때 멘토들의 노하우와,<br>원하는 분야에 대해서 좀 더 자세히 알 수 있습니다</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="image_flex">
                                    <div class="image_flex_inner">
                                        <div class="image_flex_inner1">
                                            <picture class="inner2_image" style="display: inline-block; --optimized-image-width:100%; --optimized-image-aspect-ratio:305 / 202; --optimized-image-fallback-ratio:66.2295%; margin-bottom: 15px;">
                                                <source srcset="/image/mento/mento1.jpg" type="image/webp">
                                                <img src="/image/mento/mento1.jpg" alt="" width="305" height="202" loading="lazy"></picture>
                                            <div class="inner2_text">멘토 프로그램</div>
                                            <p class="inner2_text2" style="color: rgb(60, 65, 68); text-align: center;">자신이 직접 원하는 멘토를 찾아<br>좋은 프로그램들을 선택하실 수 있습니다</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="image_flex">
                                    <div class="image_flex_inner">
                                        <div class="image_flex_inner1">
                                            <picture class="inner2_image" style="display: inline-block; --optimized-image-width:100%; --optimized-image-aspect-ratio:305 / 202; --optimized-image-fallback-ratio:66.2295%; margin-bottom: 15px;">
                                                <source srcset="/image/mento/mento5.jpg" type="image/webp">
                                                <img src="/image/mento/mento5.jpg" alt="" width="305" height="202" loading="lazy"></picture>
                                            <div class="inner2_text">멘토 1:1 채팅</div>
                                            <p class="inner2_text2" style="color: rgb(60, 65, 68); text-align: center;">원하는 멘토와 1:1 채팅을 통해<br>실시간으로 원하는 정보를 얻을 수 있습니다</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--푸터 삽입-->
<div th:replace="/footer/footer.html :: footer" class="footer"/>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",

        },
        mousewheel: true,
        keyboard: true,
    });

    var swiper1 = new Swiper(".mySwiper1", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        centeredSlidesBounds: true,

        navigation: {
            nextEl: ".swiper-button-next1",
            prevEl: ".swiper-button-prev1",
        },
    });
</script>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/mento/intro.js"></script>
</html>