<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mento/list.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <title>멘토 목록 페이지</title>
</head>
<body>
<!--헤더 삽입-->
<div th:replace="/header/header.html :: header" class="header"/>

<!--바디-->
<div id="main_grid">
    <div id="main_grid_inner1">
        <main id="grid_main">
            <section id="section_banner">
                <div id="banner_container">
                    <div id="banner_container_inner1">
                        <div id="banner_container_inner2">
                            <div id="banner_container_inner3">
                                <div id="banner_background1">
                                    <div id="banner_background1_1">
                                        <picture class="banner_picture">
                                            <source srcset="https://cdn.comento.kr/images/vod/top-banner-kdc-prior.png?s=2216x780&amp;q=100"
                                                    type="image/webp">
                                            <img src="https://cdn.comento.kr/images/vod/top-banner-kdc-prior.png" alt=""
                                                 width="1108" height="390">
                                        </picture>
                                    </div>
                                </div>
                                <div id="banner_background2">
                                    <div id="banner_wrapper">
                                        <div>
                                            <div>
                                                <div col-sm="4" col-lg="12" class="">
                                                    <picture id="banner_image" style="display: inline-block;">
                                                        <source srcset="https://cdn.comento.kr/images/vod/lecture/kdc-logo-black.png?s=430x44&amp;q=75"
                                                                type="image/webp">
                                                        <img src="https://cdn.comento.kr/images/vod/lecture/kdc-logo-black.png"
                                                             alt="" width="215" height="22">
                                                    </picture>
                                                    <div id="banner_text" style="color:#040505;">
                                                        국비지원 100% 환급 코스<br> 무료 수강 사전 모집중!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="banner_button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section_list">
                <article id="mentor_list_wrap">
                    <div id="mentor_text">
                        <div id="mentor_text_inner1">
                            <div id="mentor_text_inner2">
                                <div id="mentor_text_inner3">
                                    <div id="mentor_text_flex">
                                        <div id="mentor_text_1_1">멘토 목록</div>
                                    </div>
                                    <form action="/mento/write">
                                        <div id="mentor_text_2">
                                            너와농부싶어에서 검증된 현직자 멘토를 만나보세요.
                                            <input type="submit" value="홍보 글 작성" id="mentor_write_button">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mentor_list">
                        <div id="mentor_list_flex">
                            <div id="mentor_list_flex_inner1">
                                <div id="mentor_list_flex_inner2">
                                    <div id="mentor_list_flex_inner3">
                                        <!--멘토 목록 리스트 반복 시작-->
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <div class="mentor_info">
                                            <a href="/mento/detail">
                                                <article class="mentor_info_inner1">
                                                    <div class="mentor_info_inner2">
                                                        <picture class="mentor_info_image" style=";">
                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">
                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                                                        </picture>
                                                    </div>
                                                    <div class="mentor_info_inner3">
                                                        <div class="mentor_info_subTitle">
                                                            <div class="mentor_info_subTitle2">감자</div>
                                                        </div>
                                                        <div class="mentor_info_title">
                                                            <div class="mentor_info_title2">멘토가 알려주는 감자 농사법</div>
                                                        </div>
                                                        <div class="mentor_info_caption">
                                                            <div class="mentor_star">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">
                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>
                                                                </svg>
                                                                <span class="mentor_star_span">4.9</span>
                                                                <div class="mentor_star_avg">(221)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                        <!--멘토 목록 리스트 반복 끝-->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </div>
</div>

<!--푸터 삽입-->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/mento/list.js"></script>