<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mento/list.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <title>멘토 목록 페이지</title>
</head>
<body>
<!--헤더 삽입-->
<div th:replace="/header/header.html :: header" class="header"/>

<!--바디-->
<div id="main_grid">
    <div id="main_grid_inner1">
        <main id="grid_main">
            <section id="section_banner">
                <div id="banner_container">
                    <div id="banner_container_inner1">
                        <div id="banner_container_inner2">
                            <div id="banner_container_inner3">
                                <div id="banner_background1">
                                    <div id="banner_background1_1">
<!--                                        <picture class="banner_picture">-->
<!--                                            <source srcset="https://cdn.comento.kr/images/vod/top-banner-kdc-prior.png?s=2216x780&amp;q=100"-->
<!--                                                    type="image/webp">-->
                                            <img src="/image/mento/mento10.png" alt="" style="width: 390px; margin: 1px 118px 48px 720px;">
<!--                                        </picture>-->
                                    </div>
                                </div>
                                <div id="banner_background2">
                                    <div id="banner_wrapper">
                                        <div>
                                            <div>
                                                <div col-sm="4" col-lg="12" class="">
                                                    <picture id="banner_image" style="display: inline-block;">
                                                        <source srcset="/image/header/logo.png"
                                                                type="image/webp">
                                                        <img src="/image/header/logo.png"
                                                             alt="" width="215" height="22" style="width: 125px; height: 50px;">
                                                    </picture>
                                                    <div id="banner_text" style="color:#040505;">
                                                        귀농귀촌 100% 완벽 준비!<br> 자신이 원하는 멘토를 찾아보세요!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="banner_button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section_list">
                <article id="mentor_list_wrap">
                    <div id="mentor_text">
                        <div id="mentor_text_inner1">
                            <div id="mentor_text_inner2">
                                <div id="mentor_text_inner3">
                                    <div id="mentor_text_flex">
                                        <div id="mentor_text_1_1">멘토 목록</div>
                                    </div>
                                    <form action="/mento/write">
                                        <div id="mentor_text_2">
                                            <input type="hidden" th:value="${sessionMemberId}" name="session" id="sessionMember">
                                            <input type="hidden" th:value="${sessionMemberType}" name="session" id="sessionMemberType">
                                            너와농부싶어에서 검증된 현직자 멘토를 만나보세요.
                                            <div class="write-wrap">
                                                <input type="submit" value="홍보 글 작성" id="mentor_write_button">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mentor_list">
                        <div id="mentor_list_flex">
                            <div id="mentor_list_flex_inner1">
                                <div id="mentor_list_flex_inner2">
                                    <div id="mentor_list_flex_inner3">
                                        <!--멘토 목록 리스트 반복 시작-->
<!--                                        <div class="mentor_info">-->
<!--                                            <th:block th:each="list:${lists}">-->
<!--                                            <a th:href="@{/mento/detail(mentorBoardId=${list.mentorBoardId})}" th:object="${list}">-->
<!--                                                <article class="mentor_info_inner1">-->
<!--                                                    <div class="mentor_info_inner2">-->
<!--                                                        <picture class="mentor_info_image">-->
<!--                                                            <source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">-->
<!--                                                            <img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">-->
<!--                                                        </picture>-->
<!--                                                    </div>-->
<!--                                                    <div class="mentor_info_inner3">-->
<!--                                                        <div class="mentor_info_subTitle">-->
<!--                                                            <div class="mentor_info_subTitle2" th:text="*{mentorCrop}"></div>-->
<!--                                                        </div>-->
<!--                                                        <div class="mentor_info_title">-->
<!--                                                            <div class="mentor_info_title2" th:text="*{mentorTitle}"></div>-->
<!--                                                        </div>-->
<!--                                                        <div class="mentor_info_caption">-->
<!--                                                            <div class="mentor_star">-->
<!--                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">-->
<!--                                                                    <path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path>-->
<!--                                                                </svg>-->
<!--                                                                <span class="mentor_star_span">4.9</span>-->
<!--                                                                <div class="mentor_star_avg">(221)</div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </article>-->
<!--                                            </a>-->
<!--                                            </th:block>-->
<!--                                </div>-->
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="menu-a more-btn">
                    더보기
                    <svg data-v-bd9f2bcc="" data-v-6e28c8f5="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="my-page-aside-menu-toggle ml-4 c-application c-icon click-passive" data-v-1d2e44b5="" style="fill: rgb(118, 125, 130); transform: rotate(180deg);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>
                </div>
            </section>
        </main>
    </div>
</div>

<!--푸터 삽입-->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/mento/list.js"></script>
<script>
    globalThis.check= false;
    globalThis.page = 1;
    mentorBoardList()
    function mentorBoardList() {
        $.ajax({
            url:"/mentor/list?page="+(globalThis.page-1),
            type:"get",
            success:show
        })
    }

    function  show(result) {
        let text="";
        var count = result.totalElement;
        var end = result.totalPages;

        if(result.last){
            globalThis.check= true;
            $("div.more-btn").remove();
        }
        $(result.content).each((i,mentorBoard) => {
                text += `<div class="mentor_info">`
                text += `<a href="/mento/detail?mentorBoardId=`+ mentorBoard.mentorBoardId +`">`
                text += `<article class="mentor_info_inner1">`
                text += `<div class="mentor_info_inner2">`
                text += `<picture class="mentor_info_image">`
                // text += `<source srcset="https://cdn.comento.kr/images/vod/lecture/braze.png?s=518x600&amp;q=75" type="image/webp">`
                //<img src="https://cdn.comento.kr/images/vod/lecture/braze.png" alt="" width="259" height="300">
                text += `<img src="/mentofile/display?fileName=` + mentorBoard.files[0].fileUploadPath + `/` + mentorBoard.files[0].fileUuid + `_` + mentorBoard.files[0].fileName + `"` + `width="259" height="300" ></picture></div>`
                text += `<div class="mentor_info_inner3">`
                text += `<div class="mentor_info_subTitle">`
                text += `<div class="mentor_info_subTitle2">`+ mentorBoard.mentorCrop +`</div></div>`
                text += `<div class="mentor_info_title">`
                text += `<div class="mentor_info_title2">`+ mentorBoard.mentorTitle +`</div></div>`
                text += `<div class="mentor_info_caption">`
                text += `<div class="mentor_star">`
                text += `<svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" element="span" class="mentor_star_inner1">`
                text += `<path d="M7.54402 1.51325C7.72091 1.12016 8.27905 1.12016 8.45594 1.51325L10.25 5.5L14.549 5.8944C14.9851 5.93442 15.1627 6.47608 14.8349 6.76654L11.75 9.5L12.5463 13.8799C12.6242 14.3082 12.1555 14.6245 11.7874 14.392L7.99998 12L4.21258 14.392C3.8445 14.6245 3.37577 14.3082 3.45365 13.8799L4.24998 9.5L1.16508 6.76654C0.837274 6.47608 1.01485 5.93442 1.45099 5.8944L5.74998 5.5L7.54402 1.51325Z"></path></svg>`
                text += `<span class="mentor_star_span">자신에게 맞는 멘토를 신청해보아요!</span>`
                text += `<div class="mentor_star_avg"></div></div></div></div></article></a></div>`
        })
        $("#mentor_list_flex_inner3").append(text);
    }

    $("div.more-btn").on("click", function(e){
        e.preventDefault();
        if(!globalThis.check){
            globalThis.page = globalThis.page+1;
            mentorBoardList();
        }
    });

    if($("#sessionMemberType").val() == 'MENTOR'){
        $(".write-wrap").show();
    }else{
        $(".write-wrap").hide();
    }

    // 헤더 검색창 없애기
    $(".search_form").css("visibility", "hidden");
</script>