<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/program/list.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main-grid">
    <div class="p-application-row">
    <div class="p-application-col">
    <div class="program-application">
    <div class="program-application-row">
    <div class="program-application-col">
        <section class="filter">
            <div class="filter-name">
                <div class="filter-list">
                    <span class="filter-button" id="showall-btn">전체보기</span>
                    <span class="filter-button" id="progress-btn">진행중</span>
                    <span class="filter-button" id="recent-register-btn">최근등록일순</span>
                    <span class="filter-button" id="recent-end-btn">최근마감일순</span>
                    <span class="filter-button" id="mentee-btn">멘티전용</span>
                    <span class="filter-button" id="user-btn">일반인용</span>
                    <span class="filter-button" id="pay-btn">유료</span>
                    <span class="filter-button" id="free-btn">무료</span>
                </div>
            </div>
            <div class="select-filter">
                <img src="/image/program/mark.gif" class="select-image">
                <div class="select-filter-name" id="current-status">전체 목록</div>
            </div>
        </section>
        <div class="program-container">
            <div class="program-list-container" id="list-foreach">
                <!--<th:block th:each="list:${lists}">
                     <div class="list-container" th:object="${list}">
                        <a th:href="@{/program/detail(programId=${list.programId})} ">
                            <article class="list-article">
                                <div class="list-image-container">
                                    <div class="list-point">
                                        <div th:if="${#strings.equals(list.programType,'ONLY_MENTEE')}">
                                            <span class="list-point-m">멘토 전용</span>
                                        </div>
                                        <div th:unless="${#strings.equals(list.programType,'ONLY_MENTEE')}">

                                        </div>
                                    </div>
                                    <img class="pg-image" src="/image/program/pgimage.gif">
                                </div>
                                <div class="list-info">
                                    <div class="pg-subtitle">
                                        <div class="pg-location" th:text="*{programLocation}"></div>
                                        <div class="pg-dot"> · </div>
                                        <div class="pg-price" th:if="${list.programPrice} == 0" th:text="무료"></div>
                                        <div class="pg-price" th:unless="${list.programPrice} == 0" th:text="*{programPrice}"></div>
                                    </div>
                                    <div class="pg-title">
                                        <div class="pg-title-name" th:text="*{programTitle}"></div>
                                    </div>
                                    <div class="pg-caption">
                                        <span class="pg-date" th:text="${#temporals.format(list.programWorkDate,'MM월 dd일 시작')}"></span>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                </th:block>
                &lt;!&ndash;<div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    <div><span class="list-point-m">멘티전용</span></div>
                                </div>
                                <img class="pg-image" src="/image/program/pgimage.gif">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>&ndash;&gt;
                <div class="list-container">
                    <a th:href="@{/program/detail}">
                        <article class="list-article">
                            <div class="list-image-container">
                                <div class="list-point">
                                    &lt;!&ndash;<div><span class="list-point-m">멘티전용</span></div>&ndash;&gt;
                                </div>
                                <img class="pg-image" src="https://cdn.comento.kr/images/edu/after-class/thumbnail-coming-soon.jpg?s=518x272&q=75">
                            </div>
                            <div class="list-info">
                                <div class="pg-subtitle">
                                    <div class="pg-location">경기도</div>
                                    <div class="pg-dot"> · </div>
                                    <div class="pg-price">무료</div>
                                </div>
                                <div class="pg-title">
                                    <div class="pg-title-name">일일 무 뽑기 프로그램</div>
                                </div>
                                <div class="pg-caption">
                                    <span class="pg-date">11월 28일 시작</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/program/list.js"></script>
<script>
    let date = new Date();
    // 헤더 검색창 없애기
    $(".search_form").css("visibility", "hidden");
</script>
</html>