<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program pay</title>
    <link rel="stylesheet" href="/css/program/pay.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="icon" href="/image/header/favicon.png"/>
    <link rel="shortcut icon" href="/image/header/favicon.png"/>
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div class="main-grid">
    <div class="c-row">
        <div class="c-grid-container">
            <div class="no-gutters">
                <div class="mentor-show">
                    <div class="telling-avatar-quote">
                        <div class="telling-wrapper">
                            <div class="telling-title">
                                <div class="telling-title-content"><span id="name" th:text="${memberName}"></span>님, 참여를
                                    결정해주셔서 감사드려요!
                                </div>
                            </div>
                            <div class="telling-body">
                                <div class="telling-body-content">
                                    귀농귀촌 경험을 쌓고 싶은데, 혼자서는 어렵게 느껴지셨죠?<br>
                                    너와농부싶어 프로그램과 함께라면<br>
                                    차곡차곡 경험이 쌓여있는 나를 발견할 수 있을거예요.
                                </div>
                            </div>
                        </div>
                        <div class="avatar-wrapper">
                            <div class="avatar-container">
                                <img class="user-img" src="/image/program/user.webp">
                                <div class="user-div"></div>
                            </div>
                            <div class="avatar-name">
                                <div class="farmer-name" th:text="${farmerName}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-show">
                    <div class="apply-box">
                        <div class="callout-box">
                            <div class="callout-wrapper">
                                <div class="c-w-full">
                                    <img class="callout-img" src="/image/program/greencheck.gif">
                                    <div class="callout-message">
                                        <span th:text="${programApplyTotalCount}"></span>명이 프로그램명에 신청했어요. 서두르세요!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-line">결제자 정보</div>
                        <span class="user-info">
                <form action="" id="pg-apply-form" name="paymentForm">
                    <input type="hidden" th:value="${programName}" id="programName">
                    <input type="hidden" th:value="${memberEmail}" id="memberEmail">
                    <input type="hidden" th:value="${memberPhone}" id="memberPhone">
                    <input type="hidden" th:value="${memberLocation}" id="memberLocation">
                    <input type="hidden" th:value="${programApplyCount}" id="programApplyCount">
                    <input type="hidden" th:value="${programApplyBirth}" id="programApplyBirth">


                    <!-- 결제자 정보 -->
                    <div class="card-item-wrapper">
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">이름</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="name" id="username" th:value="${memberName}">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption1"></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">전화번호</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="phone" id="userphone">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption2"></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">이메일</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="email" id="useremail">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption3"></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">신청인원</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="apply-count" th:text="${programApplyCount} + 명"></div>
                            </div>
                        </span>
                    </div>
                    </div>
                    <!-- 결제 금액 -->
                    <div class="card-item-wrapper">
                        <div class="user-line">결제 금액</div>
                        <div class="payment-card-price-wrapper">
                            <div class="payment-price">
                                <div class="payment-info">정가</div>
                                <div class="price-number" id="programPrice" th:text="${programPrice}"></div>
                            </div>
                            <div class="payment-price">
                                <div class="payment-info">신청인원</div>
                                <div class="price-number" th:text="x +${programApplyCount}+명"></div>
                            </div>
                            <hr class="dash">
                            <div class="total-price">
                                <div class="total-payment-info">최종 결제 금액</div>
                                <div class="total-payment-info" id="totalPrice" th:text="${programTotalPrice}"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 결제 수단 -->
                    <div class="card-item-wrapper">
                        <div class="user-line">결제 수단</div>
                        <ul class="payment-type-group">
                            <li class="payment-type-list a">
                                <input id="inicis" name="pay" value="inicis" checked="checked" type="radio"
                                       class="payment-radio">
                                <label class="clearfix commoncss" id="kcp">
                                    <div class="payment-type-item-wrapper">
                                        <div class="payment-type-item">
                                            <img class="logo-pg" src="https://comento.kr/images/logo/logo_kginicis.svg">
                                            <div class="payment-type-item-typo">카드결제</div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li class="payment-type-list b">
                                <input id="kakaopay" name="pay" value="kakaopay" type="radio" class="payment-radio">
                                <label class="nofix commoncss" id="kakao">
                                    <div class="payment-type-item-wrapper">
                                        <div class="payment-type-item">
                                            <img class="logo-pg"
                                                 src="https://cdn.comento.kr/images/logo/logo-kakaopay.png">
                                            <div class="payment-type-item-typo">간편결제</div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!-- 이용약관 및 유의사항 -->
                    <div>
                        <div class="rules">
                            <div class="rules-title">이용약관 및 유의사항</div>
                            <button type="button" class="rule-button" id="ruleB"><img class="rule-button"
                                                                                      src="/image/program/updown.gif"></button>
                        </div>
                        <hr class="divider">
                        <div class="slide-fade" id="ruleD">
                            <div class="rule-detail">
                                - 강의 시작 24시간 전까지 취소 시, 결제 금액 전액 환불<br>
                                - 그 이후 취소 신청 시, 환불 불가<br>
                                - 취소하면 결제에 사용된 할인 쿠폰은 소멸되며 재사용할 수 없습니다.<br>
                                - 세부 환불 규정은 멘티 가이드에서 확인하시기 바랍니다.</div>
                            </div>
                        </div>
                        <div class="pay-agree">위 내용을 확인하였으며, 결제에 동의합니다.</div>
                    <!-- 결제버튼 -->
                    <input type="hidden" id="programId" th:value="${programId}">
                    <div class="button-wrapper">
                    <button type="button" class="pay-button" id="pay">
                        <div class="button-icon" id="pay_button">결제하기</div></button>
                    </div>
                </form>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>




    $("#pay").on("click", function () {

        if ($('input[id=inicis]:checked').val() == 'inicis') {
            console.log("kcp들어옴");
            kcp();
        }
        else if($('input[id=kakaopay]:checked').val() == 'kakaopay'){
            console.log("카카오들어옴");
            kakao();
        }
        //
        // $("li.a").on("click", function(){
        //     $("#inicis").prop("checked", true);
        //     $("#kakaopay").prop("checked", false);
        // });
        //
        // $("li.a").on("click", function () {
        //     kcp();
        // })
        //
        // $("li.b").on("click", function () {
        //     kakao();
        // })




        let payProgramName = $("#programName").val();
        let payEmail = $("#useremail").val();
        let payPhone = $("#userphone").val();
        let payLocation = $("#memberLocation").val();
        let payPrice = $("#programPrice").text();
        let payMemberName = $("#username").val();
        let programApplyCount = $("#programApplyCount").val();
        let programTotalPrice = $("#totalPrice").text();
        let programApplyBirth = $("#programApplyBirth").val();

        console.log(payProgramName);
        console.log(payEmail);
        console.log(payPhone);
        console.log(payLocation);
        console.log(payPrice);
        console.log(payMemberName);
        console.log(programApplyCount);
        console.log(programTotalPrice);

    })

    /*결제 kcp 클릭 시*/
    async function kcp() {

        const response = await Bootpay.requestPayment({
            "application_id": "6396e2d3d01c7e001bfeb95a",
            // "price": programTotalPrice,
            "price": $("#totalPrice").text(),
            "order_name": $("#username").val(),
            "order_id": "order_id_" + new Date().getTime(),
            "pg": "케이씨피",
            "method": "카드",
            "tax_free": 0,
            "user": {
                // "id": "회원아이디",
                "username": $("#username").val(),
                "phone": $("#userphone").val(),
                "email": $("#useremail").val()
            },
            "items": [
                {
                    "id": "item_id_" + new Date().getTime(),
                    "name": $("#programName").val(),
                    // "qty": programApplyCount,
                    "qty": $("#programApplyCount").val(),
                    // "price": payPrice
                    "price": $("#programPrice").text()
                }
            ],
            "extra": {
                "open_type": "iframe",
                "card_quota": "0,2,3",
                "escrow": false,
                "seller_name": "너와농부싶어"
            }
        })

        // let programApplyCount = $("#programName").val();
        let payEmail = $("#useremail").val();
        let payPhone = $("#userphone").val();
        let payLocation = $("#memberLocation").val();
        let payPrice = $("#programPrice").text();
        let payMemberName = $("#username").val();
        let programApplyCount = $("#programApplyCount").val();
        let programTotalPrice = $("#totalPrice").text();
        let programApplyBirth = $("#programApplyBirth").val();

        switch (response.event) {

            case 'done':
                alert("성공!");
                // 결제 완료 처리
                $.ajax({
                    url: "/applypay/applyfin?programId=" + $("#programId").val(),
                    type : "post",
                    data : JSON.stringify({
                        "programApplyBirth" : $("#programApplyBirth").val(),
                        "programApplyCount": $("#programApplyCount").val(),
                        "programApplyEmail": $("#useremail").val(),
                        "programApplyLocation":$("#memberLocation").val(),
                        "programApplyName":$("#username").val(),
                        "programApplyPhoneNum":$("#userphone").val(),
                        "programPayment":$("#totalPrice").text(),
                        "programId" : $("#programId").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    success : function(data){
                        console.log("성공!")
                    }
                });
                break;

            case 'error':
                alert("에러 발생");
                break;
        }


        function giveMoneyCash(pay, callback) {
            $.ajax({
                url: "/applypay/applyfin?",
                type : "post",
                data : JSON.stringify(pay),
                contentType: "application/json; charset=utf-8",
                success : function(data){

                }
            });
        }

    }
    /*결제 카카오 클릭 시*/
    async function kakao() {

        const response = await Bootpay.requestPayment({
            "application_id": "6396e2d3d01c7e001bfeb95a",
            // "price": programTotalPrice,
            "price": $("#totalPrice").text(),
            "order_name": $("#username").val(),
            "order_id": "order_id_" + new Date().getTime(),
            "pg": "카카오페이",
            "method": "카카오페이",
            "tax_free": 0,
            "user": {
                // "id": "회원아이디",
                "username": $("#username").val(),
                "phone": $("#userphone").val(),
                "email": $("#useremail").val()
            },
            "items": [
                {
                    "id": "item_id_" + new Date().getTime(),
                    "name": $("#programName").val(),
                    // "qty": programApplyCount,
                    "qty": $("#programApplyCount").val(),
                    // "price": payPrice
                    "price": $("#programPrice").text()
                }
            ],
            "extra": {
                "open_type": "iframe",
                "card_quota": "0,2,3",
                "escrow": false,
                "seller_name": "너와농부싶어"
            }
        })

        // let programApplyCount = $("#programName").val();
        let payEmail = $("#useremail").val();
        let payPhone = $("#userphone").val();
        let payLocation = $("#memberLocation").val();
        let payPrice = $("#programPrice").text();
        let payMemberName = $("#username").val();
        let programApplyCount = $("#programApplyCount").val();
        let programTotalPrice = $("#totalPrice").text();
        let programApplyBirth = $("#programApplyBirth").val();

        switch (response.event) {

            case 'done':
                alert("성공!");
                // 결제 완료 처리
                $.ajax({
                    url: "/applypay/applyfin?programId=" + $("#programId").val(),
                    type : "post",
                    data : JSON.stringify({
                        "programApplyBirth" : $("#programApplyBirth").val(),
                        "programApplyCount": $("#programApplyCount").val(),
                        "programApplyEmail": $("#useremail").val(),
                        "programApplyLocation":$("#memberLocation").val(),
                        "programApplyName":$("#username").val(),
                        "programApplyPhoneNum":$("#userphone").val(),
                        "programPayment":$("#totalPrice").text(),
                        "programId" : $("#programId").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    success : function(data){
                        console.log("성공!")
                    }
                });
                break;

            case 'error':
                alert("에러 발생");
                break;
        }


        function giveMoneyCash(pay, callback) {
            $.ajax({
                url: "/applypay/applyfin?",
                type : "post",
                data : JSON.stringify(pay),
                contentType: "application/json; charset=utf-8",
                success : function(data){

                }
            });
        }

    }
</script>
<script src="/js/header/header.js"></script>
<script src="/js/program/pay.js"></script>
<script src="https://js.bootpay.co.kr/bootpay-4.2.6.min.js" type="application/javascript"></script>
<script>
    // 헤더 검색창 없애기
    $(".search_form").css("visibility", "hidden");
</script>
</html>