<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program register</title>
    <link rel="stylesheet" href="/css/program/register.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png"/>
    <link rel="shortcut icon" href="/image/header/favicon.png"/>
</head>
<body>
<div class="__nuxt">
    <div id="__layout">
        <div id="main-grid">
            <div class="c-new-row">
                <div class="c-new-col">
                    <form id="writeForm" method="post"  action="/program/update" th:object="${updateRegister}">
                        <input hidden th:field="*{programId}">
                        <span>
                            <!--헤더-->
                            <div>
                                <div class="pg-opening-header-container">
                                <div class="c-new-row">
                                <div class="c-new-col new-col-log-12">
                                    <div class="opening-header">
                                        <div class="opening-header-left">
                                            <div class="left-title">프로그램 수정</div>
                                        </div>
                                        <div class="opening-header-right flex">
                                            <!--<button class="header-button1"><div class="flex"/>저장하기<div class="flex"/></button>-->
                                            <button class="header-button2" id="btn-modal"><div class="flex"/>나가기<div
                                                    class="flex"/></button>
                                        </div>
                                    </div>
                                    <!--모달-->
                                    <div>
                                        <aside id="c-overlay">
                                            <div class="register-modal">
                                                <div class="modal-wrapper">
                                                    <div class="modal-title-wrapper">
                                                        <div class="modal-title">정말 그만둘까요?</div>
                                                    </div>
                                                    <div class="modal-content-wrapper">
                                                        <div class="modal-content1">
                                                            오늘, 마음 먹은 김에 프로그램을 만들고<br><div class="modal-content2">농장주님을 기다리고 있는 사람들을 만나보세요!</div>
                                                            <div class="exit-modal-action-container">
                                                                <button class="button-1"><div class="flex"/>나가기<div
                                                                        class="flex"/></button>
                                                                <button class="button-2"><div class="flex"/>계속 작성하기<div
                                                                        class="flex"/></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="opening-progress-bar-background">
                                        <div class="opening-progress-bar"></div>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                             <!--글 본문-->
                            <div class="opening-body-container">
            <!--프로그램 대상-->
                <span id="pg1">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title"><span class="point-title">누구를 위한 프로그램</span>을 열까요?</div>
                        <div class="profile-subtitle">누구를 위해, 어떤 스킬을 알려주실 수 있는 지 알려주세요.</div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">농작물</div>
                        <div class="body-caption">프로그램에서 다루는 농작물을 알려주세요.</div>
                    </div>
                    <span>
                        <div class="opening-short-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" th:field="*{programCrop}" placeholder="예시 ) 감자, 고구마"
                                           name="text-field" autocomplete="off" class="c-text-field-input">
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">대상자 선정</div>
                        <div class="body-caption">선수 지식이 필요한 경우 '경험자'를 선택해주세요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group" id="first_selected">
                        <span class="select-chip c-chip" th:field="*{programType}">일반인용</span>
                        <span class="select-chip c-chip" th:field="*{programType}">멘티전용</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="title-example-container">
                    <div>
                        <div class="section-body">프로그램 대상</div>
                        <div class="body-caption">어떤 사람들을 위한 프로그램인가요?</div>
                    </div>
                    <span class="example-chip e-chip1">예시보기</span>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" th:field="*{programTarget1}" placeholder="도움받을 수 있는 상황을 함께 적으면 좋아요!"
                                   name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" th:field="*{programTarget2}" placeholder="대상 2" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" th:field="*{programTarget3}" placeholder="대상 3" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" th:field="*{programTarget4}" placeholder="대상 4" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>
                </div>
                </div>
                </span>
                <!--오른쪽 사이드바-->
            <div id="guide1" class="opening-guide-container">
            <div class="guide-list-container">
                <div>
                <div class="pg-opening-guide op-o-g1">
                <div>
                <div class="guide-title-container">
                    <div class="guide-title-container-wrapper">
                        <div class="example">예시</div>
                        <hr class="vertical-line">
                        <div class="example-target">프로그램 대상</div>
                    </div>
                    <img class="arrow-icon a-icon1" src="/image/program/guide_updown.gif">
                </div>
                </div>
                <div class="guide-content g-content1">
                    <div class="guide-chip-container">
                        <span class="opening-select-chip ex-1 active">일일 체험</span>
                        <span class="opening-select-chip ex-2">교육</span>
                    </div>
                    <img class="guide-img example1" src="/image/program/ex1.gif">
                </div>
                </div>
                </div>
            </div>
            </div>
                <!--프로그램 목표-->
            <span id="pg2">
            <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title">프로그램이 끝나면,<br></gr><span
                                class="point-title">어떤 작업을 할 수 있게 될까요?</span></div>
                        <div class="profile-subtitle"></div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 제목</div>
                        <div class="body-caption">프로그램의 주제, 대상, 전문성이 드러날 수 있도록 작성해주세요.</div>
                    </div>
                    <span>
                        <div class="opening-long-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" id="r-content" th:field="*{programTitle}"
                                           placeholder="제목을 작성하세요!" name="text-field" autocomplete="off"
                                           class="c-text-field-input2">
                                </div>
                            </div>
                            <div class="input-length">
                                <div class="length-wrapper">
                                    <div class="c-caption1"><span id="count-txt">0</span></div>
                                </div>
                                <div>
                                    <div class="c-caption2">/76</div>
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 소제목</div>
                    </div>
                    <span>
                        <div class="opening-long-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" th:field="*{programTitleSub}" placeholder="소제목을 작성하세요!"
                                           name="text-field" autocomplete="off" class="c-text-field-input2">
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 난이도</div>
                        <div class="body-caption">초급은 '베이직', 중급은 '스킬업', 고급은 '마스터'로 표시돼요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group" id="second_selected">
                        <span class="select-chip c-chip" th:field="*{programLevel}">초급</span>
                        <span class="select-chip c-chip" th:field="*{programLevel}">중급</span>
                        <span class="select-chip c-chip" th:field="*{programLevel}">고급</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="title-example-container">
                    <div>
                        <div class="section-body">프로그램 결과</div>
                        <div class="body-caption">프로그램이 끝난 후 실무에서 해낼 수 있는 결과에 대해 작성해주세요.</div>
                    </div>
                    <span class="example-chip e-chip2">예시보기</span>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programResult1}"
                                   placeholder="공감할 수 있는 구체적인 상황을 작성하면 인기 프로그램이 될 확률이 높아요!" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programResult2}" placeholder="결과 2" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programResult3}" placeholder="결과 3" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programResult4}" placeholder="결과 4" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>
                <section>
                    <div class="title-example-container">
                    <div>
                        <div class="section-body">농장주 소개</div>
                        <div class="body-caption">프로그램을 통해 전달하고 싶은 내용이 드러나도록 작성해주세요.</div>
                    </div>
                    <span class="example-chip e-chip3">예시보기</span>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container-textarea">
                            <textarea th:field="*{programFarmerInfo}"
                                      placeholder="농장주님이 프로그램을 통해 전달하고 싶은 것, 그것을 잘 전달할 수 있는 농장주님만의 배경 및 전략, 프로그램을 만든 이유 등을 녹여보세요!"
                                      autocomplete="off" class="textarea-editor"
                                      oninput='this.style.height = "21px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>
                </section>
                </div>
                </div>
            </span>
                <!--오른쪽 사이드바-->
            <div id="guide2" class="opening-guide-container">
            <div class="guide-list-container">
                <div>
                <div class="pg-opening-guide op-o-g2">
                <div>
                <div class="guide-title-container">
                    <div class="guide-title-container-wrapper">
                        <div class="example">예시</div>
                        <hr class="vertical-line">
                        <div class="example-target">프로그램 결과</div>
                    </div>
                    <img class="arrow-icon a-icon2" src="/image/program/guide_updown.gif">
                </div>
                </div>
                <div class="guide-content g-content2">
                    <div class="guide-chip-container">
                        <span class="opening-select-chip ex-3 active">일일 체험</span>
                        <span class="opening-select-chip ex-4">교육</span>
                    </div>
                    <img class="guide-img example2" src="/image/program/ex3.gif">
                </div>
                </div>
                <div class="pg-opening-guide op-o-g3">
                <div>
                <div class="guide-title-container">
                    <div class="guide-title-container-wrapper">
                        <div class="example">예시</div>
                        <hr class="vertical-line">
                        <div class="example-target">농장주 소개</div>
                    </div>
                    <img class="arrow-icon a-icon3" src="/image/program/guide_updown.gif">
                </div>
                </div>
                <div class="guide-content g-content3">
                    <div class="guide-chip-container">
                        <span class="opening-select-chip ex-5 active">일일 체험</span>
                        <span class="opening-select-chip ex-6">교육</span>
                    </div>
                    <img class="guide-img example3" src="/image/program/ex5.gif">
                </div>
                </div>
                </div>
            </div>
            </div>
                <!--프로그램 소개-->
            <span id="pg3">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title">프로그램 목표를 달성하려면<br><span
                                class="point-title">어떤 내용이 담겨야 할까요?</span></div>
                        <div class="profile-subtitle">프로그램 목표를 달성하기 위해 진행되는 과정에 대해 상세히 작성해주세요.</div>

                    </div>
                </section>
                <section>
                    <div class="title-example-container">
                    <div>
                        <div class="section-body">프로그램 소개</div>
                        <div class="body-caption">예시를 참고해, 프로그램에서 꼭 다루는 내용과 그 이유를 작성해주세요.</div>
                    </div>
                    <span class="example-chip e-chip4">예시보기</span>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programInfoTitle1}" placeholder="1.타이틀" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <textarea type="text" th:field="*{programInfoContent1}" placeholder="본문" name="target-1"
                                      autocomplete="off" class="ql-editor-text"
                                      oninput='this.style.height = "50px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programInfoTitle2}" placeholder="2.타이틀" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <textarea type="text" th:field="*{programInfoContent2}" placeholder="본문" name="target-1"
                                      autocomplete="off" class="ql-editor-text"
                                      oninput='this.style.height = "50px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programInfoTitle3}" placeholder="3.타이틀" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <textarea type="text" th:field="*{programInfoContent3}" placeholder="본문" name="target-1"
                                      autocomplete="off" class="ql-editor-text"
                                      oninput='this.style.height = "50px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" th:field="*{programInfoTitle4}" placeholder="4.타이틀" name="target-1"
                                   autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <textarea type="text" th:field="*{programInfoContent4}" placeholder="본문" name="target-1"
                                      autocomplete="off" class="ql-editor-text"
                                      oninput='this.style.height = "50px"; this.style.height = this.scrollHeight + "px"'></textarea>
                        </div>
                    </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">이미지  </div>
                        <div class="body-caption">프로그램 상세 페이지에서 노출될 수 있는 이미지가 있다면 첨부해주세요.</div>
                    </div>
                    <div>
                        <div class="align-items-center">
                            <input type="file" id="file-input" name="upload" style="display: none;" required accept="image/*" multiple>
                            <label for="file-input"><img class="upload" src="/image/program/upload.gif"></label>
                            <!--<img class="upload upload-margin" src="/image/program/link_upload.gif">-->
                        </div>
                        <div class="c-callout-information">
                            <div class="c-callout-wrapper">
                                <div class="align-center">
                                    <img class="upload" src="/image/program/mark.gif">
                                    <div class="c-callout-message">첫번째 업로드 이미지가 대표 이미지로 설정됩니다.</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="uploadResult">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="c-callout-information-2" style="display: none">
                            <div id="file-content"></div><img id="deleteBtn" alt="첨부 삭제" src="/image/myPage/close.png" onclick="cancelFile()">
                        </div>
                    </div>
                </section>
            </div>
            </div>
            </span>
                <!--오른쪽 사이드바-->
            <div id="guide3" class="opening-guide-container">
            <div class="guide-list-container">
                <div>
                <div class="pg-opening-guide op-o-g4">
                <div>
                <div class="guide-title-container">
                    <div class="guide-title-container-wrapper">
                        <div class="example">예시</div>
                        <hr class="vertical-line">
                        <div class="example-target">프로그램 소개</div>
                    </div>
                    <img class="arrow-icon a-icon4" src="/image/program/guide_updown.gif">
                </div>
                </div>
                <div class="guide-content g-content4">
                    <div class="guide-chip-container">
                        <span class="opening-select-chip ex-7 active">일일 체험</span>
                        <span class="opening-select-chip ex-8">교육</span>
                    </div>
                    <img class="guide-img example4" src="/image/program/ex7.gif">
                </div>
                </div>
                </div>
            </div>
            </div>
                <!--상세 내용-->
            <span id="pg4">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                       <div class="profile-title">프로그램은 <span class="point-title">어떻게 진행</span>될까요?</div>
                        <div class="profile-subtitle">프로그램을 수강할 사람들을 위해, 프로그램에 대해 조금 더 자세히 알려주세요.</div>
                    </div>
                </section>

                <!--태관 참고-->
                <section>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">진행 일정</div>
                        <div class="curriculum-write-input-body">
                            <input type="date" name="programWorkDateString" autocomplete="off"
                                   class="c-text-field-input2">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">진행 시간</div>
                        <div class="curriculum-write-input-body">
                            <input type="time" name="programWorkStartTimeString" autocomplete="off"
                                   class="c-text-field-input2 half">
                            ~<input type="time" name="programWorkEndTimeString" autocomplete="off"
                                    class="c-text-field-input2 half">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">신청 기간</div>
                        <div class="curriculum-write-input-body">
                            <input type="date" name="programApplyStartDateString" autocomplete="off"
                                   class="c-text-field-input2 half">
                            ~<input type="date" name="programApplyEndDateString" autocomplete="off"
                                    class="c-text-field-input2 half">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">신청 인원</div>
                        <div class="curriculum-write-input-body">
                            <input type="text" th:field="*{programApplyTotalCount}" name="programApplyCount" placeholder="프로그램 신청 인원을 작성하세요! ex) 10명" autocomplete="off" class="c-text-field-input2">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">비용</div>
                        <div class="curriculum-write-input-body">
                            <input type="text" th:field="*{programPrice}"
                                   placeholder="프로그램 참가 비용을 작성하세요! ex) 무료 또는 10,000원" name="text-field"
                                   autocomplete="off" class="c-text-field-input2">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">장소</div>
                        <div class="curriculum-write-input-body">
                            <input type="text" th:field="*{programLocation}"
                                   placeholder="프로그램 진행 장소를 작성하세요! ex) 서울 노원구 중계로 8길 56 천수텃밭농원 " name="text-field"
                                   autocomplete="off" class="c-text-field-input2">
                        </div>
                        </div>
                    </div>
                    <div class="mb-12">
                        <div class="curriculum-write-input-container flex">
                        <div class="curriculum-write-input-title">문의</div>
                        <div class="curriculum-write-input-body">
                            <input type="text" th:field="*{programInquire}" placeholder="문의할 수 있는 연락처나 이메일을 작성하세요!"
                                   name="text-field" autocomplete="off" class="c-text-field-input2">
                        </div>
                        </div>
                    </div>
                </section>
                </div>
                </div>
            </span>
                            </div>
                <!--왼쪽 사이드바 -->
            <div class="opening-side-box">
            <div class="side-box-step-container">
                <div class="side-box-step">
                    <div id="pg-1" class="side-box-title pick">프로그램 대상</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-2" class="side-box-title">프로그램 목표</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-3" class="side-box-title">프로그램 소개</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-4" class="side-box-title">상세 내용</div>
                </div>
            </div>
            </div>

                <!--하단 사이드바 -->
            <div class="opening-footer-container">
            <div class="c-new-row">
            <div class="c-new-col new-col-log-12">
            <div class="opening-footer">
                <button class="footer-prev before" type="button"><div class="flex before"><img
                        class="footer-img-prev before" src="/image/program/prev_register.gif"></div>이전<div
                        class="flex before"/></button>
                <button class="footer-next next" type="button" id="submitRegister"><div class="flex next"/>다음<div
                        class="flex next"><img class="footer-img-next next"
                                               src="/image/program/next_register.gif"></div></button>
            </div>
            </div>
            </div>
            </div>
                            </span>

                <!--모달-->
                    <div>
                        <aside id="c-overlay-2" style="display: none">
                            <div class="register-modal">
                                <div class="modal-wrapper">
                                    <div class="modal-title-wrapper">
                                        <div class="modal-title" style="color:red">입력하지 않은 값이 있습니다.</div>
                                    </div>
                                    <div class="modal-content-wrapper">
                                        <div class="modal-content1">
                                            빨간 박스에 내용을 모두 입력한 후<br><div class="modal-content2"> 다시 시도해주세요!</div>
                                            <div class="exit-modal-action-container">
                                                <button class="button-ok" type="button"><div class="flex"/>확인<div
                                                        class="flex"/></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                <!--모달-->
                    <div>
                        <aside id="c-overlay-3" style="display: none">
                            <div class="register-modal">
                                <div class="modal-wrapper">
                                    <div class="modal-title-wrapper">
                                        <div class="modal-title" style="color:#47c880">글이 정상적으로 등록되었습니다.</div>
                                    </div>
                                    <div class="modal-content-wrapper">
                                        <div class="modal-content1">
                                            목록 페이지로 이동합니다.
                                            <div class="exit-modal-action-container">
                                                <button class="button-ok okay" type="button"><div class="flex"/>확인<div class="flex"/></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/program/register.js"></script>
<script th:inline="javascript">
    let arrayFile = [];
    /*$("a.list").on("click", function(e){
        e.preventDefault();
        location.href = "/board/list" + queryString;
    });*/

    /*파일이 넣어졌을 때*/
    $("input[type='file']").on("change", function(){
        let formData = new FormData();
        let $inputFile = $("input[name='upload']");
        let files = $inputFile[0].files;

        console.log(Array.from(files));

        Array.from(files).forEach(file => arrayFile.push(file));
        const dataTransfer = new DataTransfer();
        arrayFile.forEach(file => dataTransfer.items.add(file));
        $(this)[0].files = dataTransfer.files;

        console.log($(this)[0].files);

        $(files).each(function(i, file){
            formData.append("upload", file);
        });

        $.ajax({
            url: "/file/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: showUploadResult
        });
    });

    /*파일 선택 시 미리보기*/
    function showUploadResult(files){
        let text = "";
        $(files).each(function(i, file){
            text += `<li data-file-size="` + file.fileSize + `" data-file-name="` + file.fileName + `" data-file-upload-path="` + file.fileUploadPath + `" data-file-uuid="` + file.fileUuid + `" data-file-image-check="` + file.fileImageCheck + `">`;
            text += `<span>X</span>`;
            if(!file.fileImageCheck){
                text += `<img src="/image/program/count.gif" width="100">`;
            }else{
                text += `<img src="/file/display?fileName=` + file.fileUploadPath + `/s_` + file.fileUuid + "_" + file.fileName + `">`;
            }
            text += `<p>` + file.fileName +`(` + parseInt(file.fileSize / 1024) + `KB)</p>`
            text += `</li>`;
        });
        $(".uploadResult ul").append(text);
    }

    /*미리보기 삭제*/
    $(".uploadResult ul").on("click", "span", function(){
        const $li = $(this).closest("li");
        let i = $(".uploadResult ul span").index($(this));
        let uploadPath = $li.data("file-upload-path");
        let fileName = $li.data("file-uuid") + "_" + $li.data("file-name");
        $.ajax({
            url: "/file/delete",
            type: "post",
            data: {uploadPath: uploadPath, fileName: fileName, fileImageCheck: $li.data("file-image-check")},
            success: function(){
                $li.remove();
                arrayFile.splice(i, 1);
                const dataTransfer = new DataTransfer();
                arrayFile.forEach(file => dataTransfer.items.add(file));
                $("input[name='upload']")[0].files = dataTransfer.files;
            }
        });
    });

</script>
</html>